<app-amcs-inner-container-group>
  <div class="portlet portlet-fit bordered portlet-skeleton box" [ngClass]="{'blue': !isChild, 'grey': isChild}"
    *ngIf="loading; else loadedTemplate">
    <div class="portlet-title">
      <div class="caption portlet-skeleton-text-block">
      </div>
    </div>
    <div class="portlet-body" [ngClass]="{'dynamic-height': isDynamicHeight }">
      <!-- CSS animation taken from https://codepen.io/trungk18/pen/yJggrL -->
      <div class="portlet-skeleton-body-load">
        <div class="square square-c state1c"></div>
        <div class="square square-c state2c"></div>
      </div>
    </div>
  </div>
  <ng-template #loadedTemplate>
    <div class="portlet portlet-fit box"
      [ngClass]="{'blue': !isChild, 'grey': isChild, 'bordered': hasBorder, 'portlet-ribbon': showRibbon, 'mt-element-ribbon': showRibbon}">
      <div *ngIf="showRibbon" class="ribbon ribbon-left ribbon-clip ribbon-shadow ribbon-color-primary">
        <div class="ribbon-sub ribbon-clip  ribbon-left"></div>{{ count }}
      </div>
      <div class="portlet-title" [ngClass]="{'draggable-title': menuTemplate == null}">
        <div class="draggable-title caption" [ngClass]="{'draggable-width': menuTemplate != null}">
          <span class="caption-subject bold uppercase">{{ caption }}</span>
        </div>
        <div class="actions" [ngClass]="{'has-buttons': buttons && !isChild, 'has-buttons-child': buttons && isChild}">
          <span class="pull-left">
            <ng-container *ngIf="menuTemplate != null">
              <ng-template [ngTemplateOutlet]="menuTemplate">
              </ng-template>
            </ng-container>
          </span>
          <app-amcs-button *ngFor="let button of buttons;let i=index" [disabled]="button.disabled" [compName]="compName"
            [uniqueKey]="'btn_'+i"
            [customClass]="getButtonClasses(button.caption, button.icon, button.link, button.extraClasses)"
            (click)="button.disabled ? null : button.action()">
            <span>{{ button.caption }}</span>
            <i *ngIf="button.icon" class="fal {{button.icon}} fa-2x"></i>
          </app-amcs-button>
          <a *ngIf="images" (click)="images.action()" appAutomationLocator [compName]="compName" [uniqueKey]="'action'">
            <i class="fas fa-image fa-lg"></i>
          </a>
          <a *ngIf="inlineExpander" (click)="inlineExpander.action()" class="expander-button" appAutomationLocator
            [compName]="compName" [uniqueKey]="'inline'">
            <i *ngIf="inlineExpander.expanded else deexpandedTemplate" class="fal fa-compress"
              [ngClass]="{'fa-2x': !isChild}"></i>
            <ng-template #deexpandedTemplate>
              <i class="fal fa-expand" [ngClass]="{'fa-2x': !isChild}"></i>
            </ng-template>
          </a>
          <a *ngIf="expander" (click)="expander.action()" class="expander-button" appAutomationLocator
            [compName]="compName" [uniqueKey]="'expander'">
            <i class="fal fa-expand" [ngClass]="{'fa-2x': !isChild}"></i>
          </a>
          <a *ngIf="deexpander" (click)="deexpander.action()" class="expander-button" appAutomationLocator
            [compName]="compName" [uniqueKey]="'deExpander'">
            <i class="fal fa-compress" [ngClass]="{'fa-2x': !isChild}"></i>
          </a>
          <a *ngIf="closer" (click)="closer.action()" class="close-button" appAutomationLocator [compName]="compName"
            [uniqueKey]="'closer'">
            <i class="far fa-times" [ngClass]="{'fa-2x': !isChild}"></i>
          </a>
        </div>
      </div>
      <div class="portlet-body"
        [ngClass]="{'dynamic-height': isDynamicHeight, 'forced-min-height': forceMinHeight, 'no-padding': isRemovePadding }">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</app-amcs-inner-container-group>