<app-amcs-browser-tile [options]="options" (onAdd)="addPersonalAccessToken()" (onClose)="navigateBack()"
  [loading]="loading">
  <ng-container (@expandAndCollapse.done)="tileUiService.innerTilesChanged.next()" [@expandAndCollapse]
    *ngIf="service.addingToken">
    <app-personal-access-token-setup (onReturn)="service.editorReturn()">
    </app-personal-access-token-setup>
  </ng-container>
  <app-amcs-grid [compName]="'PersonalAccessTokenBrowserComponent'" [columns]="columns" [data]="personalAccessTokens"
    [actionColumnTemplate]="actionColumnTemplate" [noDataTemplate]="NoTokensTemplate">
  </app-amcs-grid>
</app-amcs-browser-tile>
<ng-template #NoTokensTemplate>
  <div [translate]="'personalAccessToken.noTokens'">No personal access tokens exist</div>
</ng-template>
<ng-template #actionColumnTemplate let-row="row" let-index="index">
  <a class="action-button delete-action-button" (click)="deletePersonalAccessToken(row.id)" appAutomationLocator
    [compName]="'PersonalAccessTokenBrowserComponent'" [uniqueKey]="'delete_' + index"><i class="fas fa-trash-alt"></i></a>
</ng-template>
<ng-template #privateKeyColumnTemplate let-row="row" let-index="index">
  <span *ngIf="!row.rowHighlighted" appAutomationLocator [compName]="'PersonalAccessTokenBrowserComponent'"
    [uniqueKey]="'privateKey_' + index">{{ row.privateKey | keyMask
    }}</span>
  <span *ngIf="row.rowHighlighted" appAutomationLocator [compName]="'PersonalAccessTokenBrowserComponent'"
    [uniqueKey]="'copyPrivateKeyClipboard_' + index">
    <app-amcs-tooltip-on-truncate [text]="row.privateKey" toolTipPlacement="bottom">
    </app-amcs-tooltip-on-truncate>
    <i ngxClipboard [cbContent]="row.privateKey" (cbOnSuccess)="onCopied()"
      tooltip="{{ 'personalAccessToken.copyToClipBoard' | translate }}" class="far fa-copy"></i>
  </span>
</ng-template>