<div class="amcs-grid loading" *ngIf="loading" [ngClass]="{'no-margin': noMargin}">
  <div class="amcs-flex-row amcs-grid-header-row">
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '4%'}">
    </div>

    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
      <div class="skeleton-text-block">
      </div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
      <div class="skeleton-text-block">
      </div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
      <div class="skeleton-text-block">
      </div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
      <div class="skeleton-text-block">
      </div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '4%'}">
      <div class="skeleton-text-block small">
      </div>
    </div>
  </div>
  <div class="amcs-flex-row amcs-grid-row">
    <div class="portlet-skeleton portlet-body">
      <div class="portlet-skeleton-body-load">
        <div class="square square-c state1c"></div>
        <div class="square square-c state2c"></div>
      </div>
    </div>
  </div>
</div>
<div class="amcs-grid" *ngIf="!loading" [ngClass]="{'no-margin': noMargin}" appAutomationLocator [compName]="compName"
  [uniqueKey]="'grid'" [class.horizontal-scroll]="allowHorizontalScroll" [style.height.px]="gridHeight"
  [style.height.vh]="gridViewHeight" [style.max-height]="gridMaxHeight">
  <div class="amcs-flex-row amcs-grid-header-row">
    <div *ngIf="rowDetailTemplate && currentViewport === Viewport.desktop"
      class="amcs-flex-item item-4 amcs-grid-header-cell"></div>
    <div *ngIf="mobileRowDetailTemplate && currentViewport === Viewport.mobile"
      class="amcs-flex-item item-4 amcs-grid-header-cell"></div>
    <div class="amcs-flex-item item-4 amcs-grid-header-cell">
      <ng-container *ngIf="selectAll">
        <label class="mt-checkbox">
          <input type="checkbox" [disabled]="disableSelection" [(ngModel)]="isSelectAll"
            (ngModelChange)="onSelectAllClicked($event)" appAutomationLocator [compName]="compName"
            [uniqueKey]="'selectAll'" />
          <span></span>
        </label>
      </ng-container>
    </div>
    <div *ngFor="let column of visibleColumns;let v=index" mwlResizable
      (resizeStart)="resizeHelper.onResizeStart($event.rectangle.width)"
      (resizing)="resizeHelper.onResizing(column, $event.rectangle.width)" [style.flex-basis.%]="column.widthPercentage"
      class="amcs-flex-item amcs-grid-header-cell">
      <img src="assets/resize-icon.gif" class="resize-handle" mwlResizeHandle
        [resizeEdges]="{bottom: true, right: true}" appAutomationLocator [compName]="compName"
        [uniqueKey]="'resize_'+v">
      <div class="header-text-truncator" [ngClass]="{
          'text-right': alignHeaderWithCell && column.align === GridColumnAlignment.end,
          'text-center': alignHeaderWithCell && column.align === GridColumnAlignment.center
        }">
        <app-amcs-tooltip-on-truncate [text]="column.title"></app-amcs-tooltip-on-truncate>
      </div>
    </div>
    <div *ngIf="actionColumnTemplate != null" class="amcs-flex-item amcs-grid-header-cell action-column"></div>
  </div>
  <ng-container *ngFor="let row of data;let i = index">
    <div class="amcs-flex-row amcs-grid-row" [tooltip]="row.tooltipText" [tooltipEnable]="!!row.tooltipText" [ngClass]="{
      'amcs-grid-row-highlight-red-text': row.rowTextHighlighted, 'amcs-grid-row-selected': row.isSelected,
      'row-error': row.isError, 'amcs-grid-row-disabled': disableSelection || row.forceDisabled}"
      (click)="onRowClicked(row)" appAutomationLocator [compName]="compName" [uniqueKey]="'row_' + i">
      <div *ngIf="rowDetailTemplate && currentViewport === Viewport.desktop"
        class="amcs-flex-item item-4 amcs-grid-cell amcs-grid-expander-cell">
        <i class="fa" (click)="onExpandRowClicked(row.id)"
          [ngClass]="{ 'fa-chevron-down': row.id !== expandedRowId, 'fa-chevron-up': row.id === expandedRowId }"
          aria-hidden="true" appAutomationLocator [compName]="compName" [uniqueKey]="'rowSelect_' + i"></i>
      </div>
      <div *ngIf="mobileRowDetailTemplate && currentViewport === Viewport.mobile"
        class="amcs-flex-item item-4 amcs-grid-cell amcs-grid-expander-cell">
        <i class="fa" (click)="onExpandRowClicked(row.id)"
          [ngClass]="{ 'fa-chevron-down': row.id !== expandedRowId, 'fa-chevron-up': row.id === expandedRowId }"
          aria-hidden="true" appAutomationLocator [compName]="compName" [uniqueKey]="'rowExpand_' + i"></i>
      </div>
      <div class="amcs-flex-item item-4 amcs-grid-cell">
        <label class="mt-checkbox">
          <input [ngModel]="row.isSelected" type="checkbox" [disabled]="disableSelection || row.forceDisabled"
            (click)="stopEvent($event)" appAutomationLocator [compName]="compName" [uniqueKey]="'rowChk_' + i" />
          <span></span>
        </label>
      </div>
      <ng-container *ngFor="let column of visibleColumns;let v=index">
        <div class="amcs-flex-item amcs-grid-cell" [style.flex-basis.%]="column.widthPercentage"
          [ngStyle]="{'text-align': column.align}">
          <ng-container [ngSwitch]="column.type">
            <ng-container *ngSwitchCase="ColumnType.text">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowText_' + i">{{ row[column.key] | glossary
                }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.truncatedText">
              <app-amcs-tooltip-on-truncate [manualResize]="column.tooltipManualResizeSubject" [text]="row[column.key] | glossary">
              </app-amcs-tooltip-on-truncate>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.link">
              <a (click)="onLinkClicked($event, row)" appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_rowLink_' + i">{{ row[column.key] | glossary }}</a>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.popover">
              <a (click)="onPopoverClicked($event, row)" [isOpen]="isPopoverOpenArray[row.id]"
                [popover]="popoverConfig.allowOnUnselectedRows || row.isSelected ? popoverTemplate: null"
                placement="left" [outsideClick]="true" containerClass="selector-popover" container="body"
                appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowPopover_' + i">{{
                column.currencyCode ? (row[column.key] | currency: column.currencyCode) : row[column.key] }}</a>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.email">
              <a href="mailto:{{ row[column.key] }}" appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_rowEmail_' + i">{{ row[column.key] }}</a>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.boolean">
              <i class="fa fa-check" aria-hidden="true" *ngIf="row[column.key]"></i>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.currency">
              <span class="currency-column" appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_rowCurrency_' + i">{{ row[column.key] | currency: column.currencyCode |
                minusToParenthesis }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.numericInput">
              <app-amcs-numerical-input appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowNumeric_' + i"
                alignment="right" [displayMode]="displayMode"
                [disabled]="!row.isSelected || disableSelection || row.forceDisabled || row.inputDisabled"
                [ngModel]="row[column.key]" (ngModelChange)="numericInputChanged(row, column, $event)"
                (click)="stopEvent($event)" [hasError]="row.inputValueOutOfBounds">
              </app-amcs-numerical-input>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.integerInput">
              <app-amcs-numerical-input appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowInteger_' + i"
                alignment="left" [precision]="0" [displayMode]="displayMode"
                [disabled]="!row.isSelected || disableSelection || row.forceDisabled || row.inputDisabled"
                [ngModel]="row[column.key]" (ngModelChange)="numericInputChanged(row, column, $event)"
                (click)="stopEvent($event)" [hasError]="row.inputValueOutOfBounds">
              </app-amcs-numerical-input>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.textInput">
              <input [ngModel]="row[column.key]" (ngModelChange)="textInputChanged(row, column, $event)"
                [disabled]="!row.isSelected || disableSelection || row.forceDisabled || row.inputDisabled"
                (click)="stopEvent($event)" [maxlength]="column.maxLength" appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_rowTextInput_' + i" />
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.shortDate">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowShortDates_' + i">{{
                row[column.key] | localizedDate : 'shortDate' }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.template">
              <ng-container [ngTemplateOutlet]="column.template"
                [ngTemplateOutletContext]="{ row: row, tooltipManualResizeSubject: column.tooltipManualResizeSubject }">
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span>{{ row[column.key] | glossary }}</span>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
      <div *ngIf="actionColumnTemplate != null" (click)="onActionClicked($event)"
        class="amcs-flex-item amcs-grid-cell amcs-grid-cell-row-actions action-column" appAutomationLocator
        [compName]="compName" [uniqueKey]="'action_'+i">
        <ng-container [ngTemplateOutlet]="actionColumnTemplate" [ngTemplateOutletContext]="{ row: row, index: i  }">
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="rowDetailTemplate && currentViewport === Viewport.desktop && row.id === expandedRowId">
      <div (@expandAndCollapse.done)="tileUiService.innerTilesChanged.next()" [@expandAndCollapse]
        class="amcs-flex-row amcs-grid-expanded-row">
        <div class="portlet-skeleton portlet-body" *ngIf="detailsLoading; else loadedTemplate">
          <div class="portlet-skeleton-body-load">
            <div class="square square-c state1c"></div>
            <div class="square square-c state2c"></div>
          </div>
        </div>
        <div class="details-container" [ngClass]="{ 'hide-content': detailsLoading }">
          <ng-template #loadedTemplate [ngTemplateOutlet]="rowDetailTemplate"
            [ngTemplateOutletContext]="{ row: row, index: i }">
          </ng-template>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="mobileRowDetailTemplate && currentViewport === Viewport.mobile && row.id === expandedRowId">
      <div (@expandAndCollapse.done)="tileUiService.innerTilesChanged.next()" [@expandAndCollapse]
        class="amcs-flex-row amcs-grid-expanded-row">
        <div class="portlet-skeleton portlet-body" *ngIf="detailsLoading; else loadedTemplate">
          <div class="portlet-skeleton-body-load">
            <div class="square square-c state1c"></div>
            <div class="square square-c state2c"></div>
          </div>
        </div>
        <div class="details-container" [ngClass]="{ 'hide-content': detailsLoading }">
          <ng-template #loadedTemplate [ngTemplateOutlet]="mobileRowDetailTemplate"
            [ngTemplateOutletContext]="{ row: row, index: i }">
          </ng-template>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div *ngIf="(!data || data.length < 1) && noDataTemplate" class="amcs-flex-row amcs-grid-row">
    <div class="amcs-flex-item amcs-grid-cell">
      <ng-container [ngTemplateOutlet]="noDataTemplate"></ng-container>
    </div>
  </div>
</div>
