<div class="form-group form-md-line-input amcs-input"
  [ngClass]="{'has-error' : hasError, 'has-success' : !hasError && edited, 'secondary-ui': isSecondaryUi, 'small-mode': displayMode === FormControlDisplay.Small, 'grid-mode': displayMode === FormControlDisplay.Grid}"
  appAutomationLocator [compName]="compName" [uniqueKey]="formControlName+'_'+uniqueKey">
  <select matNativeControl class="form-control" #select [disabled]="isDisabled" [ngModel]="value"
    (ngModelChange)="writeValue($event)" [ngClass]="{'edited' : edited}" (blur)="onTouchedCallback()"
    [takeFocus]="autoFocus" appAutomationLocator [compName]="compName"
    [uniqueKey]="formControlName+'_'+uniqueKey+'_select'">
    <option [ngValue]="null" [disabled]="!isOptional" [selected]="true">{{selectTranslation}}</option>
    <ng-content select="options"></ng-content>
  </select>
  <label>
    <ng-content select="label"></ng-content>
  </label>
</div>