.form-group.form-md-line-input.secondary-ui {
  .form-control {
    background: #fff;
  }
}

.small-mode {
  margin: 0 !important;
  margin-bottom: 15px !important;
}

.grid-mode {
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
}
