$amcs-black: #000;
$amcs-green: #61c250;
$amcs-green-darker: #4e8532;
$amcs-green-80: rgba($amcs-green, 0.8);
$amcs-green-60: rgba($amcs-green, 0.6);
$amcs-green-40: rgba($amcs-green, 0.4);
$amcs-green-20: rgba($amcs-green, 0.2);
$amcs-green-save: #70b758;
$amcs-green-save-hover: #4ea630;
$amcs-grey-close: #525c5b;
$amcs-grey-close-hover: #283533;
$amcs-blue: #1488ca;
$amcs-purple: #7239ea;
$amcs-blue-opacity-80: rgba($amcs-blue, 0.8);
$amcs-blue-opacity-60: rgba($amcs-blue, 0.6);
$amcs-blue-opacity-40: rgba($amcs-blue, 0.4);
$amcs-blue-opacity-20: rgba($amcs-blue, 0.2);
$amcs-blue-opacity-10: rgba($amcs-blue, 0.1);
$amcs-light-blue: #22505f;
$amcs-light-blue-opacity-80: rgba($amcs-light-blue, 0.8);
$amcs-light-blue-opacity-60: rgba($amcs-light-blue, 0.6);
$amcs-light-blue-opacity-40: rgba($amcs-light-blue, 0.4);
$amcs-light-blue-opacity-20: rgba($amcs-light-blue, 0.2);
$amcs-mid-blue: #428bca;
$amcs-navy-blue: #031e2f;
$amcs-navy-blue-opacity-80: rgba($amcs-navy-blue, 0.8);
$amcs-navy-blue-opacity-60: rgba($amcs-navy-blue, 0.6);
$amcs-navy-blue-opacity-40: rgba($amcs-navy-blue, 0.4);
$amcs-navy-blue-opacity-20: rgba($amcs-navy-blue, 0.2);
$amcs-grey: #404545;
$amcs-grey-opacity-80-hex: #666A6A;
$amcs-grey-opacity-80: rgba($amcs-grey, 0.8);
$amcs-grey-opacity-60: rgba($amcs-grey, 0.6);
$amcs-grey-opacity-40: rgba($amcs-grey, 0.4);
$amcs-grey-opacity-20: rgba($amcs-grey, 0.2);
$amcs-grey-opacity-10: rgba($amcs-grey, 0.1);
$amcs-grey-opacity-001: lighten($amcs-grey, 71%);
$amcs-orange: #ffa02f;
$amcs-orange-opacity-80: rgba($amcs-orange, 0.8);
$amcs-orange-opacity-60: rgba($amcs-orange, 0.6);
$amcs-orange-opacity-40: rgba($amcs-orange, 0.4);
$amcs-orange-opacity-20: rgba($amcs-orange, 0.2);
$amcs-red: #de4561;
$amcs-red-opacity-80: rgba($amcs-red, 0.8);
$amcs-red-opacity-60: rgba($amcs-red, 0.6);
$amcs-red-opacity-40: rgba($amcs-red, 0.4);
$amcs-red-opacity-20: rgba($amcs-red, 0.2);
$amcs-yellow: #fdc41f;
$amcs-yellow-opacity-80: rgba($amcs-yellow, 0.8);
$amcs-yellow-opacity-60: rgba($amcs-yellow, 0.6);
$amcs-yellow-opacity-40: rgba($amcs-yellow, 0.4);
$amcs-yellow-opacity-20: rgba($amcs-yellow, 0.2);
$amcs-teal: #004457;
$amcs-teal-opacity-80: rgba($amcs-teal, 0.8);
$amcs-white: #fff;
$amcs-cyan: #34c3d9;
$theme-page-background: #eef1f5;

$pallette-primary-color: $amcs-light-blue;
$pallette-secondary-color: lighten($amcs-light-blue, 5%);
$pallette-tertiary-color: $amcs-green;
$pallette-alert-color: $amcs-red;
$pallette-list-zebra-color: lighten($amcs-grey, 69%);
$pallette-portlet-color: #fbeded;
$pallette-icon-secondary-color: #b3b3b3;
$pallette-primary-text-color: #d8dae3;
$header-menu-text-color: $pallette-primary-text-color;

$profile-menu-text-background-color: #22505f;

$amcs-status-green: #60bd68;
$amcs-status-brown: #b2912f;
$amcs-status-purple: #b276b2;
$amcs-status-orange: #faa43a;
$amcs-status-blue: #5da5da;
$amcs-status-red: #f15854;
$amcs-status-yellow: #decf3f;
$amcs-status-pink: #f17cb0;
$amcs-status-grey: #4d4d4d;
$amcs-grey-left-column: #808080;
$amcs-heading-background-grey: #d5e5f3;
$amcs-heading-background-blue: $amcs-blue;
$amcs-heading-text-grey: #666;
$amcs-label-grey: #a3a4a5;
$amcs-label-text-size: 12px;
$amcs-row-border-color: #e1e1e1;
$amcs-selected-row-color: #e5e5e5;
$amcs-zebra-row-color: #faf9fc;
$amcs-list-item-border-color: #004457;
$amcs-active-list-item-color: #e8f3fa;
$amcs-active-list-portlet-color: $amcs-blue;
$amcs-active-tab-color: #52ae32;
$amcs-tab-background-color: $amcs-heading-background-grey;
$amcs-tab-text-color: $amcs-heading-text-grey;
$amcs-tab-text-font: 'Open Sans',
sans-serif;
$amcs-input-border-bottom-color: #c2cad8;
$amcs-list-hover-background-color: #dfdfdf;
$amcs-list-selected-background-color: #a7a7a7;
$amcs-changelog-background-color: #f5f6fa;

$amcs-404-text-color: #52ae32;
$pallette-404-text-color: $amcs-404-text-color;

$amcs-success-text-color: #52ae32;
$pallette-success-text-color: $amcs-success-text-color;

$amcs-dashboard-boxblue-action-button-background-color: #fdd14e;
$amcs-dashboard-boxblue-action-button-background-color-hover: #fdc41f;
$amcs-dashboard-boxblue-action-button-text-color: #283533;

$amcs-dropdown-toggle-selected: #336979;
$amcs-dropdown-toggle-header-background-color: #eaedf2;
$amcs-dropdown-toggle-border-bottom-color: #eff2f6;
$amcs-dropdown-list-item-selected-color: #f8f9fa;
$amcs-dashboard-sidemenu-expanded-color: #306777;

$pallette-portlet-title-background-color: $amcs-heading-background-grey;
$pallette-portlet-title-text-color: #fff;

$amcs-portlet-body-label-color: #000;
$amcs-link-color: #337ab7;
$amcs-portlet-title-link-color: #fff;
$amcs-portlet-button-link-color: transparent;
$amcs-portlet-button-link-color-hover: #409dd1;
$amcs-link-hover-color: #23527c;
$amcs-warning-orange: #c29d0b;
$amcs-warning-red: #e73c4b;

$pallette-link-color: $amcs-link-color;
$pallette-link-hover-color: $amcs-link-hover-color;
$pallette-selected-row-color: amcs-selected-row-color;
$pallette-zebra-row-color: $amcs-zebra-row-color;
$pallette-row-border-color: $amcs-row-border-color;
$pallette-active-list-item-color: lighten($amcs-light-blue, 15%);
$pallette-datepicker-week-color: $amcs-green;
$pallette-datepicker-selected-day-color: $amcs-active-list-item-color;

$amcs-route-light-blue: #3d8bc3;
$amcs-route-red: #aa2828;
$amcs-route-blue: #034472;
$amcs-route-green: #04a50c;
$amcs-route-yellow: #b1a009;
$amcs-route-purple: #8d428d;
$amcs-route-orange: #b86602;

$pallette-date-range-selector-border-colour: #c8c8c8;
$pallette-date-range-selector-shadow-colour: rgba(102, 102, 102, 0.102);
$pallette-date-range-selector-list-item-colour: #333;
$pallette-date-range-selector-list-item-bg-colour: #f5f5f5;
$pallette-date-range-selector-list-item-selected-colour: #fff;
$pallette-date-range-selector-list-item-selected-bg-colour: #4b8df8;
$amcs-portlet-grey-title: #e5e5e5;

$amcs-modal-background-cover-color: rgba(0, 0, 0, 0.69);

$amcs-snackbar-action-color: #43a0d5;

$amcs-footer-inner-body-text: #98a6ba;
$amcs-footer-inner-body-text: #28303b;

$amcs-popover-border-top-color: #fffefe;

$amcs-portlet-blue-base-color: #137fbe;
$amcs-portlet-blue-border-color: $amcs-portlet-blue-base-color;
$amcs-portlet-blue-inner-text-color: $amcs-white;

$amcs-grid-header-color: #f1f4f7;
$amcs-grid-border-color: #e9eaea;
$amcs-grid-header-cell-color: #757575;
$amcs-grid-border-bottom-color: #f1f8f8;
$amcs-seperator-color: #dadfe2;
$amcs-grid-selected-row-color: #e8f3fa;
$amcs-grid-highlighted-row-color: #fcf7eb;
$amcs-data-input-grid-selected-row-color: #c7e0f4;
$amcs-grid-row-hover-color: #f3f4f6;
$amcs-data-input-grid-checkbox-hover-row-color: #d9d9d9;
$amcs-grid-row-expanded-icon-color: $amcs-blue;
$amcs-grid-row-expanded-icon-color-hover: #23527c;
$amcs-grid-row-stripe-color: #fbfcfd;
$amcs-grid-base-row-color: #fff;
$amcs-grid-header-text-color: #283533;
$amcs-grid-row-link-text-color: #3d9dd3;
$amcs-grid-row-text-color: #283533;

$amcs-portlet-grey-base-color: #e1e5ec;
$amcs-portlet-grey-border-color: #d1d1d1;
$amcs-portlet-grey-inner-text-color: #283533;

$amcs-portlet-grey-icon-color: #1488ca;
$amcs-portlet-grey-icon-color-hover: #23527c;

$amcs-dashboard-sidemnu-text-color: #d6e1e4;

$amcs-yellow-button-backgrond-color: #fdd14e;
$amcs-yellow-button-background-color-hover: #fdc41f;
$amcs-yellow-button-text-color: #283533;

$amcs-green-button-backgrond-color: #4ea630;
$amcs-green-button-background-color-hover: #429939;
$amcs-green-button-text-color: #fff;

$amcs-grey-button-background-color: #e5e5e5;
$amcs-grey-button-background-color-hover: #ccc;
$amcs-grey-button-text-color: #283533;

$amcs-white-button-background-color: #fff;
$amcs-white-button-text-color: #283533;
$amcs-white-button-border-color: $amcs-grey-opacity-60;
$amcs-white-button-border-color-hover: #283533;

$amcs-teal-button-background-color: $amcs-teal;
$amcs-teal-button-background-color-hover: lighten($amcs-teal, 10%);

$amcs-red-button-background-color: $amcs-red;
$amcs-red-button-background-color-hover: lighten($amcs-red, 10%);

$amcs-selector-button-background-color: $amcs-grey-button-background-color;
$amcs-selector-button-background-color-hover: $amcs-grey-button-background-color-hover;

$amcs-settings-header-color: #283533;

$amcs-summary-info-title-color: #283533;

$amcs-box-border-color: #e7ecf1;
$pallette-box-border-color: $amcs-box-border-color;

$pallette-active-tab-color: $amcs-teal;
$pallette-inactive-tab-color: $amcs-grey-opacity-60;
$pallette-error-tab-color: #d03635;
$amcs-profile-usermenu-color: #f0f4f7;
$amcs-profile-usermenu-hover-background-color: #fafcfd;
$amcs-profile-usermenu-hover-color: #5b9bd1;
$amcs-profile-usermenu-active-color: #f6f9fb;
$amcs-profile-usermenu-list-link-color: #93a3b5;

$amcs-editor-error-color: #e73d4a;
$pallette-editor-error-color: $amcs-editor-error-color;

$amcs-service-location-access-time-no-access-color: #535d5c;
$amcs-service-location-access-time-accessible-color: #1488ca;

$amcs-form-input-label-colour: #888;
$amcs-form-label-colour: #27a4b0;
$amcs-form-input-border-color: #c2cad8;
$amcs-form-input-border-active-color: #36c6d3;
$amcs-form-input-text-color: #283533;
$amcs-form-input-error-color: #d03635;
$amcs-form-input-placeholder-color: #c2cad8;

$pallette-seach-keyword-con: $amcs-status-brown;
$pallette-seach-keyword-inv: $amcs-status-purple;
$pallette-seach-keyword-ppc: $amcs-status-blue;
$pallette-seach-keyword-fed: $amcs-status-grey;
$pallette-seach-keyword-son: $amcs-status-green;
$pallette-seach-keyword-pon: $amcs-status-yellow;
$pallette-seach-keyword-tna: $amcs-status-pink;
$pallette-seach-keyword-rpt: $amcs-status-red;
$pallette-seach-keyword-wdn: $amcs-status-orange;
$pallette-seach-keyword-stn: $amcs-cyan;
$pallette-seach-keyword-bcn: $amcs-status-orange;
$pallette-seach-keyword-acc: $amcs-status-red;
$pallette-seach-keyword-mat: $amcs-status-grey;
$pallette-calender-background: #c2cad8;
$pallette-calender-onHover: #e9eaea;

$amcs-primary-button-color: #337ab7;
$amcs-primary-button-border-color: #2e6da4;
$amcs-primary-button-hover-color: #286090;
$amcs-primary-button-border-hover-color: #204d74;

$amcs-grid-error-row-color: #ffdde0;
$amcs-grid-success-row-color: #c3ffbf;
$amcs-google-blue: #4285f4;
$amcs-okta-blue: #007dc1;
$amcs-azure-blue: #336699;

$pallette-log-in-button: $amcs-teal;
$pallette-log-in-button-hover: #001c24;
$pallette-log-in-button-focus: #000202;
$pallette-external-log-in-button: #4285f4;
$pallette-external-log-in-button-focus: #0c58d5;
$pallette-external-log-in-button-hover: #1266f1;

$amcs-dropdown-black: #283533;
$amcs-menu-selected-item-color: $amcs-selected-row-color;

$amcs-parent-card-background-color: #ffffff;
$amcs-parent-card-color: #283533;
$amcs-parent-card-border-color: #eee;
$amcs-parent-card-box-shadow-color: #d3dedc;

$amcs-page-title-text-color: #283533;
$amcs-light-gray: #b7b7b7;
$amcs-main-menu-background-color: #efefef;
$amcs-main-menu-item-background-color: $amcs-white;
$amcs-main-menu-item-border-color: #e0e0e0;
$amcs-main-menu-item-hover-background-color: $amcs-white;
$amcs-main-menu-item-hover-border-color: #c7c7c7;
$amcs-main-menu-item-selected-background-color: #efefef;
$amcs-main-menu-item-selected-border-color: #137fbe;
$amcs-main-menu-hr-color: #d5d5d5;

$amcs-sidebar-item-hover-color: #185567;
$amcs-button-secondary-color: #107ab3;
$amcs-inner-portlet-black-color: #283533;

$amcs-actions-control-color: #004457;
$amcs-actions-control-border-color: #bfbfbf;
$amcs-actions-control-bg-hover-color: #f4f5f5;
$amcs-actions-control-fave-icon-color: #dadada;
$amcs-actions-control-fave-icon-selected-color: #4ea630;

$amcs-sidebar-background-color: #fcfcfc;
$amcs-sidebar-active-background-color: #ebebeb;
$amcs-sidebar-hamburger-highlight-color: #cecece;
$amcs-sidebar-control-color: #004457;
$amcs-sidebar-control-bg-hover-color: #f4f5f5;
$amcs-sidebar-control-active-color: #4ea630;

$amcs-map-polygon-1: #3d8bc3;
$amcs-map-polygon-2: #04a50c;
$amcs-map-polygon-3: #b1a009;
$amcs-map-polygon-4: #034472;
$amcs-map-polygon-5: #8d428d;
$amcs-map-polygon-6: #b86602;

$amcs-grey-disabled: #b1b5b5;

$amcs-sidenav-background-color: #f6f9fb;
$amcs-sidenav-active-text-color: $amcs-blue;
$amcs-sidenav-text-color: $amcs-black;

$amcs-picture-container-border-color: #cdcdcd;

$amcs-radio-tile-selected-color: #137fbe;
$amcs-radio-tile-highlighted-color: #62a0c4;

$amcs-select-card-selected-color: $amcs-blue-opacity-10;
$amcs-select-card-selected-border-color: $amcs-blue;
$amcs-select-card-highlighted-color: #62a0c4;

$amcs-icon-turquoise: #1bc5bd;
$amcs-icon-light-turquoise: #c9f7f5;
$amcs-icon-blue: #3699ff;
$amcs-icon-light-blue: #e1f0ff;
$amcs-icon-yellow: #ffa800;
$amcs-icon-light-yellow: #fff4de;
$amcs-message-background: #DFEBF9;
$amcs-message-icon-blue: #3579D5;

$amcs-mobile-summary-bg-color: #F1F4F7;
$amcs-border-color: #eee;

$amcs-status-badge-positive: #25814f;
$amcs-status-badge-warning: #ffc700;
$amcs-status-badge-negative: #e60c0c;
$amcs-status-badge-informative: #0073b3;
$amcs-status-badge-informative-alt: #7239ea;
$amcs-status-badge-neutral: #dddddd;
$amcs-status-badge-neutral-negative: #444444;
$amcs-status-badge-positive-2: #1c7a82;
$amcs-status-badge-informative-alt-2: #25a1ac;
$amcs-status-badge-positive-opaque: #25814f80;
$amcs-status-badge-warning-opaque: #ffc70080;
$amcs-status-badge-negative-opaque: #e60c0c80;
$amcs-status-badge-informative-opaque: #0073b380;
$amcs-status-badge-informative-alt-opaque: #7239ea80;
$amcs-status-badge-neutral-opaque: #dddddd80;
$amcs-status-badge-neutral-negative-opaque: #44444480;
$amcs-status-badge-positive-2-opaque: #1c7a8280;
$amcs-status-badge-informative-alt-2-opaque: #25a1ac80;
$amcs-status-badge-text-dark: #283533;

$amcs-header-bar-height: 50px;
