@import "sass/abstracts/variables";

.filter-menu {
  position: absolute;
  top: 41px;
  right: 0px;
  width: 150px;
  background-color: $amcs-portlet-blue-base-color;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 999;
}

.btn.filter-button {
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
  margin-right: 0px !important;
  width: 100%;

  &.amcs-green {
    >span {
      color: $amcs-white !important;
    }

    background-color: $amcs-green-button-backgrond-color !important;

    &:hover {
      background-color: $amcs-green-button-background-color-hover !important;
    }

  }

  &.amcs-grey {
    background-color: $amcs-selector-button-background-color !important;
    color: $amcs-grey-button-text-color !important;

    &:hover {
      background-color: $amcs-selector-button-background-color-hover !important;
    }
  }

}
