**/*/bin
**/*/obj
/*/*.user
/*/StyleCop.Cache
**/.vs
/packages

/.idea

AMCS.ApiService.Tests/Properties/AssemblyInfo.cs
AMCS.ApiService/Properties/AssemblyInfo.cs
AMCS.Data.EntityValidation.Test/Properties/AssemblyInfo.cs
AMCS.Data.Server.Azure.Helpers.Tests/Properties/AssemblyInfo.cs
AMCS.Data.Server/Properties/AssemblyInfo.cs
*.feature.cs
*.user
