<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <h4 [translate]="'template.snippetsExample.title'">Snippets Example</h4>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <p>
      Apart from the html and component .ts the rest of this components logic has been created via <strong> angular snippets</strong>.<br />
      Our angular snippets allow us to quickly generate standard services/models following <strong>best practices</strong><br />
      <a href="https://confluence.amcsgroup.com/display/AP/Angular+Snippets">Click here</a> to see the full list of snippets. <br />
      <br />
    </p>
    <h5 [translate]="'template.snippetsExample.subTitle'">Snippet Clases</h5>
    <p>
      The list below includes the class name and the snippet used.<br />
      <strong>Note in these classes no code was manually typed!</strong>
    </p>
    <ul>
      <li><label>'SnippetExampleFormService'</label> -&nbsp;&nbsp;&nbsp;&nbsp;'form-service'</li>
      <li><label>'SnippetExample'</label> -&nbsp;&nbsp;&nbsp;&nbsp;'data-model'</li>
      <li><label>'SnippetExampleEditorData'</label> -&nbsp;&nbsp;&nbsp;&nbsp;'editor-data'</li>
      <li><label>'SnippetExampleForm'</label> -&nbsp;&nbsp;&nbsp;&nbsp;'form-model'</li>
    </ul>
  </div>
</div>
