@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.saving-container {

  position: absolute;
  top: 45%;
  left: 45%;
  transform: translateX(-45%);
  transform: translateY(-45%);
  z-index: 1000000000;

  .animation-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .animation {
      width: 90px;
      height: 90px;
      border: 0;

      .square {
        position: absolute;
        height: 40px;
        width: 40px;
        background: $amcs-blue;
        opacity: 0.2;
      }

      .square-c {
        @include loading-animation();
        opacity: 0.8;
        height: 30px;
        width: 30px;
        animation: loading-animation 2s infinite ease-in-out;
      }

      .square-c.state2c {
        animation-delay: -1s;
      }
    }
  }

  .message-container {
    align-items: center;
    text-align: center;
  }
}

.saving-container-position {
  position: fixed !important;
}

.white-box {
  border: 1px solid $pallette-box-border-color;
  background-color: $amcs-white;
  padding: 20px;
}
