<app-amcs-inner-container [loading]="loading">
  <div class="portlet portlet-skeleton box grey child-portlet"
    [ngClass]="{'blue': isSecondaryColour, 'amcs-black': isTertiaryColour}" *ngIf="loading; else loadedTemplate">
    <div class="portlet-title">
      <div class="caption portlet-skeleton-text-block">
      </div>
    </div>
    <div class="portlet-body" [ngClass]="{'dynamic-height': isDynamicHeight }">
      <!-- CSS animation taken from https://codepen.io/trungk18/pen/yJggrL -->
      <div class="portlet-skeleton-body-load">
        <div class="square square-c state1c"></div>
        <div class="square square-c state2c"></div>
      </div>
    </div>
  </div>
  <ng-template #loadedTemplate>
    <div class="portlet box grey child-portlet"
      [ngClass]="{'bordered': hasBorder, 'blue': isSecondaryColour, 'amcs-black': isTertiaryColour}">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject bold uppercase">{{ caption }}</span>
        </div>
        <div class="actions" [ngClass]="{'has-buttons-child': buttons, 'has-dropdown': dropdown}">
          <app-amcs-button *ngFor="let button of buttons;let i=index"
            [customClass]="getButtonClasses(button.caption, button.icon, button.link)" (click)="button.action()"
            [compName]="compName" [uniqueKey]="'action_'+i">
            <span>{{ button.caption }}</span>
            <i *ngIf="button.icon" class="fal {{button.icon}} fa-2x"></i>
          </app-amcs-button>
          <ng-template *ngIf="buttonTemplate" [ngTemplateOutlet]="buttonTemplate"></ng-template>
          <a *ngIf="edit" (click)="edit.action()" appAutomationLocator [compName]="compName" [uniqueKey]="'edit'">
            <i class="fas fa-edit fa-lg"></i>
          </a>
          <a *ngIf="add" (click)="add.action()" appAutomationLocator [compName]="compName" [uniqueKey]="'add'">
            <i class="far fa-plus-circle fa-lg"></i>
          </a>
          <a *ngIf="images" (click)="images.action()" appAutomationLocator [compName]="compName" [uniqueKey]="'image'">
            <i class="fas fa-image fa-lg"></i>
          </a>
          <a *ngIf="inlineExpander" (click)="inlineExpander.action(); tilesChanged();" class="expander-button"
            appAutomationLocator [compName]="compName" [uniqueKey]="'inlineExpander'">
            <i *ngIf="inlineExpander.expanded else deexpandedTemplate" class="fal fa-compress"></i>
            <ng-template #deexpandedTemplate>
              <i class="fal fa-expand"></i>
            </ng-template>
          </a>
          <a *ngIf="expander" (click)="expander.action(); tilesChanged();" class="expander-button" appAutomationLocator
            [compName]="compName" [uniqueKey]="'expander'">
            <i class="fal fa-expand"></i>
          </a>
          <a *ngIf="deexpander" (click)="deexpander.action(); tilesChanged();" class="expander-button"
            appAutomationLocator [compName]="compName" [uniqueKey]="'deExpander'">
            <i class="fal fa-compress"></i>
          </a>
          <ng-container *ngIf="settingsMenu != null">
            <div (clickOutside)="showSettings = false" class="btn-group" [ngClass]="{'open': showSettings}">
              <a (click)="showSettings = !showSettings" appAutomationLocator [compName]="compName"
                [uniqueKey]="'showSettings'">
                <i class="far fa-cog fa-lg"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <ng-template [ngTemplateOutlet]="settingsMenu">
                </ng-template>
              </ul>
            </div>
          </ng-container>
          <div *ngIf="dropdown" class="dropdown-container">
            <span class="bold uppercase" *ngIf="dropdown.caption">{{ dropdown.caption }}</span>
            <select class="form-control" [ngModel]="dropdown.id" (ngModelChange)="dropdown.action($event)"
              appAutomationLocator [compName]="compName" [uniqueKey]="'select'">
              <option *ngFor="let option of dropdown.options" [ngValue]="option.id">
                {{option.description}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="portlet-body" [style.min-height.px]="minHeight" [style.max-height.px]="maxHeight" [ngClass]="{'dynamic-height': isDynamicHeight, 'portlet-form': isForm , 'form': isForm, 
        'no-padding': isRemovePadding, 'overflow-visible': overflowVisible, 'overflow-auto': overflowAuto}"
        [ngStyle]="{'height': isDynamicHeight ? 'unset' : height}">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</app-amcs-inner-container>