@import "sass/abstracts/variables";

.small-mode {
  margin: 0 !important;
  margin-bottom: 15px !important;
}

.grid-mode {
  margin: 0 !important;
  padding: 0 !important;
  background-color: $amcs-white;
}

.label-definition {
  margin-top: 4px !important;
}

mat-spinner {
  position: absolute;
  right: 0px;
  top: 20px;

  &.hide-content {
    visibility: hidden;
  }
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.inside-quantity-selector {
  &.form-group {
    border-top: 1px solid $amcs-input-border-bottom-color;
    padding: 0px;

    .form-control {
      padding: 0px;
      height: 26px;
    }
  }
}

.noRightPadding {
  padding-right: 0px !important;
}

.whiteBackground {
  background-color: $amcs-white !important;
}

.inputRightPadding {
  padding-right: 4px !important;
}

.height-40 {
  height: 40px !important;
}

.mobile-input {
  height: 44px !important;
  border: 1px solid $amcs-form-input-border-color !important;
  border-radius: 3px !important;
  padding-left: 5px !important;
}

.mobile-form-group {
  margin-bottom: 15px !important;
  padding-top: 10px;
}

.mobile-error {
  border: 1px solid $amcs-form-input-error-color !important;
}

.secondary-color {
  color: $amcs-grey-opacity-40 !important;
}

.error-text {
  color: $amcs-warning-red !important;
}
