<div dropdown *ngIf="config" class="btn-group layout {{customClass}}">
  <button type="button" class="btn main-button {{buttonColourClass}}" (click)="optionSelected.emit(config.primaryOption.id)"
    [disabled]="disabled || loading" appAutomationLocator [compName]="compName" [uniqueKey]="'main'">
    {{config.primaryOption.description}}
  </button>
  <button *ngIf="!disabled && !loading" dropdownToggle type="button"
    class="btn {{buttonColourClass}} dropdown-toggle dropdown-toggle-split dropdown-button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    appAutomationLocator [compName]="compName" [uniqueKey]="'dropdown'">
    <i class="fal fa-angle-down"></i>
  </button>
  <button *ngIf="disabled || loading" type="button"
    class="btn {{buttonColourClass}} dropdown-toggle dropdown-toggle-split dropdown-button" [disabled]="true"
    appAutomationLocator [compName]="compName" [uniqueKey]="'dropdown_disabled'">
    <i class="fal fa-angle-down"></i>
  </button>
  <ul *dropdownMenu class="dropdown-menu">
    <li role="menuitem" class="menu-item {{buttonColourClass}}" *ngFor="let option of config.secondaryOptions"
      (click)="optionSelected.emit(option.id)" appAutomationLocator [compName]="compName" [uniqueKey]="option.description+'_menu_item'">
      <span class="dropdown-item-text">{{ option.description }}</span>
    </li>
  </ul>
</div>
