@import 'sass/abstracts/variables';

.timepicker-padding {
  padding-top: 20px;
}
h3 {
  padding-bottom: 10px;
}

.type-container {
  border: 1px solid $amcs-border-color;
  min-height: 155px;
  padding: 15px;
  padding-bottom: 0px;
}

.divider {
    padding-top: 0.5px;
    border-top: 1px solid #e7ecf1;
    margin-top: 25px;
    margin-bottom: 25px;
}
