@import "sass/abstracts/variables";

.btn-login.okta {
  background-color: $amcs-okta-blue;
  border-color: $amcs-okta-blue;
  padding: 0px !important;
  color: $amcs-white;
  width: 100%;
  border-width: 3px;
  border-radius: 3px !important;
}

.btn-login.okta:hover {
  background-color: #0072b0 !important;
  border-color: #0072b0 !important;
}

.btn.display-left-mode {
  span.otka-icon {
    padding-right: 13px;
    > svg {
      width: 35px;
    }
  }
  span.label-span.abcRioButtonContents.btn-lg {
    float: left;
    line-height: 28px !important;
  }
}

.btn-login.okta:focus {
  background-color: #00679f !important;
  border-color: #00679f !important;
}
