<button [class.display-left-mode]="isDisplayLeftMode" class="btn btn-login okta" #btn type="button" appAutomationLocator [compName]="compName"
    [uniqueKey]="uniqueKey">
    <span class="otka-icon pull-left">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="34px" height="35px" viewBox="0 0 34 35" enable-background="new 0 0 22 23"
            xml:space="preserve">
            <image id="image0" width="22" height="23" x="12" y="12" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
                RQfjBxgUGSDAyOKQAAABbElEQVQoz4WTuy+DURjGf70wMIiEuDURVAgScWsk6tba/BsMFoPEIlis
                /gOTgZ2BpeIeSZcGadrUQIhLQqKLQfA9pu/0VIvnLOd9nl/O973f9x6PMPIRIMw4nVQBryQ55pgb
                Pgwhd9VoTmk5suXoWktqcBkX7dCBftOZem24Swn9pbRCLlytPf2nM9ULPzBFJNclz8TJIIIMUGfc
                QWZZRC26s0441aRpOaKYlbyoC01bRlz1wloV2rfSebRpiqzG8lCEevRo8l10YYrtAhShDZOnvJSb
                Js4ppgzuT/Z5LfuzKOzkdl7eTNFdFA7iycEpY48wVIB2EjX7ezRjfZwjVeY1V6odK11AbXqwjJiG
                DdqnLSvJqsfPFWssm0dFaeeEFA6thGmyXmidJEK1Ov0xNo6+fjgJNbkjGlL6z5m71bg9/P2K/4pe
                ajT/pqCAVnRbcK2etKpGl/FYF7aEIBOM0UwZ4p1rDomR4d0FvgE+axody/REuwAAACV0RVh0ZGF0
                ZTpjcmVhdGUAMjAxOS0wNy0yNVQwMzoyNTozMi0wNzowMGFYCLAAAAAldEVYdGRhdGU6bW9kaWZ5
                ADIwMTktMDctMjVUMDM6MjU6MzItMDc6MDAQBbAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFn
                ZVJlYWR5ccllPAAAAABJRU5ErkJggg==" />
        </svg>
    </span>
    <span class="label-span abcRioButtonContents btn-lg">
        <ng-content></ng-content>
    </span>
</button>