@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.grid-filter input[type="text"] {
  display: block;
  margin: 10px 10px 10px 10px;
  float: left;
  width: 50%;
}

.table-container {
  &.table-container-margin {
    margin: 10px;
  }

  .table {

    width: 100%;
    margin-bottom: 0;
    cursor: pointer;

    &.fixed-table {
      table-layout: fixed;
    }

    thead {
      background-color: $amcs-heading-background-grey;
    }

    tfoot>tr>td {
      padding: 0;
    }

    .selectedRow {
      background-color: $amcs-grid-selected-row-color;
    }

    .row-border {
      border: $amcs-grid-border-color 1px solid !important;
    }

    td {
      vertical-align: middle !important;
    }

    tr:nth-of-type(odd) {
      &.row-striping {
        background-color: $amcs-grid-row-stripe-color;
      }
    }

    tr.expanded-row {
      &.hide-detail-row {
        display: none;
      }

      td {
        border: 1px solid $amcs-grid-border-color !important;
        background-color: $amcs-grid-selected-row-color !important;
        padding: 0;

        .portlet-skeleton.portlet-body {
          display: flex;
          position: relative;
          overflow: hidden;
          align-items: center;
          justify-content: center;

          .portlet-skeleton-body-load {
            border: 0;
            height: 90px;
            width: 90px;

            .square {
              opacity: 0.2;
              background: $amcs-blue;
              width: 40px;
              height: 40px;
              position: absolute;
            }

            .square-c {
              @include loading-animation();
              animation: loading-animation 2s infinite ease-in-out;
              width: 30px;
              height: 30px;
              opacity: 0.8;
            }

            .square-c.state2c {
              animation-delay: -1s;
            }
          }
        }
      }
    }

    .details-container {
      padding: 10px 10px 0 10px;

      &.hide-content {
        display: none;
      }
    }
  }

  .table-content-height {
    min-height: 349px;
  }

  .table-row-display {
    display: grid;
  }
}
