<div class="row">
  <div class="col-xs-12">
    <app-amcs-browser-tile
      [options]="service.browserOptions"
      [loading]="service.loading"
      (onAdd)="service.addIngredientTemplate()"
      (onClose)="service.navigateBack()"
    >
      <app-amcs-inner-tile
        *ngIf="service.showForm"
        [isDynamicHeight]="true"
        [isRemovePadding]="true"
        [caption]="'template.ingredientBrowser.addIngredient' | translate"
      >
        <app-amcs-form
          [form]="service.ingredientForm"
          [options]="service.formOptions"
          (onSave)="service.addIngredient()"
          (onCancel)="service.cancel()"
        >
          <ng-template>
            <div class="row">
              <div class="col-xs-6">
                <!-- Max length can be set on the input or in validatation here it is set for one more than is allowed to show the validation error in effect -->
                <app-amcs-input [maxLength]="51" formControlName="name" [label]="'template.ingredientBrowser.ingredient.name' | translate">
                </app-amcs-input>
              </div>
              <div class="col-xs-6">
                <label [translate]="'template.ingredientBrowser.optional'">Optional</label>
                <app-amcs-switch formControlName="optional" [config]="service.switchConfig"></app-amcs-switch>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <app-amcs-select
                  [label]="'template.ingredientBrowser.ingredient.measurement' | translate"
                  formControlName="measurementId"
                  [options]="service.measurements"
                >
                </app-amcs-select>
              </div>
              <div class="col-xs-6">
                <app-amcs-select
                  [label]="'template.ingredientBrowser.ingredient.type' | translate"
                  formControlName="typeId"
                  [options]="service.ingredientTypes"
                >
                </app-amcs-select>
              </div>
            </div>
            <div class="row" *ngIf="!service.ingredientForm.htmlFormGroup.valid">
              <p>
                <b
                  >Save will be disabled when the ingredient name is empty or the name is more than 50 charaters long as it has validators
                  on the Form control <br />
                  This shows how you can make sure forms are valid before allowing to them to be saved.
                </b>
              </p>
            </div>
          </ng-template>
        </app-amcs-form>
      </app-amcs-inner-tile>
      <div>
        <p *ngIf="service.showPagingGrid">
          <b>When using paging it is good to note that the filter will now only work for items on that page and not across all pages</b>
        </p>
        <app-amcs-grid
          [columns]="service.columns"
          [data]="service.ingredients"
          [showFilter]="true"
          [disableSelection]="true"
          (selectedPageChanged)="service.pageChanged($event)"
          [includePaging]="service.showPagingGrid"
          [totalItemCount]="service.ingredients.length"
          [actionColumnTemplate]="service.ingredients.length > 0 ? actionColumnTemplate : null"
        ></app-amcs-grid>
      </div>
    </app-amcs-browser-tile>
    <ng-template #actionColumnTemplate let-row="row">
      <app-amcs-dropdown class="dropdown-button" [dropdownIcon]="AmcsDropdownIconEnum.Tasks">
        <ng-container ngProjectAs="menu">
          <li (click)="service.editIngredient(row)">
            <a><span [translate]="'template.ingredientBrowser.edit'">Edit</span></a>
          </li>
          <li (click)="service.removeIngredient(row)">
            <a><span [translate]="'template.ingredientBrowser.delete'">Delete</span></a>
          </li>
        </ng-container>
      </app-amcs-dropdown>
    </ng-template>
  </div>
</div>
