@import "sass/abstracts/_variables.scss";

.container-fluid {

    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

    div.top-line {
        div.title {
            margin: 5px;
            text-transform: uppercase;
            font-weight: bold;
            width: 50%;
        }

        div.clear-all {
            float: right;
        }
    }

    div.selected-filter-list {
        display: inline-block;

        .mat-chip {
            word-wrap: break-word;
            margin-bottom: 5px;
            height: unset;
            span.chip-content {
                white-space: pre-line;
            }
        }
    }
}
