@import "sass/abstracts/variables";

.umrIcon {
    float: right;
    font-size: 17px;
    cursor: pointer;
    color: $amcs-input-border-bottom-color;

    :hover {
        color: $amcs-form-label-colour;
    }
}

.umrInput {
    width: 96%;
}

.umrPosition {
    margin-top: -14%;
}

.required {
    color: $amcs-form-input-error-color;
}

.editor-umrPosition {
    margin-top: -23%;
    margin-right: -4%;
}

@media (max-width: 1440px)
{
    .umrPosition {
        margin-top: -20%;
    }

    .editor-umrPosition {
        margin-top: -38%;
        margin-right: -8%;
    }
}

.checkBox {
    padding-top: 9px;
}

.pay-amount-col {
  text-align: right;
}
