<ng-template>
  <app-amcs-custom-tile customClass="no-margin" [loading]="!loaded" [bodyWidthpx]="width" bodyMinHeight="150px"
  appAutomationLocator [compName]="compName" [uniqueKey]="'form-modal-tile'">
    <ng-container ngProjectAs="title">
      <div class="caption">
        <span class="caption-subject bold uppercase">{{modalInnerComponent.modalTitle}}</span>
      </div>
      <div class="actions">
        <ng-container *ngIf="modalInnerComponent.modalOptions.canExpand">
          <a *ngIf="!modalInnerComponent.isExpanded" (click)="toggleExpansion()" class="expander-button"
            appAutomationLocator [compName]="compName" [uniqueKey]="'expander'">
            <i class="fal fa-expand"></i>
          </a>
          <a *ngIf="modalInnerComponent.isExpanded" (click)="toggleExpansion()" class="expander-button"
            appAutomationLocator [compName]="compName" [uniqueKey]="'deExpander'">
            <i class="fal fa-compress"></i>
          </a>
        </ng-container>
        <a><i class="fal fa-times fa-2x" (click)="cancel()" appAutomationLocator [compName]="compName"
            [uniqueKey]="'close'"></i></a>
      </div>
    </ng-container>
    <ng-container ngProjectAs="body">
      <div [style.height.px]="modalInnerComponent.isExpanded ? fullSizeHeight : null">
        <ng-content></ng-content>
      </div>
      <app-amcs-form-actions [form]="modalInnerComponent.form"
        [options]="formOptions.actionOptions" (onSave)="save()" (onCancel)="cancel()">
      </app-amcs-form-actions>
    </ng-container>
  </app-amcs-custom-tile>
</ng-template>