@import 'sass/abstracts/variables';

.background {
  background-color: $amcs-sidenav-background-color;
  padding: 15px;
}

.main-body {
  margin-bottom: 15px;
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

.text-align-right {
  text-align: right;
}

.right-button {
  float: right;
}

.delete-button {
  float: right;
  position: relative;
  top: -5px;
}

.top-row-delete-button {
  float: right;
  margin-left: 5px;
}

.property-name {
  font-weight: 600;
}

.filter-card {
  margin-bottom: 15px;
  background-color: $amcs-parent-card-background-color;
  color: $amcs-parent-card-color;
  border-radius: 3px;
  box-shadow: 0 4px 15px 0 rgba(19, 30, 40, 0.025), 0 0 0 1px $amcs-parent-card-box-shadow-color;
  padding: 15px;
  .no-padding-left-or-right {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .clip-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

.top-row-filter-card {
  background-color: $amcs-parent-card-background-color;
  color: $amcs-parent-card-color;
  border-radius: 3px;
  box-shadow: 0 4px 15px 0 rgba(19, 30, 40, 0.025), 0 0 0 1px $amcs-parent-card-box-shadow-color;
  padding: 5px;
  margin-left: 10px;
  display: inline-block;
}

.top-row-filter-cards {
  display: inline-block;
}

.button-card {
  margin: 0px;
  background-color: $amcs-parent-card-background-color;
  color: $amcs-parent-card-color;
  border-radius: 3px;
  box-shadow: 0 4px 15px 0 rgba(19, 30, 40, 0.025), 0 0 0 1px $amcs-parent-card-box-shadow-color;
  padding: 15px;
}

.filter-button-row {
  width: 100%;
}

.filter-button {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
  border: 1.5px solid $amcs-teal;
  border-radius: 3px;
  padding: 3px 4px 3px 3px;
  margin: 7px 10px;

  i {
    color: $amcs-teal;
    vertical-align: middle;
  }

  &:hover {
    color: $amcs-blue;
  }

  i.fa-filter {
    font-weight: 400;
    font-size: 18px;
  }

  i.fa-filter.show-filter {
    font-weight: 900;
  }
}

.padding-right {
  padding-right: 15px !important;
}

.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.display-contents {
  display: contents;
}
