/* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2015 Dr. John Tunnicliffe, Decision Analytics, London, UK  */



/*
 * This comment will appear at the top of your auto-generated file.
 * This file was generated automatically by a T4 Template 
 * DO NOT EDIT MANUALLY!
 */
-- History table for [dbo].[DBVersion]
CREATE TABLE [audit].[_DBVersion]
(
    [_AuditDBVersionId] INT NOT NULL CONSTRAINT [PK__DBVersion] PRIMARY KEY CLUSTERED IDENTITY(1,1),
	-- put your standard attributes here
    [_ChangedDate] [datetimeoffset](7) NOT NULL,
	[_ChangedById] [int] NOT NULL,
	[_ChangeType] [char](1) NULL,
	[_RowVersion] [timestamp] NOT NULL,
	[DBVersionId] INT,
	[Version] NVARCHAR(50),
	[TimeStamp] SMALLDATETIME,
	[SystemUser] NVARCHAR(50),
	[LastChangeReasonId] INT,
	[RowVersion] [binary](8),
	[GUID] UNIQUEIDENTIFIER,
) ON [AuditTableFileGroup];
GO

-- History table for [dbo].[User]
CREATE TABLE [audit].[_User]
(
    [_AuditUserId] INT NOT NULL CONSTRAINT [PK__User] PRIMARY KEY CLUSTERED IDENTITY(1,1),
	-- put your standard attributes here
    [_ChangedDate] [datetimeoffset](7) NOT NULL,
	[_ChangedById] [int] NOT NULL,
	[_ChangeType] [char](1) NULL,
	[_RowVersion] [timestamp] NOT NULL,
	[UserId] INT,
	[UserName] NVARCHAR(200),
	[PasswordHash] NVARCHAR(200),
	[LastChangeReasonId] INT,
	[RowVersion] [binary](8),
	[GUID] UNIQUEIDENTIFIER,
) ON [AuditTableFileGroup];
GO

-- End of auto generated code!