<app-amcs-inner-container-group>
  <div class="portlet box blue portlet-fit bordered portlet-skeleton" *ngIf="loading; else loadedTemplate">
    <div class="portlet-title">
      <div class="caption portlet-skeleton-text-block"></div>
    </div>
    <div class="portlet-body" [class.no-padding]="removePadding">
      <!-- CSS animation taken from https://codepen.io/trungk18/pen/yJggrL -->
      <div class="portlet-skeleton-body-load">
        <div class="loading-animation">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadedTemplate>
    <div class="portlet portlet-fit bordered box blue" [ngClass]="{ 'child-portlet': isChild }">
      <div class="portlet-title portlet-title-filterable">
        <div class="caption">
          <span class="caption-subject bold uppercase">{{ caption }}</span>
        </div>
        <div class="actions" [ngClass]="{ 'has-buttons': add || edit || delete || menuTemplate != null }">
          <span class="pull-left">
            <ng-container *ngIf="menuTemplate != null">
              <ng-template [ngTemplateOutlet]="menuTemplate"> </ng-template>
            </ng-container>
          </span>
          <app-amcs-button *ngFor="let button of buttons;let i = index" [disabled]="button.disabled"
            [customClass]="button.cssClass" (click)="button.disabled ? null : button.action()" [compName]="compName"
            [uniqueKey]="'button_'+i">
            <span>{{ button.caption }}</span>
            <i *ngIf="button.icon" class="fal {{ button.icon }} fa-2x"></i>
          </app-amcs-button>
          <app-amcs-button customClass="noMargin" *ngIf="add" (click)="add.action()" [compName]="compName"
            [uniqueKey]="'add'">
            <span [translate]="'shared.browsertile.add'" class="bold">Add</span>
          </app-amcs-button>

          <app-amcs-button customClass="noMargin" *ngIf="edit" (click)="edit.action()" [compName]="compName"
            [uniqueKey]="'edit'">
            <span [translate]="'shared.browsertile.edit'" class="bold">Edit</span>
          </app-amcs-button>

          <app-amcs-button customClass="noMargin" *ngIf="delete" (click)="delete.action()" [compName]="compName"
            [uniqueKey]="'delete'">
            <span [translate]="'shared.browsertile.delete'" class="bold">Delete</span>
          </app-amcs-button>

          <a *ngIf="deexpander" class="expander-button" (click)="deexpander.action()" appAutomationLocator
            [compName]="compName" [uniqueKey]="'deexpander'">
            <i class="fal fa-compress fa-2x"></i>
          </a>

          <a *ngIf="close" class="close-button" (click)="close.action()" appAutomationLocator [compName]="compName"
            [uniqueKey]="'close'">
            <i class="fal fa-times fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="portlet-body" [ngClass]="{ 'no-padding': removePadding }">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</app-amcs-inner-container-group>