<div class="amcs-form-grid" *ngIf="!loading; else loadingTemplate">
  <!-- Header -->
  <div class="amcs-flex-row amcs-grid-header-row">
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': checkBoxSizePercent + '%' }"></div>
    <div *ngFor="let column of columns" [ngStyle]="{'flex-basis': column.relativeSizePercentage }"
      class="amcs-flex-item amcs-grid-header-cell" [ngClass]="{'text-right': column.rightAlign }">
      <div class="header-text-truncator">
        <span class="header-text" appAutomationLocator [compName]="compName" [uniqueKey]="column.title">{{ column.title
          }}</span>
      </div>
    </div>
  </div>
  <!-- Rows -->
  <ng-container *ngIf="rows.length > 0; else emptyCells">
    <ng-container *ngFor="let row of rows; let i=index">
      <div class="amcs-flex-row amcs-grid-row" [ngClass]="{'amcs-grid-row-selected': row.isSelected }">
        <div class="amcs-flex-item amcs-grid-cell" [ngStyle]="{'flex-basis': checkBoxSizePercent + '%' }">
          <label class="mt-checkbox">
            <input [ngModel]="row.isSelected" type="checkbox" (click)="service.checkCanSelectRow(row, $event)"
              [disabled]="!config.allowEdit || row.isCheckboxDisabled" (ngModelChange)="onSelectRow(row, $event)"
              appAutomationLocator [compName]="compName" [uniqueKey]="'isSelected_' + i" />
            <span></span>
          </label>
        </div>
        <!-- Forms Shown -->

        <ng-template #detailRow>
          <ng-container *ngFor="let column of columns;let j = index">
            <div class="amcs-flex-item amcs-grid-cell" [ngClass]="{'text-right': column.rightAlign }"
              [ngStyle]="{'flex-basis': column.relativeSizePercentage }">
              <ng-container [ngSwitch]="column.columnType">
                <ng-container *ngSwitchCase="ColumnType.template">
                  <ng-container [ngTemplateOutlet]="column.template" [ngTemplateOutletContext]="{ row: row.item}">
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="ColumnType.text">
                  <span appAutomationLocator [compName]="compName" [uniqueKey]="'row_' + i + '_' + j">{{
                    row.item[column.name] }}</span>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-template>
        <div class="amcs-flex-row amcs-grid-row amcs-inner-row-container" *ngIf="row.isSelected; else detailRow">
          <div class="amcs-inner-row"
            [ngClass]="{'row-error': row.isError && row.formItems.formGroup.touched && row.formItems.formGroup.invalid}">
            <ng-template [ngTemplateOutlet]="formTemplate"
              [ngTemplateOutletContext]="{ form: row.formItems, columns: columns, styles: styles, rowItem: row.item, index: i }">
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <!-- Empty cells Shown -->
  <ng-template #emptyCells>
    <div class="amcs-flex-row amcs-grid-row">
      <div class="amcs-flex-item amcs-grid-cell" *ngIf="noDataTemplate">
        <ng-container [ngTemplateOutlet]="noDataTemplate"></ng-container>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #loadingTemplate>
  <div class="amcs-form-grid loading">
    <div class="amcs-flex-row amcs-grid-header-row">
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '4%'}">
      </div>

      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
        <div class="skeleton-text-block">
        </div>
      </div>
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
        <div class="skeleton-text-block">
        </div>
      </div>
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
        <div class="skeleton-text-block">
        </div>
      </div>
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
        <div class="skeleton-text-block">
        </div>
      </div>
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '4%'}">
        <div class="skeleton-text-block small">
        </div>
      </div>
    </div>
    <div class="amcs-flex-row amcs-grid-row">
      <div class="portlet-skeleton portlet-body">
        <div class="portlet-skeleton-body-load">
          <div class="square square-c state1c"></div>
          <div class="square square-c state2c"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>