<i *ngIf="isMandatory" class="fas fa-star-of-life fa-sm font-red" tooltip="{{mandatoryTooltip}}" container="body"></i>
<i *ngIf="!isMandatory" class="fas fa-star-of-life fa-sm font-grey" tooltip="{{notMandatoryTooltip}}"
  container="body"></i>
<i *ngIf="isEditable" class="fas fa-pencil fa-sm font-yellow margin-left-right" tooltip="{{editableTooltip}}"
  container="body"></i>
<i *ngIf="!isEditable" class="fas fa-pencil fa-sm font-grey margin-left-right" tooltip="{{notEditableTooltip}}"
  container="body"></i>
<i *ngIf="isVisible && showVisible" class="fas fa-eye fa-sm font-yellow visible-margin-left-right"
  tooltip="{{visibleTooltip}}" container="body"></i>
<i *ngIf="!isVisible && showVisible" class="fas fa-eye-slash fa-sm font-grey visible-margin-left-right"
  tooltip="{{notVisibleTooltip}}" container="body"></i>
