<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <h4 [translate]="'template.cssExample.title'">CSS Example</h4>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12" radioControl>
    <app-amcs-card>
      <ng-container ngProjectAs="body">
        <app-amcs-radio-tile
          [ngModel]="selection"
          (ngModelChange)="selectionChanged($event)"
          [value]="CssExampleEnum.Encapsulated"
          radioGroupName="radioExample"
          iconClass="fas fa-check"
        >
        </app-amcs-radio-tile>
        <app-amcs-radio-tile
          [ngModel]="selection"
          (ngModelChange)="selectionChanged($event)"
          [value]="CssExampleEnum.Bleeding"
          radioGroupName="radioExample"
          iconClass="fas fa-times"
        >
        </app-amcs-radio-tile>
      </ng-container>
    </app-amcs-card>
  </div>
</div>
<div class="row">
  <ng-container [ngSwitch]="selection">
    <ng-container *ngSwitchCase="CssExampleEnum.Encapsulated">
      <app-encapsulated-css></app-encapsulated-css>
    </ng-container>
    <ng-container *ngSwitchCase="CssExampleEnum.Bleeding">
      <app-bleeding-css></app-bleeding-css>
    </ng-container>
  </ng-container>
  <div *ngIf="hasBleedingBeenLoaded" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <p>
      Once component styles have been loaded they will <strong>not be removed until an application refresh</strong>.<br />
      This is because angular loads component styles when they are created but doesn't remove them when destroyed<br />
      All components styles should be <strong>Encapsulated</strong>. This ensures styles cannot affect other components.<br />
      Using ViewEncapsulation.None allows your component styles to affect every other loaded component in the entire component tree.<br />
      This <strong>leads to seriously difficult to re-create bugs</strong> how do you tell which component in the tree is bleeding into
      others?<br />
      Need to style a component differently on a particular screen?<strong> Expose a new input on the component!</strong><br />
    </p>
  </div>
</div>
