@mixin generate-boxed-portlet-style($style-name, $background-color, $text-color, $border-color) {
    &.#{$style-name} {
        >.portlet-title {
            background-color: $background-color;

            >.caption,
            >.actions {
                i,
                span {
                    color: $text-color;
                }
            }
        }

        &.bordered {
            border: 1px solid $border-color;
        }

        @content;
    }

}

@mixin bounce-up ($amount) {
    @-webkit-keyframes bounce-up {
        0% { -webkit-transform: translate(0, 0); }
        50% { -webkit-transform: translate(0, #{$amount}); }
        100% { -webkit-transform: translate(0, 0); }
    }

    @-moz-keyframes bounce-up {
        0% { -moz-transform: translate(0, 0); }
        50% { -moz-transform: translate(0, #{$amount}); }
        100% { -moz-transform: translate(0, 0); }
    }

    @keyframes bounce-up {
        0% { transform: translate(0, 0); }
        50% { transform: translate(0, #{$amount}); }
        100% { transform: translate(0, 0); }
    }
}

@mixin fade-in {
    @keyframes fade-in {
        0% {
            display: none;
            opacity: 0;
        }

        1% {
            display: block;
            opacity: 0;
        }

        100% {
            display: block;
            opacity: 1;
        }
    }
    @-webkit-keyframes fade-in {
        0% {
            display: none;
            opacity: 0;
        }

        1% {
            display: block;
            opacity: 0;
        }

        100% {
            display: block;
            opacity: 1;
        }
    }
    @-moz-keyframes fade-in {
        0% {
            display: none;
            opacity: 0;
        }

        1% {
            display: block;
            opacity: 0;
        }

        100% {
            display: block;
            opacity: 1;
        }
    }
}

@mixin loading-animation {
    @-webkit-keyframes loading-animation {
        25% {
            -webkit-transform: translateX(60px) rotate(90deg) scale(.5);
        }

        50% {
            -webkit-transform: translateX(60px) translateY(60px) rotate(180deg);
        }

        75% {
            -webkit-transform: translateX(0) translateY(60px) rotate(270deg) scale(.5);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @-moz-keyframes loading-animation {
        25% {
            -moz-transform: translateX(60px) rotate(90deg) scale(.5);
        }

        50% {
            -moz-transform: translateX(60px) translateY(60px) rotate(180deg);
        }

        75% {
            -moz-transform: translateX(0) translateY(60px) rotate(270deg) scale(.5);
        }

        100% {
            -moz-transform: rotate(360deg);
        }
    }
    @keyframes loading-animation {
        25% {
            -webkit-transform: translateX(60px) rotate(90deg) scale(.5);
            -moz-transform: translateX(60px) rotate(90deg) scale(.5);
            -ms-transform: translateX(60px) rotate(90deg) scale(.5);
            -o-transform: translateX(60px) rotate(90deg) scale(.5);
            transform: translateX(60px) rotate(90deg) scale(.5);
        }

        50% {
            -webkit-transform: translateX(60px) translateY(60px) rotate(180deg);
            -moz-transform: translateX(60px) translateY(60px) rotate(180deg);
            -ms-transform: translateX(60px) translateY(60px) rotate(180deg);
            -o-transform: translateX(60px) translateY(60px) rotate(180deg);
            transform: translateX(60px) translateY(60px) rotate(180deg);
        }

        75% {
            -webkit-transform: translateX(0) translateY(60px) rotate(270deg) scale(.5);
            -moz-transform: translateX(0) translateY(60px) rotate(270deg) scale(.5);
            -ms-transform: translateX(0) translateY(60px) rotate(270deg) scale(.5);
            -o-transform: translateX(0) translateY(60px) rotate(270deg) scale(.5);
            transform: translateX(0) translateY(60px) rotate(270deg) scale(.5);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
