<!-- the dropdown, dropdownToggle and *dropdownMenu directives are from ngx-bootstrap -->

<!-- Dropdown -->
<div class="dropdown-container" dropdown #dropdown=bs-dropdown (onShown)="openChange.emit({ sender: this, open: true})"
  [ngClass]="{'small-mode': displayMode === FormControlDisplay.Small}"
  (onHidden)="openChange.emit({ sender: this, open: false})" [isDisabled]="isDisabled" container="{{containerbody}}"
  placement="{{placement}}" [ngSwitch]="dropdownIcon" appAutomationLocator [compName]="compName"
  [uniqueKey]="uniqueKey + '_dropUp'" [dropup]="dropup">
  
  <div [tooltip]="isDisabled ? disabledTooltip : null" placement="top" container="body">

  <!-- Custom Icon -->
  <ng-container *ngSwitchCase="AmcsDropdownIconEnum.Custom">
    <app-amcs-button dropdownToggle customClass="dropdown-toggle md-skip btn-link" [disabled]="isDisabled"
      [compName]="compName" [uniqueKey]="uniqueKey + '_custom'">
      <ng-container [ngTemplateOutlet]="customIconTemplate"></ng-container>
    </app-amcs-button>
  </ng-container>

    <!-- Standard Icon -->
    <ng-container *ngSwitchCase="AmcsDropdownIconEnum.Standard">
      <app-amcs-button dropdownToggle customClass="btn-primary dropdown-toggle md-skip" [disabled]="isDisabled"
        [compName]="compName" [uniqueKey]="uniqueKey + '_standard'">
        <ng-content select="toggle">
        </ng-content>
        <span class="caret"></span>
      </app-amcs-button>
    </ng-container>

    <!-- Ellipsis Icon -->
    <ng-container *ngSwitchCase="AmcsDropdownIconEnum.Ellipsis">
      <mat-spinner class="ellipsis-horizontal" [class.hide-content]="!loading" [strokeWidth]="3" [diameter]="20"></mat-spinner>
      <app-amcs-highlight-icon [compName]="compName" [uniqueKey]="uniqueKey + '_ellipsis'" 
        [disabled]="isDisabled" [class.hide-content]="loading"
        [iconClass]="useLargeEllipsis ? 'fa-ellipsis-v ellipsis fas fa-2x' : 'fa-ellipsis-v ellipsis fa'" dropdownToggle>
      </app-amcs-highlight-icon>
    </ng-container>

    <!-- Tasks Icon -->
    <ng-container *ngSwitchCase="AmcsDropdownIconEnum.Tasks">
      <mat-spinner [ngClass]="{'hide-content': !loading }" [strokeWidth]="3" [diameter]="20"></mat-spinner>
      <app-amcs-highlight-icon [compName]="compName" [uniqueKey]="uniqueKey + '_task'" [iconClass]="'fas fa-tasks fa-lg'"
        dropdownToggle [ngClass]="{'hide-content': loading }" [disabled]="isDisabled">
      </app-amcs-highlight-icon>
    </ng-container>

    <!-- Ellipsis Horizontal Icon -->
    <ng-container *ngSwitchCase="AmcsDropdownIconEnum.EllipsisHorizontal">
      <mat-spinner class="ellipsis-horizontal" [class.hide-content]="!loading" [strokeWidth]="3" [diameter]="20"></mat-spinner>
      <app-amcs-highlight-icon [compName]="compName" [uniqueKey]="uniqueKey + '_horizon'" [iconClass]="'fas fa-ellipsis-h'"
        dropdownToggle [class.hide-content]="loading" [disabled]="isDisabled">
      </app-amcs-highlight-icon>
    </ng-container>

  </div>
  <!-- Menu, takes anything inside an unordered list -->
  <ul *dropdownMenu class="dropdown-menu pull-right {{menuCustomClass}}" role="menu" appAutomationLocator [compName]="compName"
    [uniqueKey]="uniqueKey + '_menu'">
    <ng-content select="menu">
    </ng-content>
  </ul>
</div>