<app-amcs-pager [compName]="compName" [totalItemCount]="defaultActions.count" [pageSize]="10" (pageChange)="onPageChange($event)"
  *ngIf="defaultActions">
  <app-amcs-component-filter *ngIf="defaultActions && hasFilterComponent; else noFilter" [compName]="'DefaultActionDetailsComponent'" [isOverlay]="false"
  [properties]="filterProperties" [(data)]="defaultActions.results" (filterChanged)="filterChanged($event)">
  <!-- eslint-disable amcs-html-plugin/deprecated-tag-ban -->
  <app-amcs-selector-grid [compName]="compName" [singleSelectionEnforced]="true" [columns]="columns"
    (rowsSelected)="rowSelected($event)" [data]="defaultActions.results" #selectorGrid></app-amcs-selector-grid>
  </app-amcs-component-filter>
</app-amcs-pager>

<ng-template #noFilter>
  <app-amcs-selector-grid [compName]="compName" [singleSelectionEnforced]="true" [columns]="columns"
  (rowsSelected)="rowSelected($event)" [data]="defaultActions.results" #selectorGrid></app-amcs-selector-grid>
</ng-template>
