<app-amcs-stepper
  (onCancel)="wizardService.return()"
  (onSubmit)="wizardService.submit()"
  [title]="'template.recipeStepper.wizardTitle' | translate"
  stepContentHeight="300px"
  [requestStepChange$]="wizardService.requestStepChangeSubject"
  (onSelectedStepIdChanged)="wizardService.stepChanged($event)"
  appFocusOnError
  appFormSaving
>
  <app-amcs-step>
    <app-dinner-plan-step [heading]="stepTitles['plan']" #step></app-dinner-plan-step>
  </app-amcs-step>
  <app-amcs-step>
    <app-amcs-saving [savingMessage]="'template.recipeStepper.savingMessage' | translate">
      <app-dinner-plan-recipe-step [heading]="stepTitles['recipes']" #step></app-dinner-plan-recipe-step>
    </app-amcs-saving>
  </app-amcs-step>
</app-amcs-stepper>
