@import "sass/abstracts/variables";

app-amcs-timepicker {

  .form-group {
    padding-top: 0px;
  }

  .form-group {
    &.form-md-line-input {
      padding-top: 0px !important;
      margin-top: 0px !important;
    }
  }

  .form-group.form-md-line-input {
    .clock-icon, .form-control.has-success~.clock-icon {
      color: $amcs-form-input-border-color !important;
    }

    .form-control:focus~.clock-icon {
      color: $amcs-form-input-border-active-color !important;
    }
  }

  .form-group.form-md-line-input.has-error {
    .clock-icon {
      color: $amcs-form-input-error-color !important;
    }
  }

  .form-control {
    height: 34px;
    line-height: 34px;
    -moz-padding: 0;
    padding: 8px;
  }

  .form-input-label {
    color: $amcs-form-input-label-colour;
    margin-bottom: 1px;
  }

  .small-mode {
    margin: 0 !important;
    margin-bottom: 15px !important;
    padding-top: 0px !important;

    .bs-timepicker-field {
      width: 25px !important;
    }

    td>.btn {
      padding: 5px 5px 5px 5px !important;
      color: #fff;
      background-color: $amcs-primary-button-color;
      border-color: $amcs-primary-button-border-color;

      &:hover {
        background-color: $amcs-primary-button-hover-color;
        border-color: $amcs-primary-button-border-hover-color;
      }
    }
  }

  .grid-mode {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
  }

  .tooltip-icon{
    color: black;
    padding-left:5px;
  }
}
