<div
  class="form-group form-md-line-input amcs-input"
  [ngClass]="{
    'has-error': hasError,
    'has-success': !hasError && edited,
    'small-mode': displayMode === FormControlDisplay.Small,
    'grid-mode': displayMode === FormControlDisplay.Grid
  }"
>
  <div class="input-icon right">
    <input
      #timeInput
      type="time"
      class="form-control"
      [(ngModel)]="stringValue"
      [ngClass]="{ edited: edited }"
      [disabled]="disabled || ngxConfig.readonlyInput"
      #popover="bs-popover"
      [popover]="popoverTemplate"
      placement="bottom"
      [outsideClick]="true"
      triggers=""
      container="body"
      (keyup)="timeInputKeyUp($event)"
      (click)="timeInputClick($event)"
      appAutomationLocator
      [compName]="compName"
      [uniqueKey]="formControlName + '_' + uniqueKey"
    />
    <ng-container *ngIf="isDefaultLabel; then defaultLabel; else customLabel"></ng-container>
    <ng-template #defaultLabel>
      <label>
        <label app-amcs-form-label [label]="label" class="form-input-label" [isRequired]="isRequired"></label>
        <i *ngIf="addToolTipIcon" class="fa fa-question-circle tooltip-icon" aria-hidden="true"></i>
      </label>
    </ng-template>
    <ng-template #customLabel>
      <label> <ng-content></ng-content> </label>
    </ng-template>
    <i
      (click)="toggle()"
      class="far fa-clock clock-icon"
      appAutomationLocator
      [compName]="compName"
      [uniqueKey]="formControlName + '_' + uniqueKey + '_toggle'"
    ></i>
  </div>
</div>
<ng-template #popoverTemplate>
  <div #timepickerDiv>
    <timepicker
      [(ngModel)]="innerValue"
      (click)="onTouchedCallback()"
      [showMeridian]="ngxConfig.showMeridian"
      [meridians]="ngxConfig.meridians"
      [showSpinners]="ngxConfig.showSpinners"
      [arrowkeys]="ngxConfig.arrowkeys"
      [hourStep]="ngxConfig.hourStep"
      [minuteStep]="ngxConfig.minuteStep"
      [readonlyInput]="ngxConfig.readonlyInput"
      [min]="ngxConfig.min"
      [max]="ngxConfig.max"
      tooltip="{{ timeTooltip }}"
      #timepicker
      appAutomationLocator
      [compName]="compName"
      [uniqueKey]="formControlName + '_' + uniqueKey + '_picker'"
    ></timepicker>
  </div>
</ng-template>
