<span *ngIf="loading" [translate]="'barcodeScanner.loading'">Loading...</span>
<span *ngIf="!loading && (!deviceFound || !hasPermission)" [translate]="'barcodeScanner.noCameraAccess'">Either device
  does not have
  camera or browser does not have permission to access the camera.</span>
<zxing-scanner #scanner [ngClass]="{'hidden': !deviceFound || !hasPermission}" [device]="device" [class]="customClass"
  [formats]="formats" [tryHarder]="tryHarder" (scanSuccess)="onScanSuccess($event)" (scanError)="onScanError($event)"
  (scanFailure)="onScanFailure($event)" (scanComplete)="onScanComplete($event)" (camerasFound)="onCamerasFound($event)"
  (camerasNotFound)="onCamerasNotFound($event)" (permissionResponse)="onPermissionResponse($event)"
  (hasDevices)="onHasDevices($event)" appAutomationLocator [compName]="compName" [uniqueKey]="'scanner'"
  (autostarted)="onAutoStarted()" (autostarting)="onAutoStarting($event)">
</zxing-scanner>