<div class="image-container" [ngStyle]="{ 'background-image': 'url(' + imageSrc + ')' }" appAutomationLocator
  [compName]="compName" [uniqueKey]="formControlName+'_'+uniqueKey+'_div'">
  <h3 class="image-title">{{ headerText }}</h3>
  <div class="image-shadow"></div>
</div>
<ul>
  <li class="list-group-item" *ngFor="let link of links;let i=index"><a [routerLink]="link.route" appAutomationLocator
      [compName]="compName" [uniqueKey]="formControlName+'_'+uniqueKey+'_link_'+ i">{{ link.text
      }}</a>
  </li>
</ul>