@import 'sass/abstracts/variables';

.amcs-light-green {
  background-color: $pallette-tertiary-color;
  color: $amcs-white;
}

.amcs-grey-rounded {
  background-color: $amcs-grey-button-background-color;
  color: $amcs-grey-button-text-color;
}

.btn {
  border-radius: 3px;
  font-weight: bold;
  box-shadow: unset !important;
  text-transform: capitalize !important;

  &.full-width {
    width: 100%;
  }

  &.btn-secondary {
    background-color: $amcs-blue;
    border-color: $amcs-blue;
    border-width: 3px;
    color: $amcs-white;
  }

  &.btn-secondary:hover,
  &.btn-secondary:active {
    background-color: $amcs-button-secondary-color;
    border-color: $amcs-button-secondary-color;
    color: $amcs-white;
  }

  &.btn-apply {
    background-color: $amcs-white;
    border-color: $amcs-status-blue;
    border-width: 1px;
    color: $amcs-status-blue;
  }

  &.btn-apply:hover,
  &.btn-apply:active {
    background-color: $amcs-white;
    border-color: $amcs-status-blue;
    color: $amcs-status-blue;
  }

  &.floating-action-button {
    height: 60px !important;
    width: 60px !important;
    position: fixed !important;
    border-radius: 50% !important;
    font-size: 24px !important;
    background-color: $amcs-green-button-backgrond-color !important;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.3) !important;

    &:hover {
      background-color: $amcs-green-darker !important;
    }

    i {
      color: $amcs-white;
    }
  }

  .amcs-light-green {
    &:hover {
      background-color: $amcs-green-darker;
      color: $amcs-white;
    }

    .amcs-grey-rounded {
      background-color: $amcs-grey-button-background-color;
      color: $amcs-grey-button-text-color;

      &:hover {
        background-color: $amcs-grey-button-background-color-hover;
      }
    }

    &.amcs-green {
      margin-left: 0 !important;
      margin-right: 10px !important;
      border-radius: 3px !important;
      background-color: $amcs-green-button-backgrond-color;
      color: $amcs-green-button-text-color;

      &:hover {
        background-color: $amcs-green-button-background-color-hover;
      }
    }
  }

  &.amcs-green {
    margin-left: 0 !important;
    margin-right: 10px !important;
    border-radius: 3px !important;
    background-color: $amcs-green-button-backgrond-color;
    color: $amcs-green-button-text-color;

    &:hover {
      background-color: $amcs-green-button-background-color-hover;
    }
  }

  &.amcs-yellow {
    margin: 2px 10px 2px 0 !important;
    border-radius: 3px !important;
    background-color: $amcs-yellow-button-backgrond-color;
    color: $amcs-yellow-button-text-color;
    padding: 4px 20px 2px !important;
    font-size: 13px !important;

    &:hover {
      background-color: $amcs-yellow-button-background-color-hover;
    }
  }

  &.amcs-disable {
    margin: 2px 10px 2px 0 !important;
    border-radius: 3px !important;
    background-color: $amcs-white-button-background-color;
    color: $amcs-white-button-text-color;
    padding: 4px 20px 2px !important;
    font-size: 13px !important;

    &:hover {
      border-color: $amcs-white-button-border-color-hover;
    }
  }

  &.amcs-grey {
    margin-left: 0 !important;
    margin-right: 10px !important;
    border-radius: 3px !important;
    background-color: $amcs-grey-button-background-color;
    color: $amcs-grey-button-text-color;

    &:hover {
      background-color: $amcs-grey-button-background-color-hover;
    }
  }

  &.amcs-white {
    margin-left: 10 !important;
    margin-right: 0 !important;
    border-radius: 3px !important;
    background-color: $amcs-white-button-background-color;
    color: $amcs-white-button-text-color;
    border: 3px solid $amcs-white-button-border-color;

    &:hover {
      border-color: $amcs-white-button-border-color-hover;
    }
  }

  &.amcs-teal {
    background-color: $amcs-teal-button-background-color;
    color: $amcs-white;

    &:hover {
      background-color: $amcs-teal-button-background-color-hover;
      color: $amcs-white;
    }
  }
}

.amcs-button {
  background-color: $pallette-tertiary-color;
  color: $amcs-white;
}
