@import 'sass/abstracts/variables';

app-amcs-typeahead {
  .dropdown {
    z-index: 10000 !important;
  }
}

app-amcs-dropdown {
  ul.dropdown-menu {
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12) !important;
    border-radius: 3px !important;
  }
}

bs-dropdown-container {
  z-index: 10000;

  .dropdown-menu>li>a {
    font-family: "Nunito Sans", sans-serif;
    color: $amcs-dropdown-black !important;
  }
}

app-amcs-highlight-icon {
  button.dropdown-toggle {
    border-radius: 100px;
    font-size: 16px;
    height: 40px;
    line-height: 40px !important;
    margin: 1px 0 !important;
    padding: 0;
    width: 40px;
    align-content: center;
    vertical-align: middle;
    color: $amcs-blue;

    &:hover {
      background: $amcs-grey-opacity-10 !important;
      color: $amcs-teal !important;
    }

    &:active,
    &:focus {
      border-bottom: unset;
    }
  }

  .ellipsis {
    &.fa-2x {
      font-size: 1.5em !important;
      color: $pallette-primary-color !important;

      &:hover {
        color: lighten($pallette-primary-color, 10) !important;
      }
    }

    color: inherit !important;
    background-color: transparent;

    &:hover {
      color: inherit !important;
    }
  }
}
