@import 'sass/abstracts/variables';

.map-dropdown {
  background-color: $amcs-white !important;
  border: 0;
  padding: 0;
  border-radius: 0;
}

.map-operation-selector-container {
  width: 140px;
  z-index: 100000;
  position: absolute;
  bottom: 36px;
  left: 46px;
}

.map-option-time-period-container {
  width: 160px;
  z-index: 100000;
  position: absolute;
  bottom: 36px;
  left: 196px;
}

.map-option-vehicle-type-container {
  width: 160px;
  z-index: 100000;
  position: absolute;
  bottom: 36px;
  left: 430px;
}

.map-option-proximity-container {
  width: 160px;
  z-index: 100000;
  position: absolute;
  bottom: 36px;
  left: 600px;
}

.map-option-material-class-container {
  width: 160px;
  z-index: 100000;
  position: absolute;
  bottom: 36px;
  left: 770px;
}

.map-option-search-container {
  color: $amcs-white;
  width: 40px;
  z-index: 100000;
  position: absolute;
  height: 32px;
  bottom: 53px;
  left: 340px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.status-icon-base {
  height: 9px;
  width: 9px;
  border-radius: 9px;
  border: 1px solid $amcs-white;
  z-index: 1;
  position: absolute;
}

.map-marker-popup {
  height: 215px;
  width: 301px;
}

.status-assigned-color {
  background-color: $amcs-yellow;
}

.status-rejected-color {
  background-color: $amcs-red;
}

.status-completed-color {
  background-color: $amcs-green;
}

.base-gps-icon-color {
  background: $amcs-route-blue;
}

.selected-route-visit-site-marker {
  background: $amcs-route-light-blue;
}

.vehicle-marker {
  background-color: $amcs-white;
}

.vehicle-icon-color {
  color: $amcs-route-blue !important;
}

.route-1-marker {
  background: $amcs-route-blue;
}

.route-2-marker {
  background: $amcs-route-blue;
}

.route-3-marker {
  background: $amcs-route-yellow;
}

.route-4-marker {
  background: $amcs-route-purple;
}

.route-5-marker {
  background: $amcs-route-orange;
}

.route-6-marker {
  background: $amcs-route-green;
}

.route-1-legend-list-item {
  border-left: 4px solid $amcs-route-red;
}

.route-2-legend-list-item {
  border-left: 4px solid $amcs-route-blue;
}

.route-3-legend-list-item {
  border-left: 4px solid $amcs-route-yellow;
}

.route-4-legend-list-item {
  border-left: 4px solid $amcs-route-purple;
}

.route-5-legend-list-item {
  border-left: 4px solid $amcs-route-orange;
}

.route-6-legend-list-item {
  border-left: 4px solid $amcs-route-green;
}

.route-1-line {
  stroke: $amcs-route-red;
}

.route-2-line {
  stroke: $amcs-route-blue;
}

.route-3-line {
  stroke: $amcs-route-yellow;
}

.route-4-line {
  stroke: $amcs-route-purple;
}

.route-5-line {
  stroke: $amcs-route-orange;
}

.route-6-line {
  stroke: $amcs-route-green;
}

.transparent-marker {
  background-color: transparent;
}

.amcs-draw-polygon-exclusion {
  stroke: $amcs-red;
  fill: $amcs-red;
  color: $amcs-red;
}

.amcs-exclusion-polygon-hide {
  display: none;
}

.amcs-draw-polygon-1 {
  stroke: $amcs-map-polygon-1;
  fill: $amcs-map-polygon-1;
}

.amcs-draw-polygon-2 {
  stroke: $amcs-map-polygon-2;
  fill: $amcs-map-polygon-2;
}

.amcs-draw-polygon-3 {
  stroke: $amcs-map-polygon-3;
  fill: $amcs-map-polygon-3;
}

.amcs-draw-polygon-4 {
  stroke: $amcs-map-polygon-4;
  fill: $amcs-map-polygon-4;
}

.amcs-draw-polygon-5 {
  stroke: $amcs-map-polygon-5;
  fill: $amcs-map-polygon-5;
}

.amcs-draw-polygon-6 {
  stroke: $amcs-map-polygon-6;
  fill: $amcs-map-polygon-6;
}


.amcs-draw-circle-1 {
  stroke: $amcs-map-polygon-1;
  fill: $amcs-map-polygon-1;
}

.amcs-draw-circle-2 {
  stroke: $amcs-map-polygon-2;
  fill: $amcs-map-polygon-2;
}

.amcs-draw-circle-3 {
  stroke: $amcs-map-polygon-3;
  fill: $amcs-map-polygon-3;
}

.amcs-draw-circle-4 {
  stroke: $amcs-map-polygon-4;
  fill: $amcs-map-polygon-4;
}

.amcs-draw-circle-5 {
  stroke: $amcs-map-polygon-5;
  fill: $amcs-map-polygon-5;
}

.amcs-draw-circle-6 {
  stroke: $amcs-map-polygon-6;
  fill: $amcs-map-polygon-6;
}
