@import 'sass/abstracts/variables';

.mat-dialog-container {
    padding: 0 !important;
}

.cdk-overlay-container {
    z-index: 10000 !important;
}

.cdk-overlay-backdrop {
    background-color: $amcs-modal-background-cover-color !important;
}

.modal-dialog {
    margin: 0;

    .portlet-body {
        .row {
            padding: 2px 0;
        }
    }

    .portlet {
        &.box {
            &.child-portlet {
                .portlet-body {
                    .row {
                        padding: 0;
                    }
                }
            }
        }
    }
}
