<button mat-icon-button [matMenuTriggerFor]="menu" class="menu-toggler menu-button" [ngClass]="buttonClass"
  appAutomationLocator [compName]="compName" [uniqueKey]="'menu'">
  <a><span></span></a>
</button>
<mat-menu #menu="matMenu" class="amcs-menu-panel" [xPosition]="xPosition" [yPosition]="yPosition"
  [backdropClass]="backdropClass">
  <div class="col-xs-12 header-div">
    <h4></h4>
  </div>
  <div class="col-xs-12 menu-items-div">
    <div *ngFor="let item of items;let i = index" class="col-xs-6 menu-item-div">
      <button mat-menu-item (click)="onItemClick(item)" class="menu-item-button"
        [ngClass]="{ 'menu-item-button-selected': item.isSelected }" appAutomationLocator [compName]="compName"
        [uniqueKey]="'menu_'+i">
        <div>
          <mat-icon *ngIf="item.icon" [ngClass]="item.icon" class="menu-item-icon"></mat-icon>
          <span *ngIf="item.text" class="col-xs-12 menu-item-text">{{item.text}}</span>
        </div>
      </button>
    </div>
  </div>
</mat-menu>