<div class="col-xs-12" *ngIf="options">
  <app-amcs-browser-tile
    [options]="options.browserOptions"
    [loading]="loading"
    (onAdd)="onAdd.emit($event)"
    (onEdit)="onEdit.emit($event)"
    (onDelete)="onDelete.emit($event)"
    (onClose)="onClose.emit($event)"
    (onDeExpand)="onDeExpand.emit($event)"
  >
    <app-amcs-grid-wrapper
      [options]="options.gridOptions"
      [loading]="gridLoading || loading"
      [detailsLoading]="detailsLoading"
      (linkClicked)="onLinkClicked.emit($event)"
      (rowExpanded)="onRowExpanded.emit($event)"
      (rowsSelected)="onRowsSelected.emit($event)"
      (valueChanged)="onValueChanged.emit($event)"
      (sortChanged)="onSortChanged.emit($event)"
      (filterChanged)="onFilterChanged.emit($event)"
      (columnPositionsChanged)="onColumnPositionsChanged.emit($event)"
      (selectedPageChanged)="onSelectedPageChanged.emit($event)"
      (popoverClicked)="onPopoverClicked.emit($event)"
      (menuItemClicked)="onMenuItemClicked.emit($event)"
      (openActions)="onOpenActions.emit($event)"
      (showDeletedRecords)="showDeletedRecords.emit($event)"
    ></app-amcs-grid-wrapper>

    <!-- Note need to move this to browsergridlayout options model -->
    <div class="form-actions" *ngIf="options.browserOptions.enableFormActions">
      <app-amcs-save-button customClass="amcs-green pull-left" [noMargin]="true"
        (click)="onSave.emit($event)" [compName]="options.browserOptions.compName" [uniqueKey]="options.browserOptions.saveButtonText">
        <span>{{options.browserOptions.saveButtonText}}</span>
      </app-amcs-save-button>
      <button class="btn btn-default pull-right" type="button" (click)="onCancel.emit($event)" appAutomationLocator
        [compName]="options.browserOptions.compName" [uniqueKey]="options.browserOptions.buttonText">
        <span>{{options.browserOptions.buttonText}}</span>
      </button>
    </div>
  </app-amcs-browser-tile>
</div>
