<!-- HTML here should match amcs-browser-grid-editor-layout + amcs-form-tile -->
<app-amcs-loading-view [loading]="!form" [size]="20" [containerSize]="loadingContainerSize">
    <!-- html-hint-disable form-tag-ban -->
    <form *ngIf="form" [formGroup]="form.htmlFormGroup" #ngForm="ngForm"
        [appFocusOnError]="form.manualFocusOnErrorSubject">
        <div class="form-padding" [class.grid-padding]="displayMode === FormDisplayMode.Grid">
            <ng-container #formHTML></ng-container>
        </div>
        <app-amcs-form-actions *ngIf="enableFormActions" [form]="form" [options]="options.actionOptions"
            (onSave)="onSave.emit($event)" (onCancel)="onCancel.emit($event)" (onContinue)="onContinue.emit($event)"
            (onBack)="onBack.emit($event)">
        </app-amcs-form-actions>
    </form>
</app-amcs-loading-view>
