<!-- eslint-disable amcs-html-plugin/ng-project-label-ban -->
<div *ngIf="!showFormTile"
class="col-xs-4">
  <app-amcs-form
    [form]="form"
  >
    <ng-template>
      <div class="row">
        <div class="col-xs-12">
          <app-amcs-input
            [compName]="'StorybookAmcsFormComponent'"
            formControlName="testName"
            [maxLength]="50"
            [label]="'Test Name'"
          >
          </app-amcs-input>
        </div>
        <div class="col-xs-12">
          <app-amcs-select
            [compName]="'StorybookAmcsFormComponent'"
            formControlName="testId"
            [options]="options"
            [label]="'Test Select 1'"
          >
          </app-amcs-select>
        </div>
        <div class="col-xs-12">
          <app-amcs-select
            [compName]="'StorybookAmcsFormComponent'"
            formControlName="testIdTwo"
            [options]="options"
            [label]="'Test Select 2'"
          >
          </app-amcs-select>
        </div>
      </div>
    </ng-template>
  </app-amcs-form>
</div>
<div *ngIf="showFormTile">
  <app-amcs-form-tile class="col-xs-3" [form]="form" [options]="formTileOptions" (onSave)="onSave()">
    <ng-template>
      <div>
        <app-amcs-datepicker
          [config]="dateConfig"
          placement="bottom"
          [compName]="'StorybookAmcsFormComponent'"
          formControlName="date"
          [label]="'Select Date'"
        >
        </app-amcs-datepicker>
        <app-amcs-select
          [compName]="'StorybookAmcsFormComponent'"
          formControlName="dropdownId"
          [options]="dropdownItems"
          [label]="'Time of Day'"
          [isOptional]="false"
          [customPlaceholder]="'Select to enable Table Selection'"
        >
        </app-amcs-select>
        <app-amcs-select-typeahead
          [loading]="tableLoading"
          [items]="tables"
          bindLabel="description"
          [inputSubject]="tableTextSubject"
          [compName]="'StorybookAmcsFormComponent'"
          formControlName="table"
          [label]="'Table'"
          [isDisabled]="form.hasErrors(form.dropdownId)"
        >
        </app-amcs-select-typeahead>
        <app-amcs-numerical-input
          [compName]="'StorybookAmcsFormComponent'"
          formControlName="numInput"
          [autoFocus]="true"
          [label]="'Number of Guests'"
        >
        </app-amcs-numerical-input>
        <app-amcs-input
          [compName]="'StorybookAmcsFormComponent'"
          formControlName="someText"
          [label]="'Booking Name'"
        >          
        </app-amcs-input>
      </div>
    </ng-template>
  </app-amcs-form-tile>
</div>
