<div class="page-header navbar navbar-fixed-top">
  <div class="col-xs-6 no-pad-right">
    <div class="page-logo logo-padding no-margin">
      <a appAutomationLocator [compName]="compName" [uniqueKey]="'goHome'" (click)="headerComponentService.goHome()">
        <img src="assets/AMCS_Platform.png" alt="logo" class="amcs-logo" />
      </a>
    </div>
    <i class="far fa-search search-icon" (click)="headerComponentService.displaySearchBar()" appAutomationLocator
      [compName]="compName" [uniqueKey]="'searchBar'"></i>
    <div
      (click)="headerComponentService.headerMenuService.onItemClick(headerComponentService.headerMenuService.activeItem)"
      *ngIf="headerComponentService.headerMenuService.activeItem !== null" class="workcenter-logo" appAutomationLocator
      [compName]="compName" [uniqueKey]="'headerMenu'">
      <a>
        <img [src]="headerComponentService.headerMenuService.activeItem.smallIcon">
      </a>
    </div>

  </div>
  <div class="col-xs-6 page-top right-menu no-pad">
    <ul class="nav navbar-nav pull-right">
      <li (click)="headerComponentService.headerService.headerMenuButtonClicked.next(true)" appAutomationLocator
        [compName]="compName" [uniqueKey]="'mainMenu'">
        <a class="wc-menu">
          <i class="fas fa-th"></i>
        </a>
      </li>
      <li class="dropdown dropdown-extended dropdown-inbox" (click)="headerComponentService.expandNotificationsMenu()"
          [ngClass]="{'dropdown-inbox-opened': headerComponentService.isNotificationsOpen}" appAutomationLocator
          [compName]="'HeaderDesktopComponent'" [uniqueKey]="'expandNotification'">
        <a (clickOutside)="closeNotifications()" class="dropdown-toggle communication-dropdown" appAutomationLocator
           [compName]="'HeaderDesktopComponent'" [uniqueKey]="'closeNotification'">
          <i class="fa fa-bell"></i>
          <span class="badge badge-default" *ngIf="notificationCount > 0"
                [ngClass]="{'double-digit-badge': notificationCount > 9}">{{notificationCount}}</span>
        </a>
        <app-header-notifications [compName]="'HeaderDesktopComponent'" [count]="notificationCount"
                                  [opened]="headerComponentService.isNotificationsOpen">
        </app-header-notifications>
      </li>
      <li class="dropdown dropdown-extended dropdown-inbox"
        [ngClass]="{'dropdown-inbox-opened': headerComponentService.isCommunicationsOpen}">
        <a (clickOutside)="closeCommunications()" (click)="headerComponentService.expandCommunicationsMenu()"
          class="dropdown-toggle communication-dropdown" appAutomationLocator [compName]="compName"
          [uniqueKey]="'expandCommunication'">
          <i class="fal fa-envelope-open"></i>
          <span class="badge badge-default" *ngIf="communicationCount > 0">{{communicationCount}}</span>
        </a>
        <app-header-communications [compName]="compName" [count]="communicationCount"
          [opened]="headerComponentService.isCommunicationsOpen">
        </app-header-communications>
      </li>
      <li class="dropdown dropdown-user">
        <a (clickOutside)="close()" (click)="headerComponentService.expandProfileMenu();" class="dropdown-toggle"
          data-toggle="dropdown" data-hover="dropdown" data-close-others="true"
          aria-expanded="headerComponentService.isOpen" appAutomationLocator [compName]="compName"
          [uniqueKey]="'expandProfile'">
          <div class="profile-img-circle-img"
            *ngIf="profileDataThumbnail != null && profileDataThumbnail !== '';else noProfilePic">
            <img src="{{profileDataThumbnail}}" class="profile-img-circle-img" alt="">

          </div>
          <ng-template #noProfilePic>
            <div class="profile-img-circle">
              <span *ngIf="profileInitials != null && profileInitials !== ''"
                class="initials">{{profileInitials}}</span>
            </div>
          </ng-template>
        </a>

        <ul [ngClass]="{'dropdown-menu-open': headerComponentService.isOpen}"
          class="dropdown-menu dropdown dropdown-user dropdown-menu-default profile-menu" role="menu">
          <li>
            <a class="menu-text" (click)="headerComponentService.goToMyProfile()" appAutomationLocator
              [compName]="compName" [uniqueKey]="'myProfile'">
              <i class="icon-user"></i> {{ 'shared.header.myProfile' | translate }} </a>
          </li>
          <li *ngIf="headerComponentService.showAboutLink">
            <a class="menu-text">
              <i class="icon-calendar"></i> {{ 'shared.header.aboutElemos' | translate }} </a>
          </li>
          <li>
            <a class="menu-text" (click)="headerComponentService.logOut()" appAutomationLocator [compName]="compName"
              [uniqueKey]="'logout'">
              <i class="icon-key"></i> {{ 'shared.header.logout' | translate }} </a>
          </li>
          <li *ngIf="headerComponentService.showDevtools">
            <a class="menu-text" (click)="headerComponentService.goToDevHome()" appAutomationLocator
              [compName]="compName" [uniqueKey]="'devTool'">
              <i class="icon-key fa fa-wrench"></i> Dev Tools
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="search-bar-container" (@expandCollapse.done)="tileUiService.innerTilesChanged.next()"
  [@expandCollapse]="isSearchClicked">
  <app-amcs-global-search [compName]="'HeaderMobileComponent'" appInstrumentation appInstrumentationListen>
  </app-amcs-global-search>
</div>
<div class="mobile-header-padding" [ngClass]="{'expanded': isSearchClicked}"></div>
