@import 'sass/abstracts/variables';

.recur-container {
  float: left;
  margin-bottom: 10px;
  padding-left: 15px;
  label {
    padding-left: 6px;
    color: $amcs-form-label-colour;
  }
}

.no-padding {
  padding: 0px !important;
  padding-top: 6px !important;
}

.no-rightpadding {
  padding-right: 0px;
}

.weekly-days-container {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
