@import 'sass/abstracts/variables';

.page-404 {
  text-align: center;
}

.page-404 .number {
  position: relative;

  display: inline-block;
  letter-spacing: -10px;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 128px;
  font-size: 128px;
  font-weight: 300;
  color: $pallette-404-text-color;
  text-align: right;
  top: 100px;
  letter-spacing: -10px;
  line-height: 128px;
  font-family: 'DIN Next';
  font-size: 128px;
  font-weight: 500;
}

.page-404 .details {
  margin-left: 40px;
  display: inline-block;
  text-align: left;
  padding-top: 0;
  position: relative;
  text-align: left;
  top: 100px;
}

@media (max-width: 480px) {
  .page-404 .number,
  .page-404 .details {
    text-align: center;
    margin-left: 0px;
  }
}
