<div class="row">
  <div class="col-md-12 page-404">
    <div class="number">404</div>
    <div class="details">
      <h3 [translate]="'notfound.title'">Sorry, we couldn't find that page.</h3>
      <p [translate]="'notfound.description'">
        The URL entered may be incorrect, or the page you are looking for may no longer exist.
        <br />
        <a (click)="previousRoute()" [translate]="'notfound.returnlink'">Return to previous page</a
        ><span [translate]="'notfound.returnlink'">or try the search bar above.</span>
      </p>
    </div>
  </div>
</div>
