<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner col-sm-9 col-md-9 col-lg-9 no-left-pad">
    <div class="col-sm-5 col-md-5 col-lg-4 no-left-pad search-container">
      <div class="page-logo logo-padding">
        <a (click)="goToDashboard()">
          <img src="assets/AMCS_Platform.png" alt="logo" class="amcs-logo" />
          <img src="assets/AMCS_Platform_hover.png" alt="logo" class="amcs-logo" />
        </a>
      </div>
      <div
        (click)="headerComponentService.headerMenuService.onItemClick(headerComponentService.headerMenuService.activeItem)"
        *ngIf="headerComponentService.headerMenuService.activeItem !== null"
        class="workcenter-logo"
      >
        <a>
          <img [src]="headerComponentService.headerMenuService.activeItem.smallIcon" />
          <span>{{ headerComponentService.headerMenuService.activeItem.text }}</span>
        </a>
      </div>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-8 no-left-pad search-container">
      <app-amcs-global-search></app-amcs-global-search>
    </div>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3 page-top right-menu no-pad">
    <ul class="nav navbar-nav pull-right">
      <li (click)="headerComponentService.headerService.headerMenuButtonClicked.next(true)">
        <a class="wc-menu">
          <i class="fas fa-th"></i>
        </a>
      </li>
      <li class="dropdown dropdown-user" (click)="headerComponentService.expandProfileMenu()">
        <a
          (clickOutside)="close()"
          class="dropdown-toggle username"
          data-toggle="dropdown"
          [ngClass]="{
            'dropdown dropdown-user open dropdown-dark': headerComponentService.isOpen,
            'dropdown dropdown-user dropdown-dark': !headerComponentService.isOpen
          }"
          data-placement="bottom"
          tooltip="{{ headerComponentService.userName }}"
          data-hover="dropdown"
          data-close-others="true"
          aria-expanded="headerComponentService.isOpen"
        >
          <div class="profile-img-circle-img" *ngIf="profileDataThumbnail != null && profileDataThumbnail !== ''; else noProfilePic">
            <img src="{{ profileDataThumbnail }}" class="profile-img-circle-img" alt="" />
          </div>
          <ng-template #noProfilePic>
            <div class="profile-img-circle">
              <span *ngIf="profileInitials != null && profileInitials !== ''" class="initials">{{ profileInitials }}</span>
            </div>
          </ng-template>
          <span class="user-name-text">{{ headerComponentService.shortUserName }}</span>
          <i class="fal fa-angle-down"></i>
        </a>

        <ul
          [ngClass]="{ 'dropdown-menu-open': headerComponentService.isOpen }"
          class="dropdown-menu dropdown dropdown-user dropdown-menu-default profile-menu"
          role="menu"
        >
          <li>
            <a class="menu-text" (click)="headerComponentService.goToMyProfile()">
              <i class="icon-user"></i> {{ 'shared.header.myProfile' | translate }}
            </a>
          </li>
          <li *ngIf="headerComponentService.showAboutLink">
            <a class="menu-text"> <i class="icon-calendar"></i> {{ 'shared.header.aboutElemos' | translate }} </a>
          </li>
          <li>
            <a class="menu-text" (click)="headerComponentService.logOut()">
              <i class="icon-key"></i> {{ 'shared.header.logout' | translate }}
            </a>
          </li>
          <li *ngIf="headerComponentService.showDevtools">
            <a class="menu-text" (click)="headerComponentService.goToDevHome()"> <i class="icon-key fa fa-wrench"></i> Dev Tools </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="desktop-header-padding"></div>
