<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="AMCS" value="https://amcsgroup.pkgs.visualstudio.com/_packaging/AMCS/nuget/v3/index.json" />
    <add key="AMCS Mobile" value="https://amcsgroup.pkgs.visualstudio.com/_packaging/AMCS.Mobile/nuget/v3/index.json" />
    <add key="AMCS Weights" value="https://amcsgroup.pkgs.visualstudio.com/_packaging/AMCS.Weights/nuget/v3/index.json" />
    <add key="AMCS 3.5" value="https://amcsgroup.pkgs.visualstudio.com/_packaging/AMCS_3.5/nuget/v3/index.json" />
    <add key="AMCS Third Party" value="https://amcsgroup.pkgs.visualstudio.com/_packaging/Third_Party/nuget/v3/index.json" />
    <add key="Build" value="https://amcsgroup.pkgs.visualstudio.com/_packaging/Build/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>