.mask {
    height: 75%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 17px;
    cursor: pointer;
}

.close-mask {
    position: absolute;
    top: 18px;
    right: -5px;
    padding: 10px;
    cursor: pointer;
}