@import "sass/abstracts/variables";

.multi-select-card {
  border: 1px solid $amcs-portlet-grey-border-color;
  text-align: left;
  width: 100%;
  padding: 0px 15px 0px 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.is-selected {
    background-color: $amcs-select-card-selected-color;
    border: 2px solid $amcs-select-card-selected-border-color;
    border-radius: 3px;

    &:hover {
      border: 2px solid $amcs-select-card-selected-border-color;
    }
  }

  &:hover {
    border: 1px solid $amcs-select-card-highlighted-color;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.highlighted-container {
  position: absolute;
  top: 22px;
  right: 30px;
  color: $amcs-grey-button-text-color;
  opacity: 0.15;
}