@import '~sass/abstracts/functions';

.amcs-title {
    font-size: 16px;
    padding: 15px 0;
}

@font-face {
    font-family: 'DIN Next';
    src: url('#{$fonts-path}/dinnext-light.eot?#iefix') format('eot'),
    url('#{$fonts-path}/dinnext-light.woff') format('woff'),
    url('#{$fonts-path}/dinnext-light.ttf') format('truetype'),
    url('#{$fonts-path}/dinnext-light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next';
    src: url('#{$fonts-path}/dinnext-lightitalic.eot?#iefix') format('eot'),
    url('#{$fonts-path}/dinnext-lightitalic.woff') format('woff'),
    url('#{$fonts-path}/dinnext-lightitalic.ttf') format('truetype'),
    url('#{$fonts-path}/dinnext-lightitalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next';
    src: url('#{$fonts-path}/dinnext-regular.woff') format('woff'),
    url('#{$fonts-path}/dinnext-regular.ttf') format('truetype'),
    url('#{$fonts-path}/dinnext-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next';
    src: url('#{$fonts-path}/dinnext-regularitalic.woff') format('woff'),
    url('#{$fonts-path}/dinnext-regularitalic.ttf') format('truetype'),
    url('#{$fonts-path}/dinnext-regularitalic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next';
    src: url('#{$fonts-path}/dinnext-medium.eot?#iefix') format('eot'),
    url('#{$fonts-path}/dinnext-medium.woff') format('woff'),
    url('#{$fonts-path}/dinnext-medium.ttf') format('truetype'),
    url('#{$fonts-path}/dinnext-medium.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next';
    src: url('#{$fonts-path}/dinnext-mediumitalic.woff') format('woff'),
    url('#{$fonts-path}/dinnext-mediumitalic.ttf') format('truetype'),
    url('#{$fonts-path}/dinnext-mediumitalic.svg') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next';
    src: url('#{$fonts-path}/dinnext-bold.eot?#iefix') format('eot'),
    url('#{$fonts-path}/dinnext-bold.woff') format('woff'),
    url('#{$fonts-path}/dinnext-bold.ttf') format('truetype'),
    url('#{$fonts-path}/dinnext-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next';
    src: url('#{$fonts-path}/dinnext-bolditalic.woff') format('woff'),
    url('#{$fonts-path}/dinnext-bolditalic.ttf') format('truetype'),
    url('#{$fonts-path}/dinnext-bolditalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'AMCS';
    src: url('#{$fonts-path}/amcs.ttf?j0lljc') format('truetype'),
    url('#{$fonts-path}/amcs.woff?j0lljc') format('woff'),
    url('#{$fonts-path}/amcs.svg?j0lljc#AMCS') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DIN Next', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: $amcs-grey;
    text-rendering: optimizeLegibility;
}

.mt-element-step {
    .step-no-background {
        .active {
            .mt-step-number,
            .mt-step-title {
                color: $amcs-green !important;
            }
        }
    }
}

.fa-filter {
    font-size: 22px;
}

.fa-ellipsis-v {
    font-size: 20px;
}

.fa-angle-up,
.fa-angle-down {
    font-size: 24px;
}

.portlet {
    >.portlet-title {
        >.actions {
            i {
                &.fa-calendar-alt {
                    vertical-align: top;
                }
            }
        }
    }
}

.text-danger {
    color: $amcs-red;
}

.text-success {
    color: $amcs-green;
}
