<div [class]="'portlet box portlet-fit bordered blue ' + portletCustomClass">
  <div class="portlet-title">
    <ng-content select="title"></ng-content>
  </div>
  <div class="portlet-body" *ngIf="!loading">
    <ng-content select="body"></ng-content>
  </div>

  <div class="portlet-body portlet-skeleton" *ngIf="loading">
    <!-- CSS animation taken from https://codepen.io/trungk18/pen/yJggrL -->
    <div class="portlet-skeleton-body-load">
      <div class="square square-c state1c"></div>
      <div class="square square-c state2c"></div>
    </div>
  </div>
  <div class="clear-body"></div>
</div>
