<div *ngIf="hasButtons" class ="action-container" [ngClass]="{'setConfirmpadding': options.enableDelete}">
    <div class="form-actions">
        <app-amcs-button [compName]="compName" [uniqueKey]="'back'" *ngIf="options.enableBack"
            [customClass]="backCustomClass" (click)="doBack()">
            <span [translate]="'formTile.editor.back'">Back</span>
        </app-amcs-button>
        <app-amcs-save-button [compName]="compName" [uniqueKey]="'continue'" *ngIf="options.enableContinue"
            [customClass]="continueCustomClass" (click)="doContinue()">
            <span [translate]="'formTile.editor.continue'"></span>
        </app-amcs-save-button>
        <app-amcs-save-button [compName]="compName" [uniqueKey]="'save'" *ngIf="options.enableSave || options.enableDelete"
            [customClass]="handelSaveorDeleteCustomClass" [noMargin]="options.enableSave"
            [disabled]="(isEditMode && options.checkPristine && form.htmlFormGroup.pristine) || options.disableSave" (click)="doSave()">
            <span *ngIf="options.enableSave" [translate]="'formTile.editor.save'">Save</span>
            <span *ngIf="options.enableDelete" [translate]="'formTile.editor.delete'">Delete</span>
        </app-amcs-save-button>
        <app-amcs-button [compName]="compName" [uniqueKey]="'cancel'" *ngIf="options.enableCancel"
            customClass="btn-default noMargin pull-left" (click)="doCancel()">
            <span [translate]="'formTile.editor.cancel'">Cancel</span>
        </app-amcs-button>
    </div>
</div>
