@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.action-container {
  padding-left: 15px;
  padding-right: 15px;

    .form-actions {
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
    border-top: 1px solid  $amcs-box-border-color;
    }
}

.setConfirmpadding {
  padding-right: 0px !important;
}
