@import 'sass/abstracts/variables';

ul.dropdown-menu {
  min-width: 150px;
  padding-bottom: 5px;

  li > a {
    padding: 6px 12px;
    display: flex;

    i.item-icon {
      color: $amcs-black;
      margin-right: 6px;
      flex: 0 0 20px;
      font-size: 17px;
      position: relative;
      top: 1px;
    }

    span.dropdown-item-text {
      color: black;
      flex: 1;
      font-weight: 400;
    }

    i.selected-item {
      margin-left: 5px;
      flex: 0 0 20px;
      color: green;
    }
  }
}

.btn-group,
.btn-group.open {
  button.dropdown-toggle {
    background-color: $amcs-white;
    color: $amcs-actions-control-color;
    border: 1px solid $amcs-actions-control-border-color;
    border-radius: 4px;
    padding: 6px;

    &:hover {
      background: $amcs-actions-control-bg-hover-color;
    }

    i {
      font-weight: 900;
      font-style: normal;
      display: inline-block;
      cursor: inherit;
      margin: 0;
      position: relative;
      top: 3px;
      padding-right: 5px;
      font-size: 22px;
    }
  }
}

span.selected-item-text {
  color: $amcs-grid-header-text-color;
  padding-right: 5px;
  float: left;
  padding-left: 6px;
}

span.chevron {
  color: gray;
  float: right;
  padding-left: 5px;
  padding-top: 3px;
  padding-right: 14px;
}

.list-header {
  margin: 12px 12px 6px;
  text-transform: uppercase;
}
