<div class="mobile-layout">
  <app-amcs-mobile-header [title]="title" [optionText]="optionText" [optionUppercase]="optionUppercase"
    [optionIcon]="optionIcon" [optionIconSubText]="optionIconSubText" [loading]="loading" [saving]="saving"
    (onReturn)="return()" (onOption)="option()">
  </app-amcs-mobile-header>
  <app-amcs-loading-view [verticallyCenter]="true" [loading]="loading" [color]="'#137FBE'" [size]="20">
    <div *ngIf="showSummary" class="row">
      <div class="col-xs-12">
        <app-amcs-mobile-summary [items]="summaryItems" [customClass]="summaryCustomClass"
          (onItemClick)="itemClicked($event)">
        </app-amcs-mobile-summary>
      </div>
    </div>
    <div class="body-div" [ngClass]="{'show-save-cancel': showSaveCancel, 'show-summary': showSummary}">
      <ng-content select="body"></ng-content>
    </div>
    <app-amcs-mobile-action-buttons *ngIf="showSaveCancel" [saveText]="saveText" [enableSave]="enableSave"
      [cancelText]="cancelText" [cancelSecondaryColor]="cancelSecondaryColor" [cancelPrimaryColor]="cancelPrimaryColor"
      [hideCancelButton]="hideCancelButton" (onCancel)="cancel()" (onSave)="save()">
    </app-amcs-mobile-action-buttons>
  </app-amcs-loading-view>
</div>
<div *ngIf="saving" class="overlay">
  <app-amcs-loading-view [verticallyCenter]="true" [loading]="true" [color]="'#4d4d4d'" [size]="20">
  </app-amcs-loading-view>
</div>
