@import "sass/abstracts/variables";

.radio-tile-wrapper.no-padding {
  padding: 0px;
}

.radio-tile-wrapper {
  padding-bottom: 15px;

  .radio-tile-group:hover {
    cursor: pointer !important;

    .radio-tile {
      img {
        filter: unset;
        opacity: unset;
      }
    }
  }

  .radio-tile-group {
    font-family: 'DIN Next';
    border-radius: 6px;
    border: 1px solid $amcs-portlet-grey-border-color;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }

    &:hover {
      border: 1px solid $amcs-radio-tile-highlighted-color;
    }

    &:hover.disabled {
      cursor: not-allowed;
    }

    &.has-error {
      border: 1px solid $pallette-alert-color;
    }

    &:hover.active {
      border: 1px solid $amcs-radio-tile-selected-color;
    }

    &.active {
      border: 1px solid $amcs-radio-tile-selected-color;

      .radio-tile {
        img {
          filter: unset;
          opacity: unset;
        }
      }
    }

    .radio-tile {
      width: 100%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      img {
        width: 40%;
        display: inline-block;
        filter: grayscale(100%);
        opacity: 0.7;
      }

      label {
        cursor: pointer;
        width: 60%;
        font-weight: 550;
        color: $amcs-radio-tile-selected-color;
        padding-right: 15px;
      }
    }

    .radio-tile-extras {
      display: table;
      width: 100%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .radio-tile-extra {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border: 1px solid $amcs-portlet-grey-border-color;

        label {
          cursor: pointer;
          margin-top: 5px;
          font-weight: 550;
        }

        &.is-first {
          border-bottom-left-radius: 6px;
        }

        &.is-last {
          border-bottom-right-radius: 6px;
        }

        &.active {
          background-color: $amcs-radio-tile-selected-color;
          color: $amcs-portlet-blue-inner-text-color;
          border: 1px solid $amcs-radio-tile-selected-color;
        }
      }
    }
  }
}

.img-min-height {
  min-height: 105px;
}

.no-bottom-pad {
  padding-bottom: 0;
}

.radio-tile-wrapper.display-icon {
  min-width: 95px;

  .radio-tile-group {
    &.active {
      border: 1px solid $amcs-form-label-colour;
    }

    &.disabled {
      label {
        cursor: not-allowed!important;
      }
    }

    .radio-tile {

      &.customer-template-tile {
        padding: 0px;

        label {
          text-align: unset;

          >span {
            padding-right: 7px;
          }
        }
      }

      img {
        width: 25%;
        display: inline-block;
        filter: grayscale(100%);
      }

      label {
        cursor: pointer;
        width: 100%;
        font-weight: 550;
        line-height: 10px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: 400;
        padding: 10px;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 0px;

        >span {
          padding-right: 2px;
        }
      }
    }
  }
}


