<!-- eslint-disable amcs-html-plugin/ng-project-label-ban --> 
<app-amcs-form-tile [form]="form" [options]="formTileOptions" (onSave)="onSave()">
  <ng-template>
    <div [class.fix-css]="fixCss">
    <div class="row">
      <div class="col-lg-3">
        <app-amcs-datepicker
          [config]="dateConfig"
          placement="bottom"
          [compName]="'StorybookPaymentFormComponent'"
          formControlName="paymentDate"
          [hasError]="form.hasErrors(form.paymentDate)"
        >
          <label>Payment Date</label>
          <span class="required" aria-required="true">*</span>
        </app-amcs-datepicker>
      </div>
      <div class="col-lg-3">
        <app-amcs-numerical-input
          [compName]="'StorybookPaymentFormComponent'"
          formControlName="amount"
          [autoFocus]="true"
          [hasError]="form.hasErrors(form.amount)"
        >
          <ng-container ngProjectAs="label">
            <label>Amount Due</label>
            <span class="required" aria-required="true">*</span>
          </ng-container>
        </app-amcs-numerical-input>
      </div>
      <div class="col-lg-3">
        <app-amcs-select
          [compName]="'StorybookPaymentFormComponent'"
          formControlName="currencyId"
          [options]="currencies"
          [hasError]="form.hasErrors(form.currencyId)"
        >
          <span>Currency</span>
          <span class="required" aria-required="true">*</span>
        </app-amcs-select>
      </div>
      <div class="col-lg-3">
        <app-amcs-input
          [compName]="'StorybookPaymentFormComponent'"
          formControlName="reference"
          [hasError]="form.hasErrors(form.reference)"
        >
          <ng-container ngProjectAs="label">
            <span>Reference</span>
          </ng-container>
          <ng-container ngProjectAs="errors">
            <span *ngIf="form.hasErrors(form.reference, 'pattern')" class="help-block help-block-error">Must Be Alphanumeric</span>
          </ng-container>
        </app-amcs-input>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" radioControl>
        <app-amcs-radio-tile
          [compName]="'StorybookPaymentFormComponent'"
          formControlName="paymentTypeRadioId"
          [uniqueKey]="'r'"
          *ngFor="let option of paymentTypes; let r = index; let isLast = last"
          [label]="option.description"
          [iconClass]="option.iconClass"
          [iconImgSrc]="option.iconSrc"
          [value]="option.type"
        ></app-amcs-radio-tile>
      </div>
      <div class="col-lg-6" *ngIf="form.paymentTypeRadioId.value === PaymentTypeRadio.Cheque">
        <app-amcs-datepicker
          [compName]="'StorybookPaymentFormComponent'"
          [config]="dateConfig"
          placement="bottom"
          formControlName="dateCleared"
          [hasError]="form.hasErrors(form.dateCleared)"
        >
          <label [translate]="'sharedcustomer.payment.dateCleared'">Date Cleared </label>
          <span class="required" aria-required="true">*</span>
        </app-amcs-datepicker>
      </div>
      <div class="col-lg-6" *ngIf="form.paymentTypeRadioId.value === PaymentTypeRadio.Card">
        <app-amcs-select-with-search
          [isOptional]="true" bindValue="id" bindLabel="description" 
          [compName]="'StorybookPaymentFormComponent'"
          formControlName="creditCardVault"
          [items]="creditCardVaults"
          [hasError]="form.hasErrors(form.creditCardVault)"
        >
          <label [translate]="'sharedcustomer.payment.creditCard'">Credit Card </label>
        </app-amcs-select-with-search>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <app-amcs-select-typeahead
          [loading]="accountsLoading"
          [items]="accounts"
          bindLabel="description"
          [inputSubject]="accountTextSubject"
          [compName]="'StorybookPaymentFormComponent'"
          formControlName="account"
          [hasError]="form.hasErrors(form.account)"
        >
          Customer Email Account
        </app-amcs-select-typeahead>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-amcs-text-area [compName]="'StorybookPaymentFormComponent'" formControlName="notes" [hasError]="form.hasErrors(form.notes)">
          <ng-container ngProjectAs="label">
            <span>Notes</span>
          </ng-container>
        </app-amcs-text-area>
      </div>
    </div>
    </div>
  </ng-template>
</app-amcs-form-tile>
