@import "sass/abstracts/_variables.scss";

.mobile-header {
  height: 50px;
  line-height: 50px;
  background-color: $amcs-teal;
  color: $amcs-white;
  display: flex;
}

.back-button {
  color: $amcs-white;
  float: left;
  height: 20px;
  width: 20px;
  margin-left: 15px;
  font-size: 20px;
}

.title {
  float: left;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.option-button {
  color: $amcs-white;
  float: right;
  padding-right: 15px;
  font-size: 14px;
  text-decoration: none;
  line-height: normal;
  padding-top: 15px;
  font-weight: bold;
}

.option-icon-sub-text{
  padding-left: 5px;
  font-weight: 600;
  font-size: 18px;
}
