<div class="mobile-header">
  <a class="back-button" (click)="onBackClicked()" appAutomationLocator [compName]="'AmcsMobileHeaderComponent'"
    [uniqueKey]="'back'">
    <i class="fas fa-arrow-left"></i>
  </a>
  <div class="title">{{title}}</div>
  <a *ngIf="optionText && !loading" class="option-button" [ngClass]="{'uppercase': optionUppercase}"
    (click)="onOptionClicked()" appAutomationLocator [compName]="'AmcsMobileHeaderComponent'" [uniqueKey]="'option'">
    <span>{{optionText}}</span>
  </a>
  <a *ngIf="optionIcon && !loading" class="option-button" (click)="onOptionClicked()" appAutomationLocator
    [compName]="'AmcsMobileHeaderComponent'" [uniqueKey]="'optionIcon'">
    <i [ngClass]="optionIcon">
    </i>
    <span *ngIf="optionIconSubText" class="option-icon-sub-text">({{optionIconSubText}})</span>
  </a>
</div>
