<!-- Embedded -->
<app-amcs-loading-view *ngIf="!displayInModal" [loading]="sanitizedPaymentURL == null" [size]="20"
  [containerSize]="height">
  <ng-container [ngTemplateOutlet]="iframe"></ng-container>
</app-amcs-loading-view>

<!-- Modal -->
<ng-template #modalTemplate>
  <app-amcs-custom-tile customClass="no-margin">
    <ng-container ngProjectAs="title">
      <div class="caption">
        <span class="caption-subject bold uppercase">{{title}}</span>
      </div>
      <div class="actions">
        <a appAutomationLocator [compName]="compName" [uniqueKey]="'cancel'" (click)="cancel()"><i
            class="fal fa-times fa-2x"></i></a>
      </div>
    </ng-container>
    <ng-container ngProjectAs="body">
      <ng-container [ngTemplateOutlet]="iframe"></ng-container>
    </ng-container>
  </app-amcs-custom-tile>
</ng-template>

<!-- Iframe -->
<ng-template #iframe>
  <!-- Added iframe name as part of ACI integration -->
  <iframe name="PayUIIFrame" [src]="sanitizedPaymentURL" [style.height.px]="height" [style.width.px]="width"
    [style.border.px]="border"></iframe>
</ng-template>