<app-amcs-loading-view [loading]="helper.loading">
  <app-amcs-inner-container-group *ngIf="!helper.loading">
    <div class="multi-selector-container">
      <ng-container *ngFor="let tile of adapter.tiles; let i=index">
        <app-amcs-inner-tile [compName]="compName" [caption]="tile.title" [isDynamicHeight]="isDynamicHeight"
          [style.width.%]="(100 - (10 * (adapter.tiles.length - 1))) / adapter.tiles.length">
          <div cdkDropList [id]="tile.id.toString()" [cdkDropListConnectedTo]="helper.tileIds"
            [cdkDropListSortingDisabled]="disableOrdering" [cdkDropListData]="tile.enabledItems"
            (cdkDropListDropped)="dragFinished(tile, $event)" [style.min-height.px]="minHeight" [style.max-height.px]="maxHeight">
            <ul class="disabled-list" *ngIf="tile.disabledItems.length > 0">
              <li class="app-amcs-multi-tile-selector" *ngFor="let item of tile.disabledItems; let i=index">
                <ng-template [ngTemplateOutlet]="itemTextTemplate" [ngTemplateOutletContext]="{ item: item, index: i }">
                </ng-template>
              </li>
            </ul>
            <ul>
              <li cdkDrag class="app-amcs-multi-tile-selector {{item.cssClass}}" (cdkDragStarted)="dragStarted()"
                cdkDragPreviewClass="app-amcs-multi-tile-selector-selected" (click)="itemSelected(tile, item)"
                [class.selected]="item.isSelected" *ngFor="let item of tile.enabledItems;let i = index"
                appAutomationLocator [compName]="compName" [uniqueKey]="'select_' + i">
                <ng-template [ngTemplateOutlet]="itemTextTemplate" [ngTemplateOutletContext]="{ item: item, index: i }">
                </ng-template>
                <mat-spinner [ngClass]="{'hide-content': !item.isMoving }" [strokeWidth]="3" [diameter]="20">
                </mat-spinner>
              </li>
            </ul>
          </div>
        </app-amcs-inner-tile>
        <app-amcs-inner-container *ngIf="i != (adapter.tiles.length - 1)">
          <div class="move-button-container">
            <app-amcs-button [compName]="compName" [uniqueKey]="'left'" [minWidth]="85"
              [disabled]="!tile.moveLeftEnabled"
              (click)="tile.moveLeftEnabled ? moveLeft(adapter.tiles[(i + 1)].id, tile.id) : null">
              <i class="far fa-angle-left"></i>
              {{adapter.moveLeftText}}
            </app-amcs-button>
            <app-amcs-button [compName]="compName" [uniqueKey]="'right'" [minWidth]="85"
              [disabled]="!tile.moveRightEnabled"
              (click)="tile.moveRightEnabled ? moveRight(tile.id, adapter.tiles[(i + 1)].id) : null">
              {{adapter.moveRightText}}
              <i class="far fa-angle-right"></i>
            </app-amcs-button>
          </div>
        </app-amcs-inner-container>
      </ng-container>
    </div>
  </app-amcs-inner-container-group>
</app-amcs-loading-view>