@import "sass/abstracts/_variables.scss";

.status-badge {
  position: relative;
  font-weight: bold;
  height: 20px;
  border-radius: 3px;
  display: inline-flex;
  padding: 0 10px;

  .progress-bar {
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }

  .status-badge-text {
    transform: translate(0%, 5%);
    font-weight: bold;
    color: #ffffff;

    .status-badge-icon {
      display: inline;
      padding-right: 5px;
    }
  }

  &.status-badge-positive {
    background-color: $amcs-status-badge-positive-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-positive;
    }
  }

  &.status-badge-warning {
    background-color: $amcs-status-badge-warning-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-warning;
    }

    .status-badge-text {
      color: $amcs-status-badge-text-dark;
    }
  }

  &.status-badge-negative {
    background-color: $amcs-status-badge-negative-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-negative;
    }
  }

  &.status-badge-informative {
    background-color: $amcs-status-badge-informative-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-informative;
    }
  }

  &.status-badge-informative-alt {
    background-color: $amcs-status-badge-informative-alt-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-informative-alt;
    }
  }

  &.status-badge-neutral {
    background-color: $amcs-status-badge-neutral-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-neutral;
    }

    .status-badge-text {
      color: $amcs-status-badge-text-dark;
    }
  }

  &.status-badge-neutral-negative {
    background-color: $amcs-status-badge-neutral-negative-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-neutral-negative;
    }
  }

  &.status-badge-positive-2 {
    background-color: $amcs-status-badge-positive-2-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-positive-2;
    }
  }

  &.status-badge-informative-alt-2 {
    background-color: $amcs-status-badge-informative-alt-2-opaque;

    .progress-bar {
      background-color: $amcs-status-badge-informative-alt-2;
    }
  }

  &.status-badge-icon-only {
    width: 20px;
    padding: 0;

    .status-badge-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 5%);

      .status-badge-icon {
        padding: 5px;
      }
    }
  }
  &.status-badge-match-parent-width {
    width: 100%;
    padding: 0;

    .progress-bar {
      position: relative;
    }

    .status-badge-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 5%);
    }
  }
}
