<div
  class="status-badge"
  [class.status-badge-positive]="badgeType === StatusBadgeTypeEnum.Positive"
  [class.status-badge-warning]="badgeType === StatusBadgeTypeEnum.Warning"
  [class.status-badge-negative]="badgeType === StatusBadgeTypeEnum.Negative"
  [class.status-badge-informative]="badgeType === StatusBadgeTypeEnum.Informative"
  [class.status-badge-informative-alt]="badgeType === StatusBadgeTypeEnum.InformativeAlt"
  [class.status-badge-neutral]="badgeType === StatusBadgeTypeEnum.Neutral"
  [class.status-badge-neutral-negative]="badgeType === StatusBadgeTypeEnum.NeutralNegative"
  [class.status-badge-positive-2]="badgeType === StatusBadgeTypeEnum.Positive2"
  [class.status-badge-informative-alt-2]="badgeType === StatusBadgeTypeEnum.InformativeAlt2"
  [class.status-badge-icon-only]="displayMode === StatusBadgeDisplayModeEnum.IconOnly"
  [class.status-badge-match-parent-width]="matchParentWidth"
>
  <div class="progress-bar" [style.width]="progress===null?'100%':progress"></div>
  <span class="status-badge-text" [tooltip]="displayMode === StatusBadgeDisplayModeEnum.IconOnly ? label : null">
    <i class="status-badge-icon" *ngIf="displayMode !== StatusBadgeDisplayModeEnum.TextOnly && faIconClass" [class]="faIconClass"></i
    >{{ displayMode !== StatusBadgeDisplayModeEnum.IconOnly ? label : null }}
  </span>
</div>
