<div
  class="form-group form-md-line-input amcs-input {{ customClass }}"
  [ngClass]="{
    'has-error': hasError,
    'has-success': !hasError && edited,
    'secondary-ui': isSecondaryUi,
    'small-mode': displayMode === FormControlDisplay.Small,
    'grid-mode': displayMode === FormControlDisplay.Grid,
    'dashboard-tile-header-mode': displayMode === FormControlDisplay.DashboardTileHeader
  }"
  appAutomationLocator
  [compName]="compName"
  [uniqueKey]="formControlName + '_' + uniqueKey"
>
  <select
    class="form-control"
    #select
    [disabled]="isDisabled"
    [ngModel]="value"
    (ngModelChange)="writeValueFromView($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [ngClass]="{ edited: edited, 'large-select': isLargeSelect, 'mobile-select': isMobile }"
    [takeFocus]="autoFocus"
    (change)="onChange($event)"
    appAutomationLocator
    [compName]="compName"
    [uniqueKey]="formControlName + '_' + uniqueKey + '_select'"
  >
    <option [value]="null" [disabled]="!isOptional" [selected]="true">{{ selectTranslation }}</option>

    <ng-container *ngIf="options">
      <ng-container *ngIf="typeCheck(options); else flatListTemplate">
        <optgroup *ngFor="let option of options" label="{{ option.key | glossary }}">
          <option *ngFor="let item of option.items" [value]="item[bindValue]">{{ item[bindLabel] | glossary }}</option>
        </optgroup>
      </ng-container>
      <ng-template #flatListTemplate>
        <option *ngFor="let option of options" [value]="option[bindValue]">{{ option[bindLabel] | glossary }}</option>
      </ng-template>
    </ng-container>
  </select>
  <mat-spinner [ngClass]="{ 'hide-content': !loading }" [strokeWidth]="3" [diameter]="20"> </mat-spinner>
  <ng-content select="error"></ng-content>
  <ng-container *ngIf="isDefaultLabel; then defaultLabel; else customLabel"></ng-container>
  <ng-template #defaultLabel> <label app-amcs-form-label [label]="label" [isRequired]="isRequired"></label></ng-template>
  <ng-template #customLabel>
    <label> <ng-content></ng-content>
      <span class="tooltip-icon" *ngIf="selectTooltipIconMessage && selectTooltipIconClass" tooltipPlacement="top" tooltip="{{ selectTooltipIconMessage }}" container="body">
        <i class="{{ selectTooltipIconClass }}" aria-hidden="true"></i>
      </span>
    </label>
  </ng-template>
</div>
