@import "sass/abstracts/_variables.scss";

.has-field-defs.form-group.form-md-line-input {
  padding-top: 0px !important;
}

.small-mode {
  margin: 0 !important;
  margin-bottom: 15px !important;
}

.grid-mode {
  margin: 0 !important;
  padding: 0 0 0 4px !important;
  background-color: white;
}

.grid-mode-calendar-icon {
  z-index: auto;
}

.secondary-color {
  .calendar-icon {
    color: $amcs-form-input-placeholder-color !important;
  }
}

.form-group.form-md-line-input.grid-mode>.input-icon.right>i {
  margin: 11px 2px 8px 10px;
}

.form-group.form-md-line-input,
.form-group.form-md-line-input.has-success {
  .calendar-icon {
    color: $amcs-form-input-border-color;
  }

  .form-control.edited~.calendar-icon {
    color: $amcs-form-input-border-color;
  }

  .form-control:focus~.calendar-icon {
    color: $amcs-form-input-border-active-color;
  }
}

.form-group.form-md-line-input.has-error {
  .calendar-icon {
    color: $amcs-form-input-error-color !important;
  }
}

input[readonly] {
  cursor: pointer !important;
  border-bottom-style: solid !important;
}

.width-120 {
  width: 120px;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}
