<div class="amcs-form-grid" *ngIf="!loading; else loadingTemplate" appAutomationLocator [compName]="compName"
  [uniqueKey]="'simpleFormGrid'" (clickOutside)="onClickOutside()">
  <!-- Header -->
  <div class="amcs-flex-row amcs-grid-header-row" [ngClass]="{'freeze-header': stickyHeader}" *ngIf="!hideHeader">
    <div *ngIf="config.rowDescriptionSize > 0" class="amcs-flex-item amcs-grid-header-cell"
      [style.flex-basis.%]="config.rowDescriptionSize">
      <div class="header-text-truncator">
        <span class="header-text" appAutomationLocator [compName]="compName" [uniqueKey]="'title'">{{
          config.rowDescriptionTitle }}</span>
      </div>
    </div>
    <div *ngFor="let column of columns;let c=index" (resizeStart)="resizeHelper.onResizeStart($event.rectangle.width)"
      (resizing)="resizeHelper.onResizing(column, $event.rectangle.width)" mwlResizable
      [style.flex-basis.%]="column.relativeWidthPercentage" class="amcs-flex-item amcs-grid-header-cell">
      <img *ngIf="allowColumnResize" src="assets/resize-icon.gif" class="resize-handle" mwlResizeHandle
        [resizeEdges]="{bottom: true, right: true}" appAutomationLocator [compName]="compName"
        [uniqueKey]="'resize_' + c">
      <div class="header-text-truncator" [ngClass]="{
        'text-right': column.align === GridColumnAlignment.end,
        'text-center': column.align === GridColumnAlignment.center
      }">
        <span class="header-text">{{ column.key }}</span>
      </div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [style.flex-basis.%]="2 + scrollSize"
      *ngIf="enableClear && !actionColumnHeaderOptions">
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [style.flex-basis.%]="2 + scrollSize"
      *ngIf="enableDelete && !actionColumnHeaderOptions">
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell action-column" [style.flex-basis.%]="3 + scrollSize"
      *ngIf="actionColumnHeaderOptions">
      <app-amcs-grid-action-column-header [compName]="compName" [options]="actionColumnHeaderOptions">
      </app-amcs-grid-action-column-header>
    </div>
  </div>

  <!-- Top Totals for columns -->
  <div *ngIf="totalsHeaderConfig && rows && rows.length > 0"
    class="amcs-flex-row amcs-grid-row amcs-grid-total-row amcs-grid-row-disabled header-summary-row"
    [ngClass]="{'sticky': allowVerticalScroll}">
    <ng-container *ngFor="let column of columns; let first = first; let v = index">
      <div class="amcs-flex-item amcs-grid-cell top-total-cell" [ngClass]="{
          'amcs-grid-cell-right-align': column.align === GridColumnAlignment.end,
          'amcs-grid-cell-center-align': column.align === GridColumnAlignment.center
        }" [style.flex-basis.%]="column.widthPercentage">
        <ng-container *ngIf="first">
          <h5 class="header-title">{{ totalsHeaderConfig.title }}</h5>
        </ng-container>
        <ng-container *ngIf="column.totalsHeaderConfig && column.totalsHeaderConfig.includeInTopTotal">
          <ng-container [ngSwitch]="column.totalsHeaderConfig.columnType">
            <ng-container *ngSwitchCase="ColumnType.text">
              <span appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_headerColumnTextTotal_' + i">{{topColumnTotals[column.key]}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.currency">
              <span class="currency-column" appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_headerColumnCurrencyTotal'">
                {{formatCurrencyValue(topColumnTotals[column.key], column.currencyCode, column.noOfDecimalPlaces)}}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.weight">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_headerRowWeight_' + i"
                class="currency-column">
                {{ topColumnTotals[column.key] | number: column.noOfDecimalPlaces }}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.shortDateTime">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_headerRowShortDateTime_' + i">
                {{ topColumnTotals[column.key] | localizedDate: 'shortDate' }}
                {{ topColumnTotals[column.key] | localizedDate: 'shortTime' }}
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span>{{ topColumnTotals[column.key] }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <div *ngIf="enableClear"
      class="amcs-grid-cell btn-group dropdown amcs-grid-cell-row-actions action-column"
      [style.flex-basis.%]="2 + scrollSize"></div>
    <div *ngIf="enableDelete"
      class="amcs-grid-cell btn-group dropdown amcs-grid-cell-row-actions action-column"
      [style.flex-basis.%]="2 + scrollSize"></div>
  </div>

  <!-- Rows -->
  <div *ngIf="!rows?.length && noDataTemplate" class="amcs-flex-row amcs-grid-row">
    <div class="amcs-flex-item amcs-grid-cell">
      <ng-container [ngTemplateOutlet]="noDataTemplate"></ng-container>
    </div>
  </div>

  <cdk-virtual-scroll-viewport [style.height.px]="virtualScrollHeight" [itemSize]="virtualScrollItemSize"
    *ngIf="applyVirtualScroll && rows.length > 30; else nonScrollTemplate">
    <ng-container>
      <div class="amcs-flex-row amcs-grid-row" [ngClass]="{'amcs-grid-row-selected': row.isSelected }"
        appAutomationLocator [compName]="compName" [uniqueKey]="'virtualRowClick_'+i" (click)="onRowSelected(i)"
        *cdkVirtualFor="let row of rows;let i = index; templateCacheSize: 0;">
        <div *ngIf="config.rowDescriptionSize > 0" class="amcs-flex-item amcs-grid-cell"
          [style.flex-basis.%]="config.rowDescriptionSize">
          <span appAutomationLocator [compName]="compName" [uniqueKey]="c+'_rowDescription_'+i">{{ row.description
            }}</span>
        </div>
        <div class="amcs-flex-row amcs-grid-row amcs-inner-row-container">
          <div class="amcs-inner-row"
            [ngClass]="{'row-error': row.isError && row.form.htmlFormGroup.touched && row.form.htmlFormGroup.invalid, 'hide-background-color' : hideBackgroundColor}">
            <ng-template [ngTemplateOutlet]="formTemplate"
              [ngTemplateOutletContext]="{ form: row.form, columns: columns, styles: styles, lookup: row.lookup, index: i }">
            </ng-template>
          </div>
        </div>
        <div class="amcs-flex-item amcs-grid-cell" [style.flex-basis.%]="2" *ngIf="enableClear">
          <span><a class="action-button clear-icon" (click)="service.clear(row)" appAutomationLocator
              [compName]="compName" [uniqueKey]="c+'_clear_' + i">
              <i class="fas fa-backspace"></i>
            </a></span>
        </div>
        <div class="amcs-flex-item amcs-grid-cell" [style.flex-basis.%]="2" *ngIf="enableDelete"
          [ngClass]="{'amcs-grid-row-selected' : hideHeader}">
          <span><a class="action-button clear-icon" (click)="service.delete(row)" appAutomationLocator
              [compName]="compName" [uniqueKey]="c+'_delete_' + i">
              <i class="fas fa-trash-alt"></i>
            </a></span>
        </div>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>

  <ng-template #nonScrollTemplate>
    <!-- Rows -->
    <div class="gridOverflow" [style.height.px]="gridHeight">
      <ng-container *ngFor="let row of rows;let i = index">
        <div [tooltip]="row.tooltipText" [tooltipEnable]="!!row.tooltipText" class="amcs-flex-row amcs-grid-row"
          [ngClass]="{'amcs-grid-row-selected': row.isSelected }" appAutomationLocator [compName]="compName"
          [uniqueKey]="'rowClick_'+i" (click)="onRowSelected(i)" appAutomationLocator [compName]="compName"
          [uniqueKey]="'row_' + i">
          <div *ngIf="config.rowDescriptionSize > 0" class="amcs-flex-item amcs-grid-cell"
            [style.flex-basis.%]="config.rowDescriptionSize">
            <span appAutomationLocator [compName]="compName" [uniqueKey]="c+'_nonScrollRowDescription_'+i">{{
              row.description }}</span>
          </div>
          <div class="amcs-flex-row amcs-grid-row amcs-inner-row-container"
            [ngClass]="{'amcs-grid-row-highlighted': row.rowTextHighlighted}">
            <div class="amcs-inner-row"
              [ngClass]="{'row-error': row.isError && row.form.htmlFormGroup.touched && row.form.htmlFormGroup.invalid, 'hide-background-color' : hideBackgroundColor}">
              <ng-template [ngTemplateOutlet]="formTemplate"
                [ngTemplateOutletContext]="{ form: row.form, columns: columns, styles: styles, lookup: row.lookup, index:i }">
              </ng-template>
            </div>
          </div>
          <div class="amcs-flex-item amcs-grid-cell" [style.flex-basis.%]="2" *ngIf="enableClear">
            <span><a class="action-button clear-icon" (click)="service.clear(row)" appAutomationLocator
                [compName]="compName" [uniqueKey]="c+'_nonScrollClear_' + i">
                <i class="fas fa-backspace"></i>
              </a></span>
          </div>
          <div class="amcs-flex-item amcs-grid-cell" [style.flex-basis.%]="2" *ngIf="enableDelete"
            [ngClass]="{'amcs-grid-row-selected' : hideHeader}">
            <span class="align-center"><a class="action-button clear-icon" (click)="service.delete(row)"
                appAutomationLocator [compName]="compName" [uniqueKey]="c+'_nonScrollDelete_' + i">
                <i class="fas fa-trash-alt"></i>
              </a></span>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
<ng-template #loadingTemplate>
  <div class="amcs-form-grid loading">
    <div class="amcs-flex-row amcs-grid-header-row">
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '4%'}">
      </div>

      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
        <div class="skeleton-text-block">
        </div>
      </div>
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
        <div class="skeleton-text-block">
        </div>
      </div>
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
        <div class="skeleton-text-block">
        </div>
      </div>
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '23%' }">
        <div class="skeleton-text-block">
        </div>
      </div>
      <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{'flex-basis': '4%'}">
        <div class="skeleton-text-block small">
        </div>
      </div>
    </div>
    <div class="amcs-flex-row amcs-grid-row">
      <div class="portlet-skeleton portlet-body">
        <div class="portlet-skeleton-body-load">
          <div class="square square-c state1c"></div>
          <div class="square square-c state2c"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
