<div class="page-header navbar navbar-fixed-top">
  <div class="col-xs-7">
    <div class="page-logo logo-padding">
      <a>
        <img (click)="goToDashboard()" src="assets/AMCS_Platform.png" alt="logo" class="amcs-logo" />
      </a>
    </div>
    <i class="icon-magnifier search-icon" (click)="headerComponentService.displaySearchBar()"></i>
    <div
      (click)="headerComponentService.headerMenuService.onItemClick(headerComponentService.headerMenuService.activeItem)"
      *ngIf="headerComponentService.headerMenuService.activeItem !== null"
      class="workcenter-logo"
    >
      <a>
        <img [src]="headerComponentService.headerMenuService.activeItem.smallIcon" />
      </a>
    </div>
  </div>
  <div class="col-xs-5 page-top right-menu no-pad">
    <ul class="nav navbar-nav pull-right">
      <li (click)="headerComponentService.headerService.headerMenuButtonClicked.next(true)">
        <a class="wc-menu">
          <i class="fas fa-th"></i>
        </a>
      </li>
      <li class="dropdown dropdown-user">
        <a
          (clickOutside)="close()"
          (click)="headerComponentService.expandProfileMenu()"
          class="dropdown-toggle"
          data-toggle="dropdown"
          data-hover="dropdown"
          data-close-others="true"
          aria-expanded="headerComponentService.isOpen"
        >
          <div class="profile-img-circle-img" *ngIf="profileDataThumbnail != null && profileDataThumbnail !== ''; else noProfilePic">
            <img src="{{ profileDataThumbnail }}" class="profile-img-circle-img" alt="" />
          </div>
          <ng-template #noProfilePic>
            <div class="profile-img-circle">
              <span *ngIf="profileInitials != null && profileInitials !== ''" class="initials">{{ profileInitials }}</span>
            </div>
          </ng-template>
        </a>

        <ul
          [ngClass]="{ 'dropdown-menu-open': headerComponentService.isOpen }"
          class="dropdown-menu dropdown dropdown-user dropdown-menu-default profile-menu"
          role="menu"
        >
          <li>
            <a class="menu-text" (click)="headerComponentService.goToMyProfile()">
              <i class="icon-user"></i> {{ 'shared.header.myProfile' | translate }}
            </a>
          </li>
          <li *ngIf="headerComponentService.showAboutLink">
            <a class="menu-text"> <i class="icon-calendar"></i> {{ 'shared.header.aboutElemos' | translate }} </a>
          </li>
          <li>
            <a class="menu-text" (click)="headerComponentService.logOut()">
              <i class="icon-key"></i> {{ 'shared.header.logout' | translate }}
            </a>
          </li>
          <li *ngIf="headerComponentService.showDevtools">
            <a class="menu-text" (click)="headerComponentService.goToDevHome()"> <i class="icon-key fa fa-wrench"></i> Dev Tools </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="search-bar-container" (@expandCollapse.done)="tileUiService.innerTilesChanged.next()" [@expandCollapse]="isSearchClicked">
  <app-amcs-global-search appInstrumentation appInstrumentationListen></app-amcs-global-search>
</div>
<div class="mobile-header-padding" [ngClass]="{ expanded: isSearchClicked }"></div>
