@import "sass/abstracts/_variables.scss";
@import "sass/abstracts/_mixins.scss";

app-amcs-modal {
    .modal-dialog {
        margin-bottom: 0 !important;

        .portlet-title {
            min-height: 41px !important;
            padding: 0 10px !important;

            .caption {
                padding: 11px 0 9px;
                width: unset;
                color: $amcs-light-blue;
            }
            .blue .caption {
                color: $amcs-white !important;
            }
        }

        .portlet-body {
            .templateText {
                padding: 10px;
                text-align: center;
            }
        }

        .portlet-footer {
            display: flex;
            justify-content: flex-end;
            padding: 5px;
            background-color: #fff;

            .btn {
                box-shadow: unset !important;
                margin-left: 10px !important;
                width: 100px !important;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .modal-icon {
        padding-right: 10px;
    }
    // for mobile related stylings
    .mobile-modal {
        .portlet-title {
            padding-left: 15px !important;
            padding-top: 15px !important;
            .caption {
                padding: 0px !important;
            }
        }

        .caption-subject {
            font-size: 18px;
            color: $amcs-grid-row-text-color;
            font-family: "Nunito Sans", sans-serif !important;
        }

        .caption {
            margin-right: 20px;
        }

        .templateText {
            padding: 0px !important;
            text-align: left !important;
            font-weight: 400;
        }

        .btn {
            box-shadow: unset !important;
            margin-left: 10px !important;
            width: 100px !important;

            &:hover {
                opacity: 0.8;
            }
        }

        .errorText{
            color: $amcs-grid-row-text-color !important
        }
    }
}

.hide-content {
    display: none;
}

.portlet-skeleton.portlet-body {
    display: flex;
    align-items: center;
    justify-content: center;

    .portlet-skeleton-body-load {
        border: 0;
        height: 90px;
        width: 90px;

        .square {
            opacity: 0.2;
            background: $amcs-blue;
            width: 40px;
            height: 40px;
            position: absolute;
        }

        .square-c {
            @include loading-animation();
            animation: loading-animation 2s infinite ease-in-out;
            width: 30px;
            height: 30px;
            opacity: 0.8;
        }

        .square-c.state2c {
            animation-delay: -1s;
        }
    }
}

.buttons-container {
    display: flex !important;
    align-items: center;
    min-height: 41px;
    padding: 0 !important;

    .close-button {
        margin-left: 10px;
    }
}

.button-icon {
    color: $amcs-black !important;
    margin-right: 6px !important;
}
