<div class="cal-all-day-event">
    <mat-nav-list class="displayEventsList">
        <a (mouseenter)="showstatus(event)" (mouseleave)="hideStatus(event)" mat-list-item
            [style.border-color]="event.color.primary" placement="{{tooltipPlacement}}"
            tooltip="{{event.meta.isShowButton ? event.meta.buttonTooltip : event.title}}">
            <span (click)="activitySelected.emit(event)" appAutomationLocator [compName]="compName"
                [uniqueKey]="'allDay'">{{event.title}}
                <button *ngIf="event.meta.isShowButton" #btn type="button" class="amcs-green-confirm"
                    appAutomationLocator [compName]="compName" [uniqueKey]="uniqueKey">
                    <span>{{event.meta.buttonText}}</span>
                </button>
            </span>
            <div *ngIf="event.meta.showOptions" class="cal-event-actions">
                <a *ngIf="event.meta.isViewable" (click)="activitySelected.emit(event)" appAutomationLocator
                    [compName]="compName" [uniqueKey]="'allDay_view'"><i class="far fa-eye fa-sm"></i></a>
                <a *ngIf="event.meta.isEditable" (click)="activityEdited.emit(event)" appAutomationLocator
                    [compName]="compName" [uniqueKey]="'allDay_edit'"><i class="far fa-pencil fa-sm"></i></a>
                <a *ngIf="event.meta.isDeletable" (click)="activityDeleted.emit(event)" appAutomationLocator
                    [compName]="compName" [uniqueKey]="'allDay_delete'"><i class="fas fa-trash fa-sm"></i></a>
                <a *ngIf="event.meta.isCompletable" (click)="activityCompleted.emit(event)" appAutomationLocator
                    [compName]="compName" [uniqueKey]="'allDay_complete'"><i class="fas fa-check fa-sm"></i></a>
            </div>
        </a>
    </mat-nav-list>
</div>