<!-- html-hint-disable form-tag-ban -->
<form [formGroup]="form.formGroup">
  <div class="custom-height">
    <table class="table table-striped table-bordered" appAutomationLocator [compName]="compName" [uniqueKey]="'table'">
      <thead>
        <tr>
          <th [translate]="'fielddefinition.fieldname'">Field Name </th>
          <th class="text-center" [translate]="'fielddefinition.mandatory'"> Mandatory </th>
          <th class="text-center" [translate]="'fielddefinition.editable'"> Editable </th>
          <th *ngIf="form.showVisible" class="text-center" [translate]="'fielddefinition.visible'"> Visible </th>
        </tr>
      </thead>
      <tbody>
        <div></div>
        <tr *ngFor="let item of form.items;let i = index">
          <td>{{item.label}} </td>
          <td class="text-center" [ngClass]="{'active': item.forcedMandatory}">
            <label class="mt-checkbox mt-checkbox-outline">
              <input formControlName="is{{item.formControlName}}Mandatory" type="checkbox" appAutomationLocator
                [compName]="compName + '_' + i" [uniqueKey]="uniqueKey">
              <span></span>
            </label>
          </td>
          <td class="text-center">
            <label class="mt-checkbox mt-checkbox-outline">
              <input formControlName="is{{item.formControlName}}Editable" type="checkbox" appAutomationLocator
                [compName]="compName + '_' + i" [uniqueKey]="uniqueKey">
              <span></span>
            </label>
          </td>
          <td *ngIf="form.showVisible" class="text-center" [ngClass]="{'active': item.forcedMandatory}">
            <label class="mt-checkbox mt-checkbox-outline">
              <input formControlName="is{{item.formControlName}}Visible" type="checkbox"
                (change)="isVisibleChanged($event, item)" appAutomationLocator [compName]="compName + '_' + i"
                [uniqueKey]="uniqueKey">
              <span></span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>