@import "sass/abstracts/_variables.scss";

.mat-drawer-container, .mat-drawer-content {
  overflow: unset !important;
}

.amcs-sidenav {
    background-color: $amcs-main-menu-background-color !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 0 !important;
  }

.outer-div {
    width: 360px;
}

.menu-items-div {
  padding: 15px 5px 5px 15px;
}

.menu-item-div {
  padding: 0px 10px 10px 0;
}

.menu-item-button {
    background-color: $amcs-main-menu-item-background-color;
    border: 1px solid $amcs-main-menu-item-border-color;
    box-shadow: none;
    height: 130px !important;
    text-align: center;
    vertical-align: top;
    padding: 0;

    &:hover {
        background-color: $amcs-main-menu-item-hover-background-color;
        border: 1px solid $amcs-main-menu-item-hover-border-color;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
        color: #409DD1;
    }

    &.menu-item-button-selected {
        background-color: $amcs-main-menu-item-selected-background-color;
        border: 1px solid $amcs-main-menu-item-selected-border-color;
        box-shadow: none;
    }

    div {
        height: 100%;
        padding: 20px 0 0 0;

        img {
            width: 65px;
            height: 55px;
            margin: 0 0 10px 0 !important;
            object-fit: scale-down;
        }

        span {
            padding: 0 !important;
            margin: 0 !important;
            line-height: 14px !important;
            font-size: 14px;
        }
    }
}

.menu-item-button-disabled {
    color: $amcs-main-menu-item-border-color;
    background-color: $amcs-main-menu-item-background-color;
    border: 1px solid $amcs-main-menu-item-border-color;
    box-shadow: none;
    height: 130px;
    text-align: center;
    vertical-align: top;
    padding: 0;

    div {
        height: 100%;
        padding: 20px 0 0 0;

        img {
            width: 65px;
            height: 55px;
            margin: 0 0 10px 0;
            object-fit: scale-down;
            opacity: 0.2;
        }

        span {
            padding: 0;
            margin: 0;
            line-height: 14px;
            font-size: 14px;
        }
    }
}


hr {
    border: 1px solid $amcs-main-menu-hr-color;
}

.launch-button {
    border: 0;
    text-align: left;
    background-color: $amcs-main-menu-background-color !important;

    &:hover {
        color: #409DD1;
    }

    i {
        margin: 0 !important;
    }

    span {
        padding: 0 15px !important;
    }
}
