<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav #sidenav mode="open" [autoFocus]="false" [fixedInViewport]="true" fixedTopGap="50" class="amcs-sidenav"
    (clickOutside)="onClickOutside()" position="end">
    <div class="outer-div">
      <div class="menu-items-div">
        <div *ngFor="let item of formService.items$ | async" class="col-xs-4 menu-item-div">
          <button (click)="onItemClick(item)" class="col-xs-12" appAutomationLocator [compName]="'HeaderMenuComponent'"
            [uniqueKey]="item.text"
            [ngClass]="{ 'menu-item-button-selected': item.isSelected, 'menu-item-button': !item.isDisabled, 'menu-item-button-disabled': item.isDisabled }"
            [disabled]="item.isDisabled">
            <div class="button-div">
              <img [src]="item.icon" class="menu-item-icon" />
              <span *ngIf="item.text" class="col-xs-12 menu-item-text">{{item.text}}</span>
            </div>
          </button>
        </div>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-default btn-lg col-xs-12 launch-button" (click)="launchDesktopClient()"
          appAutomationLocator [compName]="'HeaderMenuComponent'" [uniqueKey]="'launchDesktop'">
          <i class="fa fa-rocket"></i>
          <span [translate]="'shared.header.launchElemos'">Launch Desktop</span>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidebar-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #clickOnceDialogTemplate>
  <div class="click-once-dialog">
    <div class="title" [translate]="'shared.header.launchDesktopClient'">Launch Desktop Client</div>
    <div class="modal-body text-left">
      <div [translate]="'shared.header.extensionRequired'">An extension is required to launch the desktop client from
        this
        browser.</div>
      <div>
        <a (click)="openClickOnceExtensionURL()" appAutomationLocator [compName]="'HeaderMenuComponent'"
          [uniqueKey]="'extension'">{{
          'shared.header.installBrowserExtension' | translate }}</a>
      </div>
      <div class="dont-show-dialog-text">
        <label>
          <input type="checkbox" class="form-check-input" [checked]="dontShowDialogAgain"
            (change)="dontShowDialogAgain = !dontShowDialogAgain" appAutomationLocator [compName]="'HeaderMenuComponent'"
            [uniqueKey]="'dontShowAgain'">
          {{ 'shared.header.dontShowAgain' | translate }}</label>
      </div>
    </div>
  </div>
</ng-template>