<table class="table table-bordered" [ngClass]="{'fixed-table': tableLayoutFixed}" appAutomationLocator
  [compName]="compName" [uniqueKey]="uniqueKey">
  <!-- Header -->
  <thead class="thead-light">
    <tr>
      <ng-content></ng-content>
    </tr>
  </thead>
  <!-- Rows -->
  <ng-container *ngFor="let row of rows;let i = index">
    <tr>
      <ng-template [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{ row: row, index: i  }">
      </ng-template>
    </tr>
  </ng-container>
</table>