<app-amcs-inner-container-group>
  <div class="portlet box blue portlet-fit bordered portlet-skeleton" *ngIf="loading; else loadedTemplate">
    <div class="portlet-title">
      <div class="caption portlet-skeleton-text-block"></div>
    </div>
    <div class="portlet-body" [class.no-padding]="options.removePadding">
      <!-- CSS animation taken from https://codepen.io/trungk18/pen/yJggrL -->
      <div class="portlet-skeleton-body-load">
        <div class="loading-animation">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loadedTemplate>
    <div class="portlet portlet-fit bordered box blue" [class.child-portlet]="options.isChild">
      <div class="portlet-title portlet-title-filterable">
        <div class="caption">
          <span class="caption-subject bold uppercase">{{ options.title }}</span>
        </div>
        <ng-container *ngIf="options.headerActionTemplate != null">
          <span>
            <ng-template [ngTemplateOutlet]="options.headerActionTemplate"> </ng-template>
          </span>
        </ng-container>
        <div class="actions" [class.has-button]="hasButtons">
          <span class="pull-left">
            <ng-container *ngIf="options.menuTemplate != null">
              <ng-template [ngTemplateOutlet]="options.menuTemplate"> </ng-template>
            </ng-container>
          </span>
          <app-amcs-button *ngFor="let button of options.buttons;let i = index" [disabled]="button.disabled"
            [customClass]="button.cssClass" (click)="button.disabled ? null : button.action()"
            [compName]="options.compName" [uniqueKey]="'button_'+i">
            <span>{{ button.caption }}</span>
            <i *ngIf="button.icon" class="fal {{ button.icon }} fa-2x"></i>
          </app-amcs-button>
          <app-amcs-button customClass="noMargin" *ngIf="options.enableAdd" (click)="onAdd.emit($event)"
            [compName]="options.compName" [uniqueKey]="add">
            <span [translate]="'shared.browsertile.add'" class="bold">Add</span>
          </app-amcs-button>

          <app-amcs-button customClass="noMargin" *ngIf="options.enableEdit" (click)="onEdit.emit($event)"
            [compName]="options.compName" [uniqueKey]="'edit'">
            <span [translate]="'shared.browsertile.edit'" class="bold">Edit</span>
          </app-amcs-button>

          <app-amcs-button customClass="noMargin" *ngIf="options.enableDelete" (click)="onDelete.emit($event)"
            [compName]="options.compName" [uniqueKey]="'delete'">
            <span [translate]="'shared.browsertile.delete'" class="bold">Delete</span>
          </app-amcs-button>

          <a *ngIf="options.enableDeExpand" class="expander-button" (click)="onDeExpand.emit($event)"
            appAutomationLocator [compName]="options.compName" [uniqueKey]="'deexpander'">
            <i class="fal fa-compress fa-2x"></i>
          </a>

          <a *ngIf="options.enableClose" class="close-button" (click)="onClose.emit($event)" appAutomationLocator
            [compName]="options.compName" [uniqueKey]="'close'">
            <i class="fal fa-times fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="portlet-body" [class.no-padding]="options.removePadding">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</app-amcs-inner-container-group>