<ng-container *ngIf="options">
  <app-amcs-browser-editor-tile [options]="options.browserOptions" (onAdd)="handleAdd()" (onClose)="handleClose()" (onDeExpand)="handleDexpand()">
    <div class="grid-container" *ngIf="!form && !editorLoading">
      <app-amcs-grid-wrapper
        [options]="options.gridOptions"
        [loading]="gridLoading"
        [detailsLoading]="gridDetailsLoading"
        (linkClicked)="onLinkClicked.emit($event)"
        (linkClickedExtended)="handleOnLinkClickedExtended($event)"
        (rowExpanded)="onRowExpanded.emit($event)"
        (rowsSelected)="onRowsSelected.emit($event)"
        (valueChanged)="onValueChanged.emit($event)"
        (sortChanged)="onSortChanged.emit($event)"
        (filterChanged)="onFilterChanged.emit($event)"
        (columnPositionsChanged)="onColumnPositionsChanged.emit($event)"
        (selectedPageChanged)="onSelectedPageChanged.emit($event)"
        (popoverClicked)="onPopoverClicked.emit($event)"
        (menuItemClicked)="handleMenuItemClicked($event)"
        (openActions)="onOpenActions.emit($event)"
        (showDeletedRecords)="showDeletedRecords.emit($event)"
      >
      </app-amcs-grid-wrapper>
    </div>
    <div
    *ngIf="editorLoading"
    class="portlet-skeleton-body-load"
    [style.padding-top.px]="verticalLoadingPadding"
    [style.height.px]="options.editorMinHeight"
    >
    <div class="square square-c state1c"></div>
    <div class="square square-c state2c"></div>
  </div>
  <!-- HTML here should match amcs-form + amcs-form-tile -->
  <!-- html-hint-disable form-tag-ban -->
    <form
      *ngIf="form && !editorLoading"
      [formGroup]="form.htmlFormGroup"
      #ngForm="ngForm"
      [style.min-height.px]="options.editorMinHeight"
      [appFocusOnError]="form.manualFocusOnErrorSubject"
    >
    <div class="form-padding"
      [ngClass]="{'inner-tiles': options.displayMode === BrowserDisplayMode.InnerTiles}">
        <ng-container #formHTML></ng-container>
      </div>
      <app-amcs-form-actions
        *ngIf="options.editorOptions.enableFormActions"
        [form]="form"
        [options]="options.editorOptions.actionOptions"
        (onSave)="onSave.emit($event)"
        (onCancel)="handleCancel()"
      >
      </app-amcs-form-actions>
    </form>
  </app-amcs-browser-editor-tile>
</ng-container>
