@import "sass/abstracts/_variables.scss";
@import "sass/abstracts/_mixins.scss";

.grid-container {
  padding: 15px;
}

.form-padding {
  padding: 15px;
  > i {
    padding-right: 5px;
  }

  &.inner-tiles {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.portlet-skeleton-body-load {
  border: 0;
  display: flex;
  justify-content: center;

  .square {
    opacity: 0.2;
    background: $amcs-portlet-grey-title;
    width: 40px;
    height: 40px;
    position: absolute;
  }

  .square-c {
    @include loading-animation();
    animation: loading-animation 2s infinite ease-in-out;
    width: 30px;
    height: 30px;
    opacity: 0.8;
  }

  .square-c.state2c {
    animation-delay: -1s;
  }
}
