@import "sass/abstracts/_variables.scss";



.container-fluid {


    div.row.multi-filter-view {
        padding-top: 10px;
        div.filter-definition {
            margin-bottom: 20px;
            position: relative;

            .filterDescriptionText, .filterMoreLink {
                text-transform: uppercase;
            }

            a.filter-header {
                display: block;
                margin: 0 auto;
                margin-bottom: 5px;
                margin-left: 5px;
                color: $amcs-black;
                line-height: 20px;
                height: 20px;

                div {
                    margin-right: 40px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                i {
                    float: right;
                }
            }

            div.filterOptions {
                display: none;

                ul {
                    margin-bottom: 5px;
                    margin-left: 10px;

                    li {
                        margin-left: 5px;

                        label {
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            user-select: none;
                            margin-bottom: 0;
                        }
                    }
                }

                a {
                    display: none;
                    margin-bottom: 10px;
                    margin-left: 15px;
                }

                a.expanded {
                    display: block;
                }
            }

            div.filterOptions.expanded {
                display: block;
            }
        }
    }

    div.single-filter-view {
        border: 1px solid $amcs-grey;
        background-color: $amcs-white;
        height: 330px;

        padding-right: 15px;
        padding-left: 15px;

        z-index: 1000;
        position: relative;

        div.filter-header {
            margin: 0 auto;
            margin-bottom: 5px;
            margin-left: 5px;
            color: $amcs-black;
            line-height: 20px;
            height: 20px;
            font-weight: bold;
            margin-top: 5px;

            div.filter-description {
                float: left;
            }

            div.close-icon {
                margin: 4px;
                float: right;
            }
        }

        div.options {
            div.start-char-list {
                display: inline-block;
                padding-top: 5px;
                margin-left: 10px;
                vertical-align: top;
                height: 40px;

                div {
                    display: inline-block;
                    margin: 2px;
                    font-weight: bold;
                    vertical-align: top;
                    text-align: center;
                    margin-left: 5px;
                    height: 20px;
                    width: 20px;
                }

                div:hover {
                    cursor: pointer;
                }
            }

            div.close-icon {
                margin: 5px;
                vertical-align: top;
                float: right;
            }
        }

        div.filter-options-scroller {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            white-space: nowrap;
            overflow-x: scroll;
            height: 180px;

            div {

                div.option-container {
                    vertical-align: middle;
                    margin-left: 5px;

                    div.option-start-letter {
                        display: block;
                        text-align: center;
                        font-weight: bold;
                        float: left;
                        width: 20px;
                    }

                    div.option {
                        display: block;

                        label.filter-option-label {
                            display: block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        div.filter-controls {
            a {
                margin: 5px;
                margin-left: 10px;
                float: right;
            }
        }
    }
}
