@import 'sass/abstracts/variables';

.sticky-form {
  .form-actions {
    margin: 0;
    border-top: 1px solid $pallette-box-border-color;
    z-index: 999;
    padding: 20px;
    z-index: 100;
    position: sticky;
    bottom: 0;
    background: $amcs-white;
  }
}
