@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.amcs-form-grid {


  .amcs-grid-header-row {
    border-top: 1px solid $amcs-grid-border-color;
    border-right: 1px solid $amcs-grid-border-color;

    .amcs-grid-header-cell {
      background-color: $amcs-grid-header-color;
      color: $amcs-grid-row-text-color;
      position: relative;
      border-left: 1px solid $amcs-grid-border-color;
      border-bottom: 1px solid $amcs-grid-border-color;
      padding: 8px 0px 8px 8px;
      font-weight: 600;
      overflow: hidden;
      width: 100%;

      .header-text-truncator {
        width: 90%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
      }

      .resize-handle {
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: ew-resize;
      }
    }
  }


  .amcs-grid-row {
    border-right: 1px solid $amcs-grid-border-color;

    .amcs-inner-row-container {
      flex-wrap: wrap;
      width: 100%;
      border-right: 0px;

      .amcs-inner-row {
        display: flex;
        width: 100%;
        background-color: $amcs-grid-selected-row-color;

        &.row-error {
          background-color: $amcs-grid-error-row-color;
        }
      }
    }

    &.amcs-grid-row-selected {
      background-color: $amcs-grid-selected-row-color !important;
    }

    app-amcs-dropdown {
      display: flex;
      justify-content: center;
    }

    .mt-checkbox {
      padding-left: unset;
      margin-bottom: unset;
      display: flex;
      align-self: center;

      >span {
        position: unset;
        top: unset;
        left: unset;
      }
    }
  }

  .amcs-grid-row:nth-child(even) {
    background-color: $amcs-grid-row-stripe-color;
  }

  .amcs-flex-row {
    display: flex;
    box-sizing: border-box;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-orient: horizontal;
  }
}

.amcs-form-grid.loading {
  border: 1px solid $amcs-grid-border-color;

  .amcs-grid-row {
    border-right: unset;
    padding: 20px;
  }

  .skeleton-text-block {
    height: 20px;
    width: 100px;
    background-color: #A8BBCC;

    &.small {
      width: 30px;
    }
  }

  .portlet-skeleton.portlet-body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    .portlet-skeleton-body-load {
      width: 90px;
      height: 90px;
      border: none;

      .square {
        position: absolute;
        height: 40px;
        width: 40px;
        background: $amcs-portlet-grey-title;
        opacity: 0.2;
      }

      .square-c {
        @include loading-animation();
        opacity: 0.8;
        height: 30px;
        width: 30px;
        animation: loading-animation 2s infinite ease-in-out;
      }

      .square-c.state2c {
        animation-delay: -1s;
      }
    }
  }
}
