@use '@angular/material' as mat;
@import 'sass/abstracts/variables';
@import '@angular/material/theming';

@include mat.core;
// sass-lint:disable hex-notation, hex-length
$material-pallette-primary-color: (50: #E4EAEC, 100: #BDCBCF, 200: #91A8AF, 300: #64858F, 400: #436A77, 500: #22505F, 600: #1E4957, 700: #19404D, 800: #143743, 900: #0C2732, A100: #6ED0FF, A200: #3BC0FF, A400: #08AFFF, A700: #00A1ED, contrast: (50: #000, 100: #000, 200: #000, 300: #FFF, 400: #FFF, 500: #FFF, 600: #FFF, 700: #FFF, 800: #FFF, 900: #FFF, A100: #000, A200: #000, A400: #000, A700: #FFF, ));
$amcs-table-primary: mat.define-palette($material-pallette-primary-color);
$amcs-table-accent: mat.define-palette($material-pallette-primary-color);
$amcs-table-theme: mat.define-light-theme($amcs-table-primary, $amcs-table-accent);
@include mat.all-component-themes($amcs-table-theme);

.amcs-table-header-green {
  background-color: #f1f4f7 !important;
  font-size: 14px;
  font-weight: 700;
  color: #283533;
}

.progress {
  height: 20px;
}

.font-green {
  color: $pallette-success-text-color !important;
}

.page-md {
  .progress {
    text-indent: 5px;
  }
}

.error-box {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: $amcs-red;
}

.page-content {
  background: $theme-page-background !important;
}

.amcs-table-header-green {
  background-color: $pallette-tertiary-color !important;
  color: $amcs-white !important;
}

.contacts-container {
  overflow: hidden;
  border: 1px solid $pallette-primary-text-color;
  color: $amcs-black;
  padding: 5px 0;

  .role {
    color: $pallette-tertiary-color;
  }
}

.contact {
  &.right {
    text-align: right;
  }
}

.sortable-wrapper {
  border: 1px solid;
  border-radius: 4px;
  border-color: $pallette-tertiary-color;
}

.sortable-item {
  padding: 6px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  cursor: grab;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: $pallette-tertiary-color;
}
