.timepicker-padding {
  padding-top: 20px;
}

.month-container {
  position: relative;
  top: -1px;
}

.days-radio-button {
  padding-top: 21px;
}

.occurence-radio-button {
  padding-top: 47px;
}

