<app-amcs-inner-tile
  [isDynamicHeight]="true"
  [caption]="(isCreating ? 'template.mapExample.list.createHeading' : 'template.mapExample.list.listHeading') | translate"
>
  <ng-container *ngIf="isCreating; then createMode; else serviceList"></ng-container>
  <ng-template #createMode>
    <div class="row map-point-container">
      <div class="col-lg-12">
        <app-map-example-create [config]="config" [mapPointId]="mapPointId"></app-map-example-create>
      </div>
    </div>
  </ng-template>
  <ng-template #serviceList>
    <ng-container *ngIf="mapExamples.length > 0; then list; else empty"></ng-container>
    <ng-template #list>
      <div class="row map-point-container">
        <div class="map-point-list">
          <ul class="col-lg-12">
            <ng-container *ngFor="let mapPoint of mapExamples">
              <li class="map-area-list-item">
                <div class="col-lg-10" (click)="selectItem(mapPoint.mapExampleId)">
                  {{ mapPoint.description }}
                </div>
                <div class="col-lg-2">
                  <a class="action-button delete-action-button" (click)="onDelete(mapPoint)">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
        <div class="col-lg-12 map-point-actions">
          <button class="col-lg-12 btn btn-default" (click)="toggleCreateMode()">
            <i class="far fa-plus-circle"></i><span [translate]="'template.mapExample.list.add'">Add</span>
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #empty>
      <div class="row">
        <div class="map-point-help-container bold" [translate]="'template.mapExample.list.helpMessage'">
          Add a point by clicking on the button below
        </div>
        <div class="col-lg-12 map-point-actions">
          <button class="col-lg-12 btn btn-default" (click)="toggleCreateMode()">
            <i class="far fa-plus-circle"></i><span [translate]="'template.mapExample.list.add'">Add</span>
          </button>
        </div>
      </div>
    </ng-template>
  </ng-template>
</app-amcs-inner-tile>
