@import 'sass/abstracts/variables';

ul, li{
  list-style: none;
  padding: 0px;
}

li{
  border-left: 1px solid $amcs-seperator-color;
  position: relative;
  &:last-child{
    border: 0px;
  }
  &:before{
    content: '';
    width: 10px;
    height: 10px;
    background: $amcs-form-input-label-colour;
    border: 2px solid $amcs-form-input-label-colour;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: 0px;
  }
}

.change-log-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 4px;
}

.history-container {
 padding-left: 15px;
 position: relative;
 top: -4px
}

.changed-user {
  color: $amcs-form-label-colour;
}

.truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.padding-bottom {
  padding-bottom: 15px;
}
