@import "sass/abstracts/variables";

.btn-login.azure {
  background-color: $amcs-azure-blue;
  border-color: $amcs-azure-blue;
  padding: 0px !important;
  width: 100%;
  color: $amcs-white;
  border-width: 3px;
  border-radius: 3px !important;
}

.btn.display-left-mode {
  span.azure-icon {
    padding-right: 10px;
    > svg {
      width: 38px;
    }
  }
  span.label-span.abcRioButtonContents.btn-lg {
    float: left;
    line-height: 28px !important;
  }
}

.btn-login.azure:hover {
  background-color: #2f5e8c !important;
  border-color: #2f5e8c !important;
}

.btn-login.azure:focus {
  background-color: #2b5580 !important;
  border-color: #2b5580 !important;
}
