<button [class.display-left-mode]="isDisplayLeftMode" class="btn btn-login azure" #btn type="button" appAutomationLocator [compName]="compName"
    [uniqueKey]="uniqueKey">
    <span class="azure-icon pull-left"> 
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="32px" height="33px" viewBox="0 0 32 33" enable-background="new 0 0 22 23"
            xml:space="preserve">
            <image id="image0" width="22" height="23" x="10" y="10" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAXCAMAAAA4Nk+sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
            AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABR1BMVEUAre8Are8Are8Are8A
            re8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8A
            re8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8A
            re8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8A
            re8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8A
            re8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8Are8A
            re8Are8Are8Are8Are8Are8Are8Are8Are////+1U7CPAAAAa3RSTlMAAQQGDx4tQFJwm5cDCBYZ
            K2B5iqHF4/f8/eEMFTFQY3SPvJkpn9e+8842ndj1xCwumNnH+Ns6r8PBwsiaKHrJIDUiAhcqiZyn
            H1+qPKzeMNb29DcUUXWUpAkbHTJrf5Kx7vv+BSdKZY2wpsukRhsAAAABYktHRGzMATA7AAAAB3RJ
            TUUH4wcYEyUTCaTs/AAAAP5JREFUKM9jYEAARiZmFlY2dg5OLm4In4eXj59ZQFBIWERUTFxCMluK
            QVpGVk5eQVFJWUU1Gw7UGJTV1TRALE0tbYSwDoMulKWnz40srAZliRoYIgvrYBeGqdZjQzJEjcEI
            yjJmU0YIGzGYQFmmZuYIYRMGcwtLILCytrG1swczgcDCnMHBQAAI9B2dnF3MDFwFwMDAgcHNXRkI
            uDyEPL28uZQhwN2NQRxmuY8vwmxxBj8oy97fHSHsxxCAzfMBhHyJJhyIPQS5ldSCwOEd7I4sLB0i
            GyofFm6l7RqBLAyJ28ioaKaY2Lj4hIDEJMlkYFwiAeeUSJfU4LT0jMwsADU1kidwJdXsAAAAJXRF
            WHRkYXRlOmNyZWF0ZQAyMDE5LTA3LTI1VDAyOjM3OjE5LTA3OjAwOZeNTwAAACV0RVh0ZGF0ZTpt
            b2RpZnkAMjAxOS0wNy0yNVQwMjozNzoxOS0wNzowMEjKNfMAAAAZdEVYdFNvZnR3YXJlAEFkb2Jl
            IEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC" />
        </svg>
    </span>
    <span class="label-span abcRioButtonContents btn-lg">
        <ng-content></ng-content>
    </span>
</button>