<app-amcs-button
  [customClass]="'btn-default'"
  [compName]="'AmcsFormModalStorybookLoaderComponent'"
  [uniqueKey]="'formModal'"
  (click)="createModal()"
  >Launch {{ buttonTitle }} Form Modal</app-amcs-button
>
<p>{{ formModalString }}</p>
<app-amcs-form-modal
  [compName]="'AmcsFormModalStorybookLoaderComponent'"
  [triggerModalSubject]="triggerModalSubject"
  (cancelClosed)="handleCancelModalClosed()"
>
  <app-storybook-example-form
    #modal
    [modalTitle]="title"
    [modalSize]="formModalSize"
    [isExpandable]="isExpandable"
    (saved)="handleFormModalSaved($event)"
  >
  </app-storybook-example-form>
</app-amcs-form-modal>
