<app-amcs-form [compName]="'StorybookExampleFormComponent'" [form]="form" [options]="formOptions">
  <ng-template>
    <ng-container>
      <div class="row">
        <div class="col-lg-12">
          <app-amcs-input
            [compName]="'StorybookExampleFormComponent'"
            formControlName="testName"
            [maxLength]="50"
            [hasError]="form.hasErrors(form.testName)"
            [label]="'Test Name'"
          >
          </app-amcs-input>
        </div>
        <div class="col-lg-12">
          <app-amcs-select
            [compName]="'StorybookExampleFormComponent'"
            formControlName="testId"
            [options]="options"
            [hasError]="form.hasErrors(form.testId)"
            [label]="'Test Select 1'"
          >
          </app-amcs-select>
        </div>
        <div class="col-lg-12">
          <app-amcs-select
            [compName]="'StorybookExampleFormComponent'"
            formControlName="testIdTwo"
            [options]="options"
            [hasError]="form.hasErrors(form.testIdTwo)"
            [label]="'Test Select 2'"
          >
          </app-amcs-select>
        </div>
      </div>
    </ng-container>
  </ng-template>
</app-amcs-form>
