@import "sass/abstracts/variables";

.popover-button {
    text-decoration: none;
    float: right;
    margin-bottom: 15px;
    border: 1.5px solid $amcs-teal;
    border-radius: 3px;
    padding: 3px 4px 3px 3px;
    margin: 7px 10px;

    i.fa-cogs {
    color: $amcs-teal;
    vertical-align: middle;
    font-weight: 400;
    font-size: 18px;

    &:hover {
        color: $amcs-blue;
      }

      &.active {
          font-weight: 900;
      }

    }
  }

  .popover-button.secondary-ui {
    border: 1.5px solid $amcs-white;

    i.fa-cogs {
      color: $amcs-white;

      &:hover {
        color: $amcs-teal;
      }
    }
  }

  .accordian-container {
    padding: 15px;
    .disabled-container {
      margin-left: 25px;
      display: inline-block;
      width: 97%;
      height: 100%;
      margin-top: 10px;
        background-color: $amcs-grid-header-color;
        margin-bottom: 15px;
    }
    .accordian-column {
      padding: 15px 0px 0px 15px;
      height: 75px;
      overflow: hidden;
      span {
        display: block;
      }
    }
  }

  .amcs-grid-column-customiser-center-align {
      padding-right: 85px !important;
  }
