@import "sass/abstracts/variables";

canvas {
  border: 1px solid #000;
}

app-amcs-signature-pad{
  span {
    width: 400px;
    white-space: pre;
  }

  .save{
    background-color: $amcs-portlet-blue-base-color;
  }
}
