@import '~sass/abstracts/variables';
.margin-right {
  margin-right: 20px;
}

.body-pad {
  padding: 20px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.portlet.light > .portlet-title {
  margin-bottom: 0;
}

.portlet.light .portlet-body {
  padding-top: 15px;
}

.portlet.light.bordered {
  border-color: $amcs-row-border-color !important;
}

.portlet.light.bordered > .portlet-title {
  border-color: $amcs-box-border-color;
}

.portlet.blue,
.portlet.box.blue > .portlet-title,
.portlet > .portlet-body.blue {
  background-color: $amcs-portlet-blue-base-color;
}

.portlet.box.blue {
  border: 1px solid $amcs-portlet-blue-base-color;
}

.portlet.box.light-blue {
  background-color: $amcs-heading-background-grey;
  border: 1px solid $amcs-heading-background-grey;
}

.portlet.box > .portlet-title > .caption {
  font-family: 'DIN Next';
  font-size: 16px;
  line-height: 22px;
}

.portlet.box.blue > .portlet-title a {
  color: $amcs-white;
}

.portlet.box > .portlet-title {
  color: $amcs-dashboard-boxblue-action-button-text-color;
}

.portlet.box > .portlet-title > .actions {
  padding-top: 9px;
}

.portlet.box.child-portlet > .portlet-title > .caption {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0 8px;
}

.portlet.box.child-portlet > .portlet-title {
  min-height: 36px;
}

.portlet.box.default {
  border: 1px solid $amcs-portlet-grey-border-color;
  border-top: 1px solid $amcs-portlet-grey-border-color;
}

.portlet.box.default > .portlet-title,
.portlet.default,
.portlet > .portlet-body.default {
  background: $amcs-portlet-grey-title;
}

.portlet.light > .portlet-title {
  min-height: 0;
}

.portlet.light.portlet-ribbon {
  background-color: $amcs-heading-background-grey !important;
}

.portlet.light.portlet-ribbon .portlet-body {
  background-color: $amcs-white !important;
}

.portlet.light.portlet-fit > .portlet-title {
  background-color: $amcs-white;
  padding: 10px 10px 10px 20px;
}

.portlet.light.portlet-fit > .portlet-title.tabbable-line {
  padding-bottom: 0;
}

.portlet.light.portlet-fit > .portlet-body {
  padding: 20px;
}

.portlet.light > .portlet-title > .caption {
  color: $amcs-dashboard-boxblue-action-button-text-color;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
  font-family: 'DIN Next', sans-serif;
}

.portlet.light > .portlet-title > .caption > a.caption-subject {
  color: $amcs-dashboard-boxblue-action-button-text-color;
}

.portlet.light > .portlet-title > .caption > a.caption-subject:hover {
  color: $amcs-portlet-grey-icon-color;
  text-decoration: none;
}

.portlet.light > .portlet-title > .actions {
  padding: 5px;
}

.portlet.light .form .form-actions {
  background: $amcs-white;
  padding: 20px;
  margin: 0;
  border-top: 1px solid #e7ecf1;
}

.portlet .form .form-actions button,
.portlet .form .form-actions a {
  margin-right: 7px;
}

.portlet .form .form-actions button:last-child {
  margin-right: 0px;
}

.portlet.box.grey {
  border: 1px solid $amcs-portlet-grey-border-color;
}

.portlet.box.grey > .portlet-title,
.portlet.grey,
.portlet > .portlet-body.grey {
  background: $amcs-portlet-grey-base-color;
}

.portlet.box.grey > .portlet-title > .caption,
.portlet.box.grey > .portlet-title > .caption > i {
  color: $amcs-dashboard-boxblue-action-button-text-color;
}

.portlet .actions a {
  margin-left: 8px;
}

.actions.pull-left a {
  padding-right: 10px;
  padding-left: 0;
}

.form .form-body,
.portlet.light .form .form-body {
  padding: 20px 20px 10px 20px;
}

.portlet-body .form-actions {
  border-top: 1px solid $amcs-box-border-color;
}

.fileinput {
  display: inline-block;
  margin-bottom: 0;
}

.fileinput-new .fileinput-exists {
  display: none;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}

.portlet.light > .portlet-title > .nav-tabs > li.active {
  border-bottom: $amcs-teal;
}
