<app-amcs-inner-tile
  [isDynamicHeight]="true"
  [isTertiaryColour]="true"
  [caption]="'template.recipeStepper.summaryTile.title' | translate : { name: dinnerPlan.name }"
>
  <div class="row">
    <div class="col-lg-12" radioControl>
      <h4 [translate]="'template.recipeStepper.summaryTile.difficulty'">
        Selected Difficulty<span>
          <a (click)="goToStep(RecipeStepperStepEnum.Plan)"><i class="far fa-pen"></i></a
        ></span>
      </h4>
      <app-amcs-radio-tile
        [ngModel]="dinnerPlan.difficultyLevelId"
        [label]="difficultyLevel.description"
        [isDisabled]="true"
        [iconClass]="difficultyLevel.iconClass"
      ></app-amcs-radio-tile>
    </div>
    <div class="col-lg-12" *ngIf="dinnerPlan.estimatedTime !== null">
      <h4 [translate]="'template.recipeStepper.summaryTile.estimatedTime'">
        Estimated Time<span>
          <a (click)="goToStep(RecipeStepperStepEnum.Plan)"><i class="far fa-pen"></i></a
        ></span>
      </h4>
      <h5>{{ dinnerPlan.estimatedTime | localizedDate : 'h' }}H : {{ dinnerPlan.estimatedTime | localizedDate : 'mm' }}M</h5>
    </div>
  </div>
</app-amcs-inner-tile>
