<button
  appInstrumentationListen
  #btn
  type="submit"
  (click)="onClick($event)"
  class="btn"
  tooltip="{{ buttonTooltip }}"
  [isDisabled]="buttonTooltip == null"
  [ngClass]="{ noMargin: noMargin, disabled: disabled || (hasBeenClicked && !isSaveAvailable) }"
  appAutomationLocator
  [compName]="compName"
  [uniqueKey]="uniqueKey"
>
  <ng-container *ngIf="loading || (hasBeenClicked && !isSaveAvailable); else loadedTemplate">
    <div class="loading-animation">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </ng-container>
  <ng-template #loadedTemplate>
    <ng-content></ng-content>
  </ng-template>
</button>
<!--Note the 'tooltip' & [isDisabled] properties are coming from ngx, hence it should only be used within this element -->
