@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.loading-animation {
  text-align: center;
  position: relative;
  top: -3px;

  .line {
    @include bounce-up(4px);

    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    background-color: #FFF;

    &:nth-last-child(1) {
      animation: bounce-up .6s .1s linear infinite;
    }

    &:nth-last-child(2) {
      animation: bounce-up .6s .2s linear infinite;
    }

    &:nth-last-child(3) {
      animation: bounce-up .6s .3s linear infinite;
    }
  }
}

.btn {
  margin: 5px;
}

.noMargin {
  margin: 0 !important;
}

.marginRight {
  margin-right: 15px !important;
}

.continue-button {
  margin: 0;
  &.margin-right {
    margin-right: 10px;
  }
}


.no-top-bottom-margin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.tiny {
  width: 60px !important;
}

.large-font {
  font-size: 14px !important;
}

.small {
  width: 100px !important;
}

.medium {
  width: 150px !important;
}

.large {
  width: 200px !important;
}

:host>>>.tooltip-inner {
  background-color: $pallette-tertiary-color;
  color: $amcs-white;
}

.right {
  float: right;
}

.topMargin {
  margin-top: 20px;
}

.amcs-light-green {
  background-color: $pallette-tertiary-color;
  color: $amcs-white;
}

:host>>>.tooltip.top .tooltip-arrow::before,
:host>>>.tooltip.top .tooltip-arrow {
  background-color: rgb(78, 133, 50);
}

.amcs-green-confirm {
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 3px !important;
  background-color: $amcs-green-button-backgrond-color;
  color: $amcs-green-button-text-color;

  &:hover {
    background-color: $amcs-green-button-background-color-hover;
  }
}

.amcs-portlet-grey {
  background-color: $amcs-portlet-grey-base-color;
  color: $amcs-black;
}
