<div class="editor">
  <!-- html-hint-disable form-tag-ban -->
  <form *ngIf="formService.form !== null" [formGroup]="formService.form.htmlFormGroup" (submit)="formService.save()"
    appFocusOnError>
    <div class="form-body">
      <div [ngClass]="{'auto-margin-right': !isOverlay }" class="row">
        <div [ngClass]="{'special-width': !isOverlay }" class="col-lg-12 margin-bottom">
          <app-amcs-select [compName]="compName" formControlName="property" [options]="formService.filterProperties"
            [displayMode]="displayMode" [customPlaceholder]="formService.propertyPlaceholder"
            [hasError]="formService.form.hasErrors(formService.form.property)">
          </app-amcs-select>
        </div>
      </div>
      <div [ngClass]="{'auto-margin-right': !isOverlay }" class="row">
        <div [ngClass]="{'special-width': !isOverlay }" class="col-lg-12 margin-bottom">
          <app-amcs-select [compName]="compName" formControlName="filterType" [options]="formService.filterTypes"
            [keepOriginalOrder]="true" [displayMode]="displayMode"
            [customPlaceholder]="formService.filterTypePlaceholder"
            [hasError]="formService.form.hasErrors(formService.form.filterType)">
          </app-amcs-select>
        </div>
      </div>
      <div [ngClass]="{'auto-margin-right': !isOverlay }" class="row">
        <div *ngIf="formService.propertyType === formService.ComponentFilterPropertyValueType.text"
          [ngClass]="{'special-width': !isOverlay }" class="col-lg-12 margin-bottom">
          <app-amcs-input [compName]="compName" formControlName="filterTextValue" [displayMode]="displayMode"
            [hasError]="formService.form.hasErrors(formService.form.filterTextValue)">
          </app-amcs-input>
        </div>
        <div *ngIf="formService.propertyType === formService.ComponentFilterPropertyValueType.number"
          class="col-lg-12 margin-bottom">
          <app-amcs-numerical-input [compName]="compName" formControlName="filterNumberValue"
            [displayMode]="displayMode" [hasError]="formService.form.hasErrors(formService.form.filterNumberValue)">
          </app-amcs-numerical-input>
        </div>
        <div *ngIf="formService.propertyType === formService.ComponentFilterPropertyValueType.date"
          class="col-lg-12 margin-bottom">
          <app-amcs-datepicker [compName]="compName" formControlName="filterDateValue"
            [config]="formService.dateValueConfig" [displayMode]="displayMode"
            [hasError]="formService.form.hasErrors(formService.form.filterDateValue)">
          </app-amcs-datepicker>
        </div>
        <div *ngIf="formService.propertyType === formService.ComponentFilterPropertyValueType.boolean"
          class="col-lg-12 margin-bottom">
          <app-amcs-select [compName]="compName" formControlName="filterBooleanValue"
            [options]="formService.booleanFilterTypes" [keepOriginalOrder]="true" [displayMode]="displayMode"
            [customPlaceholder]="formService.booleanPlaceholder"
            [hasError]="formService.form.hasErrors(formService.form.filterBooleanValue)">
          </app-amcs-select>
        </div>
        <div *ngIf="formService.propertyType === formService.ComponentFilterPropertyValueType.enum"
          class="col-lg-12 margin-bottom">
          <app-amcs-select [compName]="compName" formControlName="filterEnumValue"
            [options]="formService.enumFilterTypes" [keepOriginalOrder]="true" [displayMode]="displayMode"
            [customPlaceholder]="formService.enumPlaceholder"
            [hasError]="formService.form.hasErrors(formService.form.filterEnumValue)">
          </app-amcs-select>
        </div>
      </div>
      <div [ngClass]="{'special-margin-right': !isOverlay }" class="row">
        <div class="col-lg-6">
          <a><span [translate]="'gridFilter.editor.applyFilter'" (click)="formService.save($event)" appAutomationLocator
              [compName]="compName" [uniqueKey]="'editor_apply'">Apply</span></a>
        </div>
        <div class="col-lg-6">
          <a class="right-button">
            <span [translate]="'gridFilter.editor.cancelFilter'" (click)="formService.return($event)"
              appAutomationLocator [compName]="compName" [uniqueKey]="'editor_cancel'">Cancel</span>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>