@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .animation {
    border: 0;

    .square {
      position: absolute;
      opacity: 0.2;
    }

    .square-c {
      @include loading-animation();
      opacity: 0.8;
      animation: loading-animation 2s infinite ease-in-out;
    }

    .square-c.state2c {
      animation-delay: -1s;
    }
  }
}

.vertically-center {
  height: calc(100vh - 195px);
  display: flex;
  justify-content: center;
  align-items: center;
}
