<div class="context-nav" [style.top.px]="customTop">
  <ul class="context-nav-list header-item">
    <li *ngIf="showHamburgerMenu" class="hamburger-menu" (click)="toggleSidebar()" appAutomationLocator
      [compName]="compName" [uniqueKey]="'toggle'">
      <a class="context-nav-item" [class.active]="isSidebarOpen">
        <i class="fas fa-bars"></i>
      </a>
    </li>
    <li *ngIf="showReturn" class="return-arrow">
      <a (click)="return()" appAutomationLocator [compName]="compName" [uniqueKey]="'return'">
        <i class="fas fa-chevron-left"></i>
      </a>
    </li>
    <li class="entity-title" (click)="titleClicked.emit($event)" appAutomationLocator [compName]="compName"
      [uniqueKey]="'title'">
      <a class="context-nav-item">
        <ng-template [ngTemplateOutlet]="titleTemplate">
        </ng-template>
      </a>
    </li>
    <li *ngIf="afterTitleTemplate" class="menu-end">
      <ng-template [ngTemplateOutlet]="afterTitleTemplate" [ngTemplateOutletContext]="{ isMobile: isMobile }">
      </ng-template>
    </li>
    <ng-container *ngIf="!isMobile">
      <li *ngFor="let item of headerMenuItems;let i = index" [tooltip]="item.text" placement="bottom" container="body"
        (click)="navigate(item)" appAutomationLocator [compName]="compName" [uniqueKey]="'select_' + i"><a
          [class.active]="item.isSelected" class="context-nav-item"><i [ngClass]="item.icon"></i></a></li>
    </ng-container>
  </ul>
  <div class="menu-end pull-right">
    <ng-container *ngIf="titleMenuTemplate != null">
      <ng-template [ngTemplateOutlet]="titleMenuTemplate" [ngTemplateOutletContext]="{ isMobile: isMobile }">
      </ng-template>
    </ng-container>
  </div>
</div>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #sidebar [fixedInViewport]="true" [fixedTopGap]="menuFixedGap" (clickOutside)="onClickOutside()">
    <div class="sidenav" [class.mobile]="isMobile">
      <ul>
        <li class="menu-item" *ngFor="let item of menuItems;let j=index" (click)="navigate(item)" appAutomationLocator
          [compName]="compName" [uniqueKey]="'item_'+j">
          <a class="context-side-nav-item" [class.active]="item.isSelected">
            <i [ngClass]="item.icon"></i>
            <span class="title">{{item.text}}</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
