::ng-deep.carousel-indicators {
    display: none;
  }
  
  ::ng-deep.carousel-control {
    width: 0%;
    color: black;
  
    .icon-next, .icon-prev {
      font-size: 50px;
    }
    
    :hover {
      color: black;
    }
  }
  
  ::ng-deep.carousel {
    outline: none;
  }
