<div class="form-group amcs-input">
  <div class="list-select">
    <div [ngClass]="customSearchClass" *ngIf="!hideSearch">
      <app-amcs-input *ngIf="!hideSearch" [compName]="compName" [uniqueKey]="formControlName+'_'+uniqueKey" type="text"
        [(ngModel)]="searchString" (keyup)="getFilteredItems()" [icon]="'search'"
        [displayMode]="FormControlDisplay.Small" [noPadding]="true" [disabled]="isDisabled" [hasError]="hasError" [autoFocus]="autoFocus">        
      </app-amcs-input>
    </div>
    <label *ngIf="!hideSelectAll" [translate]="'listSelectWithSearch.selectAll'"
      class="mt-checkbox mt-checkbox-outline checkbox-label" [ngClass]="{'disabled': isDisabled}">
      <input type="checkbox" [(ngModel)]="selectAll" (ngModelChange)="updateSelectAll($event)" [disabled]="isDisabled"
        appAutomationLocator [compName]="compName" [uniqueKey]="formControlName+'_'+uniqueKey+'_seletAll'">
      <span></span>
      Select All</label>
    <app-amcs-loading-view [loading]="loading">
      <ul class="list-unstyled" *ngIf="!loading">
        <li *ngFor="let item of getFilteredItems();let i=index">
          <label class="mt-checkbox mt-checkbox-outline checkbox-label"
            [ngClass]="{'disabled': isDisabled || item.forceDisabled}"
            [tooltip]="item.forceDisabled ? tooltipMessage : ''">
            <input type="checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="updateValue()"
              [disabled]="isDisabled || item.forceDisabled" appAutomationLocator [compName]="compName"
              [uniqueKey]="formControlName+'_'+uniqueKey+'_' + i">
            <span></span>
            {{item.description}}</label>
        </li>
      </ul>
    </app-amcs-loading-view>
  </div>
</div>