@import 'sass/abstracts/variables';

.list-select {
  &.disabled {
    cursor: not-allowed;
  }

  &.has-error {
    border: 1px solid $pallette-alert-color;
  }
}

.checkbox-label {
  user-select: none;
  color: $amcs-form-label-colour;
  font-weight: 600;

  &.disabled {
    cursor: not-allowed;
  }
}

.default-material-search {
  width: 35%;
}
