<div class="container-fluid">
  <div class="row single-filter-view">
    <div class="filterOptions">
      <div class="start-char-list">
        <div *ngFor="let startChar of filterService.singleFilterModeFilterDefinition.startChars;let i=index"
          (click)="scrollTo(startChar)" appAutomationLocator [compName]="compName" [uniqueKey]="'startChar_'+ i">
          {{startChar}}</div>
      </div>
    </div>
    <div class="row filter-options-scroller">
      <div *ngFor="let option of filterService.singleFilterModeFilterDefinition.groupedCharOptions;let j=index"
        class="col-lg-4 col-md-6 col-sm-12 col-xs-12 no-left-pad">
        <div class="option-container">
          <div *ngIf="option.displayInitialCharacter" #letter [id]="option.initialCharacter"
            class="option-start-letter">{{option.initialCharacter}}</div>
          <div *ngIf="!option.displayInitialCharacter" class="option-start-letter">&nbsp;</div>
          <div class="option" (click)="optionSelected.emit(option.id)" appAutomationLocator [compName]="compName"
            [uniqueKey]="i+'_description_'+j">
            <label tooltip="{{option.description}}" placement="right" container="body"
              class="filter-option-label">{{option.description}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>