<div class="container-fluid">
  <app-amcs-applied-filter-list [clearAllText]="clearAllText"></app-amcs-applied-filter-list>
  <div *ngIf="open && this.filterService.singleFilterModeFilterDefinition === null" class="multi-filter-view">
    <div *ngFor="let filterDef of this.filterService.filterDefinitions$ | async;let i = index" class="filter-box">
      <a class="filter-header" (click)="handleExpansion(filterDef.id)" appAutomationLocator [compName]="compName"
        [uniqueKey]="'description_'+i">
        <i class="fa" [ngClass]="{'fa-chevron-up': filterDef.expanded, 'fa-chevron-down': !filterDef.expanded}"
          aria-hidden="true"></i>
        <div class="filterDescriptionText">{{ filterDef.description }}</div>
      </a>
      <div class="filterOptions" [ngClass]="{'expanded': filterDef.expanded}">
        <app-amcs-input [compName]="compName" [uniqueKey]="'pattern_'+i" type="text" [(ngModel)]="filterDef.pattern"
          (keyup)="onFilterFilterKeyup(filterDef.id, $event.target.value)" [icon]="'search'"
          [displayMode]="FormControlDisplay.Small" [noPadding]="true">
        </app-amcs-input>
        <ul class="list-unstyled">
          <div *ngIf="filterDef.filterDisplayMode === AmcsFilterDisplayMode.CheckBox">
            <li *ngFor="let option of filterDef.getOptionsToDisplay(); let j=index">
              <label tooltip="{{option.description}}" placement="{{tooltipPlacement}}">
                <input type="checkbox" class="form-check-input" [checked]="option.selected"
                  (change)="this.filterService.selectFilterOption($event.target.checked, filterDef.id, option.id)"
                  appAutomationLocator [compName]="compName" [uniqueKey]="i+'_option_' + j">
                {{option.description}}</label>
            </li>
          </div>
          <div *ngIf="filterDef.filterDisplayMode === AmcsFilterDisplayMode.RadioButton">
            <li *ngFor="let option of filterDef.getOptionsToDisplay(); let k=index">
              <label tooltip="{{option.description}}" placement="{{tooltipPlacement}}">
                <input type="radio" class="form-radio-input" [value]="option.selected" [checked]="option.selected"
                  (change)="this.filterService.selectFilterOption($event.target.checked, filterDef.id, option.id)"
                  appAutomationLocator [compName]="compName" [uniqueKey]="i+'_option_' + k" />
                {{option.description}}</label>
            </li>
          </div>
        </ul>
        <a (click)="this.filterService.switchToSingleFilterMode(filterDef.id)" class="filterMoreLink"
          [ngClass]="{'expanded': filterDef.getNumberOfOptionsNotDisplayed() > 0}" appAutomationLocator
          [compName]="compName" [uniqueKey]="'_moreFilter_'+ i">
          {{ 'shared.filter.more' | translate:{'no':filterDef.getNumberOfOptionsNotDisplayed()} }}</a>
      </div>
    </div>
  </div>

  <div *ngIf="open && this.filterService.singleFilterModeFilterDefinition !== null" class="row single-filter-view"
    [ngClass]="{'open': open}">
    <div class="filter-header">
      <div class="filter-description">{{ this.filterService.singleFilterModeFilterDefinition.description }}</div>
      <div class="close-icon">
        <a (click)="this.filterService.switchToMultiFilterMode()" appAutomationLocator [compName]="compName"
          [uniqueKey]="'multiFilterMode'">
          <i class="fa fa-lg fa-compress" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="filterOptions">
      <app-amcs-input [compName]="compName" [uniqueKey]="'filterOptionsOpenedSearch'" type="text"
        [(ngModel)]="this.filterService.singleFilterModeFilterDefinition.pattern"
        (keyup)="onFilterFilterKeyup(this.filterService.singleFilterModeFilterDefinition.id, $event.target.value)"
        [icon]="'search'" [displayMode]="FormControlDisplay.Small" [noPadding]="true">
      </app-amcs-input>
      <div class="start-char-list">
        <div *ngFor="let startChar of this.filterService.singleFilterModeFilterDefinition.startChars; let i = index"
          (click)="scrollTo(startChar)" appAutomationLocator [compName]="compName" [uniqueKey]="'seeMore_' + i">
          {{startChar}}</div>
      </div>
    </div>
    <div class="filter-options-scroller">
      <div *ngFor="let option of this.filterService.singleFilterModeFilterDefinition.groupedCharOptions;let k =index"
        class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="option-container">
          <div *ngIf="option.displayInitialCharacter" #letter [id]="option.initialCharacter"
            class="option-start-letter">{{option.initialCharacter}}</div>
          <div *ngIf="!option.displayInitialCharacter" class="option-start-letter">&nbsp;</div>
          <div class="option">
            <label tooltip="{{option.description}}" placement="{{tooltipPlacement}}" container="body"
              class="filter-option-label">
              <input type="checkbox" class="form-check-input" [checked]="option.selected"
                (change)="this.filterService.selectFilterOption($event.target.checked, this.filterService.singleFilterModeFilterDefinition.id, option.id)"
                appAutomationLocator [compName]="compName" [uniqueKey]="'groupchk_' + k">
              {{option.description}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-controls">
      <a (click)="clearAllOptionsInSelectedFilterDefinition()" appAutomationLocator [compName]="compName"
        [uniqueKey]="'clear'" [translate]="'filter.clearText'">Clear</a>
      <a (click)="this.filterService.switchToMultiFilterMode()" appAutomationLocator [compName]="compName"
        [uniqueKey]="'apply'" [translate]="'filter.applyText'">Apply</a>
    </div>
  </div>
</div>
