.pad-left {
  padding-left: 5px;
}

.form-group.form-md-line-input > .input-icon.right .form-control.number-input {
  padding-right: 0px;
}

.no-label {
  margin: 0;
  padding: 0;
}

.no-label-first {
  margin: 0;
}

.small-mode {
  margin: 0;
  margin-bottom: 15px;
}

.grid-mode {
  margin: 0;
  padding: 0;
  background-color: white;
}

.label-mode {
  margin: 0px !important;
}

.offering-config .number-spinner {
  margin: 30px 0px 15px;
}

.mobile-margin {
  margin: -45px 0 0 0 !important;
}

.offering-config .number-spinner app-amcs-numerical-input {
  width: 40px;
  height: 27px;
}

.offering-config .number-spinner .input-group-addon,
.offering-config .number-spinner .input-group-btn {
  width: auto;
}

.offering-config .number-spinner button.btn.btn-default {
  padding: 4px 10px;
  background: #137fbe;
  color: #fff;
  border: 1px solid #137fbe;
}

.offering-config .number-spinner button.btn.btn-default.minus {
  border-radius: 5px 0 0 5px;
}

.offering-config .number-spinner button.btn.btn-default.plus {
  border-radius: 0 5px 5px 0;
}

.offering-config .number-spinner .glyphicon {
  font-size: 9px;
}

.offering-config .waste-material-input {
  width: 100%;
  display: inline-block;
}

.offering-config .qty-label {
  padding: 4px 15px 0 0;
  font-size: 16px;
}

.offering-config .input-group > label {
  margin-top: 0px;
  margin-left: -35px;
}

.flex {
  display: flex;
}

.qty-selector-label {
  margin-right: 5px;

  span {
    line-height: 27px;
  }
}

.no-bottom-margin {
  margin-bottom: 0;
}

.no-margin-no-padding {
  margin: 0 !important;
  padding: 0 !important;
  .input-group {
      margin: 0 !important;
      padding: 0 !important;
      float: Left !important;
    }
}
