<div
  #wrapper
  class="form-group {{customClass}} form-md-line-input amcs-input-stepper row offering-config"
  [ngClass]="{
    'has-error': hasError,
    'has-success': !hasError && edited,
    'small-mode': displayMode === FormControlDisplay.Small,
    'grid-mode': displayMode === FormControlDisplay.Grid,
    'label-mode': displayMode === FormControlDisplay.LabelDefinitions
  }"
>
  <div class="input-icon right input-group number-spinner pull-right no-bottom-margin" [ngClass]="{ 'mobile-margin': noMargin }">
    <div class="flex pull-right">
      <label class="qty-selector-label">
        <span>
          <ng-container *ngIf="isDefaultLabel; then defaultLabel; else customLabel"></ng-container>
          <ng-template #defaultLabel> <label app-amcs-form-label [label]="label" [isRequired]="isRequired"></label></ng-template>
          <ng-template #customLabel>
            <ng-content select="label"></ng-content>
          </ng-template>
        </span>
      </label>
      <span class="input-group-btn">
        <button
          class="btn btn-default minus"
          data-dir="dwn"
          (click)="decreaseQty($event)"
          appAutomationLocator
          [compName]="compName"
          [uniqueKey]="formControlName + '_' + uniqueKey + '_minus'"
          type="button"
        >
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </span>
      <app-amcs-numerical-input
        [compName]="compName"
        [uniqueKey]="formControlName + '_' + uniqueKey"
        alignment="center"
        [precision]="0"
        customWrapperClass="inside-quantity-selector"
        [maxLength]="maxLength"
        [disabled]="isDisabled"
        [autoFocus]="autoFocus"
        [ngModel]="value"
        (ngModelChange)="numericalInputChanged($event)"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
        (change)="onChange($event)"
      >
      </app-amcs-numerical-input>
      <span class="input-group-btn">
        <button
          class="btn btn-default plus"
          data-dir="up"
          (click)="increaseQty($event)"
          appAutomationLocator
          [compName]="compName"
          [uniqueKey]="formControlName + '_' + uniqueKey + '_plus'"
          type="button"
        >
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </div>
    <div class="pull-right">
      <ng-content select="errors"></ng-content>
    </div>
  </div>
</div>
