@import 'sass/abstracts/variables';

.recur-container {
  float: left;
  position: relative;
  top: -25px;
  height: 30px;
  
  app-amcs-quantity-selector {
    display: inline-block;
  }
  label {
    display: inline-block;
    top: -61px;
    padding-left: 12px;
    position: relative;
    color: $amcs-form-label-colour;
  }
}
