@import "sass/abstracts/variables";

.mat-nav-list {
    max-height: 400px;
    overflow: auto;
    padding-left: 3px;
}

.mat-list-item {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

h4 {
    margin-top: 0;
    color: #000;
}

.cal-event-actions {
    position: absolute !important;
    right: 0;
}

.multi-day-event {
    position: absolute;
    right: 0;
    background-color: transparent;
}

.amcs-green-confirm {
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 20px !important;
    background-color: $amcs-green-button-backgrond-color;
    color: $amcs-green-button-text-color;
    padding: 0px 12px 23px 11px;
    height: 20px;
    border: 0;
}