<ng-container *ngIf="isOpen">
    <h4>{{day.events.length}} Events On {{ day.date | calendarDate:'dayViewTitle': locale }}</h4>
    <mat-nav-list class="displayEventsList">
        <a mat-list-item *ngFor="let event of events;let i = index" [style.border-color]="event.color.primary"
            class="mat-list-item" (mouseenter)="showstatus(event)" (mouseleave)="hideStatus(event)"
            (click)="event.meta.selectOnTileClick ? activitySelected.emit(event) : null" appAutomationLocator
            [compName]="compName" [uniqueKey]="'day_' + index + '_link'">
            <span (click)="!event.meta.selectOnTileClick ? activitySelected.emit(event) : null" appAutomationLocator
                [compName]="compName" [uniqueKey]="'day_' + index">{{event.title}}
                <button *ngIf="event.meta.isShowButton" #btn type="button" class="amcs-green-confirm"
                    tooltip="{{event.meta.buttonTooltip}}" appAutomationLocator [compName]="compName"
                    [uniqueKey]="uniqueKey">
                    <span>{{event.meta.buttonText}}</span>
                </button>
            </span>
            <div *ngIf="event.meta.showOptions && (event.meta.isViewable || event.meta.isEditable || event.meta.isDeletable || event.meta.isCompletable)"
                class="cal-event-actions">
                <a *ngIf="event.meta.isViewable" (click)="activitySelected.emit(event)" appAutomationLocator
                    [compName]="compName" [uniqueKey]="'day_' + index + '_view'"><i class="far fa-eye fa-sm"></i></a>
                <a *ngIf="event.meta.isEditable" (click)="activityEdited.emit(event)" appAutomationLocator
                    [compName]="compName" [uniqueKey]="'day_' + index + '_edit'"><i class="far fa-pencil fa-sm"></i></a>
                <a *ngIf="event.meta.isDeletable" (click)="activityDeleted.emit(event)" appAutomationLocator
                    [compName]="compName" [uniqueKey]="'day_' + index + '_delete'"><i
                        class="fas fa-trash fa-sm"></i></a>
                <a *ngIf="event.meta.isCompletable" (click)="activityCompleted.emit(event)" appAutomationLocator
                    [compName]="compName" [uniqueKey]="'day_' + index + '_complete'"><i
                        class="fas fa-check fa-sm"></i></a>
            </div>
            <i *ngIf="event.meta.isMultiDay" class="fas fa-repeat fa-sm multi-day-event"></i>
        </a>
    </mat-nav-list>
</ng-container>