<app-amcs-form [form]="form" [options]="options">
  <ng-template>
    <div class="row">
      <div class="col-xs-3">
        <app-amcs-input
          type="checkbox"
          [label]="'scheduleEditor.settings.repeat' | translate"
          [compName]="'ScheduleAdvancedEditorComponent'"
          formControlName="isRepeat"
        >
        </app-amcs-input>
      </div>
      <div tooltip="{{'scheduleEditor.settings.repeatEveryTooltip' | translate}}" tooltipPlacement="top" class="col-xs-5 timepicker-padding">
        <app-amcs-timepicker
          [addToolTipIcon]="true"
          [label]="'scheduleEditor.settings.repeatEvery' | translate"
          [compName]="'ScheduleAdvancedEditorComponent'"
          formControlName="repeatEvery"
          [displayseconds]="true"
        >
        </app-amcs-timepicker>
      </div>
      <div tooltip="{{'scheduleEditor.settings.repeatDurationTooltip' | translate}}" tooltipPlacement="top" class="col-xs-4 timepicker-padding">
        <app-amcs-timepicker
          [addToolTipIcon]="true"
          [label]="'scheduleEditor.settings.repeatDuration' | translate"
          [compName]="'ScheduleAdvancedEditorComponent'"
          formControlName="repeatDuration"
          [displayseconds]="true"
        >
        </app-amcs-timepicker>
      </div>
    </div>
    <div class="row">
      <div tooltip="{{ 'scheduleEditor.settings.expireTooltip' | translate }}" class="col-xs-3">
        <app-amcs-input
          [addToolTipIcon]="true"
          type="checkbox"
          [label]="'scheduleEditor.settings.expire' | translate"
          [compName]="'ScheduleAdvancedEditorComponent'"
          formControlName="isExpire"
        >
        </app-amcs-input>
      </div>
      <div class="col-xs-5">
        <app-amcs-datepicker
          [label]="'scheduleEditor.settings.expireDate' | translate"
          [compName]="'ScheduleAdvancedEditorComponent'"
          formControlName="expireDate"
          [config]="dateConfig"
        >
        </app-amcs-datepicker>
      </div>
      <div class="col-xs-4 timepicker-padding">
        <app-amcs-timepicker
          [label]="'scheduleEditor.settings.expireTime' | translate"
          [compName]="'ScheduleAdvancedEditorComponent'"
          formControlName="expireTime"
        >
        </app-amcs-timepicker>
      </div>
    </div>
  </ng-template>
</app-amcs-form>
