@import "sass/abstracts/_variables.scss";
app-amcs-mobile-stepper .portlet.light.portlet-fit .portlet-body .form-body {
    padding: 20px !important;
}

app-amcs-mobile-stepper .portlet.light.portlet-fit .form-actions {
    z-index: 10000;
    padding: 13px 10px 10px 10px !important;
    .steps {
        margin-bottom: 0;
        li {
            display: table-cell;
            text-align: center;
            width: 70% !important;
            vertical-align: middle;
            a.step {
                text-align: center;
                padding: 0 !important;
                margin-bottom: unset !important;
                .number {
                    margin-right: 0 !important;
                }
            }
        }

        .button-list-item {
            width: 100% !important;
            span:nth-of-type(2) {
                display: block;
            }

            .align-right {
                text-align: right;
            }
        }
    }
}
