<!-- eslint-disable amcs-html-plugin/deprecated-tag-ban -->
<app-amcs-container-tile>
  <ng-container ngProjectAs="title">
    <div class="caption">
      <i class="fal fa-layer-group"></i>
      <span class="caption-subject bold uppercase"> {{stepperService.title}}
        <span class="step-title" [translate]="'shared.stepper.stepsummary'">
          {{ 'shared.stepper.stepsummary' | translate:{'stepNo': +stepperService.currentStepIndex + 1, 'totalStepNo':
          stepperService.steps.length}
          }}
        </span>
      </span>
    </div>
  </ng-container>
  <ng-container ngProjectAs="body">
    <ng-container [ngTemplateOutlet]="stepperBody">
    </ng-container>
  </ng-container>
</app-amcs-container-tile>

<ng-container *ngIf="hideParentTile" [ngTemplateOutlet]="stepperBody">
</ng-container>

<ng-template #stepperBody>
  <div class="form-wizard">
    <!-- STEPS -->
    <div class="tab-content" appAutomationLocator [compName]="compName" [uniqueKey]="'step'">
      <div *ngFor="let step of stepperService.steps; let i = index; let isLast = last; let isFirst = first"
        [ngClass]="{'active': step.state.active }" class="amcs-step-animation"
        (@stepTransition.done)="tileUiService.innerTilesChanged.next()"
        [@stepTransition]="stepperService.getAnimationDirection(i)" appAutomationLocator [compName]="compName"
        [uniqueKey]="'tab_' + i">
        <div class="amcs-step-body" [ngStyle]="{'min-height': stepperService.stepContentHeight}">
          <ng-container *ngIf="step.state.active" [ngTemplateOutlet]="step.content"></ng-container>
        </div>
      </div>
    </div>

    <!-- Circles / Buttons -->
    <div class="form-actions">
      <ul class="nav nav-pills nav-justified steps">
        <li class="button-list-item">
          <a *ngIf="!stepperService.isFirstStepSelected" (click)="!lockStepper ? stepperService.previous(): null"
            [ngClass]="{'disabled': lockStepper }" appAutomationLocator [compName]="compName" [uniqueKey]="'back'">
            <span class="fa fa-arrow-left fa-lg"></span>
            <span [translate]="'shared.stepper.back'" class="bold uppercase">Back</span>
          </a>
        </li>
        <ng-container *ngFor="let step of stepperService.steps; let i = index;">
          <li (click)="!lockStepper ? stepperService.selectStep(i) : null" class="step-heading"
            [ngClass]="{'active': step.state.active, 'error': step.state.error, 'completed': step.state.completed, 'disabled': lockStepper }"
            appAutomationLocator [compName]="compName" [uniqueKey]="'step_' + i">
            <a data-toggle="tab" class="step" aria-expanded="true">
              <div class="number"> </div>
            </a>
          </li>
        </ng-container>
        <li class="button-list-item" *ngIf="!stepperService.isLastStepSelected"
          (click)="!lockStepper ? stepperService.next() : null" [ngClass]="{'disabled': lockStepper }"
          appAutomationLocator [compName]="compName" [uniqueKey]="'continue'">
          <a class="align-right">
            <span class="fa fa-arrow-right fa-lg"></span>
            <span [translate]="'shared.stepper.continue'" class="bold uppercase">Continue</span>
          </a>
        </li>
        <li class="button-list-item" *ngIf="stepperService.isLastStepSelected"
          [ngClass]="{'disabled': lockStepperSave }" (click)="!lockStepperSave ? stepperService.submit(): null"
          appAutomationLocator [compName]="compName" [uniqueKey]="'save'">
          <a class="align-right">
            <span class="fa fa-check fa-lg"></span>
            <span [translate]="'shared.stepper.save'" class="bold uppercase">Save</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
