<div #summary class="main-div {{customClass}}">
  <div class="row">
    <div *ngFor="let item of items" class="item-div"
      [ngClass]="{'col-xs-12': items.length === 1, 'col-xs-6': items.length === 2, 'col-xs-4': items.length > 2}">
      <div class="heading">{{item.title}}</div>
      <div *ngIf="item.type === AmcsMobileSummaryItemEnum.Text; else showLink" class="summary-value"
        [class]="item.customClass">{{item.value}}
      </div>
      <ng-template #showLink>
        <div class="summary-value" *ngIf="item.type === AmcsMobileSummaryItemEnum.Link" [class]="item.customClass">
          <a (click)="itemClicked(item)" [uniqueKey]="'link'" appAutomationLocator
            [compName]="'AmcsMobileSummaryComponent'">
            {{item.value}}
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</div>