@import "sass/abstracts/_variables.scss";

i {
  cursor: pointer;
  color: $amcs-blue !important;
  background-color: transparent;
  font-size: 14pt;

  &:hover {
    color: $pallette-link-hover-color !important;
  }

  &.secondary {
    color: $amcs-dropdown-black !important;
    font-size: 80%;
  }

  &.secondary:hover {
    color: $amcs-dropdown-black !important;
  }
}
