@import "sass/abstracts/variables";

.btn-login-google {
  background-color: $pallette-external-log-in-button;
  border: 3px solid $pallette-external-log-in-button;
  color: $amcs-white;
  font-size: 18px;
  border-radius: 3px !important;
  line-height: 48px;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.btn.display-left-mode {
  .google-icon {
    float: left;
  }
  span.label-span.abcRioButtonContents.btn-lg {
    float: left;
    line-height: 28px !important;
  }
}

.btn-login-google:hover {
  background-color: $pallette-external-log-in-button-hover;
  color: $amcs-white !important;
  border-color: $pallette-external-log-in-button-hover;
}

.btn-login-google:focus {
  border-color: $pallette-external-log-in-button-focus;
  color: $amcs-white !important;
  background-color: $pallette-external-log-in-button-focus;
}

.abcRioButtonBlue .abcRioButtonIcon {
  background-color: $amcs-white;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  float: left;
}
