<div class="cal-cell-top" [ngClass]="{ 'fit-width': !widthToggle }">
  <div *ngIf="!hideCell" class="portlet mt-element-ribbon light portlet-fit"
    [ngClass]="{ 'contains-multiday-hovered-event': multidayHoverHighlight }">
    <span class="cal-day-number">{{ day.date | calendarDate: 'monthViewDayNumber':locale }}</span>
    <div class="cellBody">
      <mat-nav-list class="displayEventsList">
        <a (mouseenter)="showstatus(event)" [ngClass]="event.cssClass" (mouseleave)="hideStatus(event)" mat-list-item
          *ngFor="let event of displayEvents; let i = index" [style.border-color]="event.color.primary"
          placement="{{ tooltipPlacement }}"
          tooltip="{{ event.meta.isShowButton ? event.meta.buttonTooltip : event.meta.tooltipText }}" container="body"
          appAutomationLocator [compName]="compName" [uniqueKey]="'desktop_' + index"
          (click)="event.meta.selectOnTileClick ? activitySelected.emit(event) : null">
          <span appAutomationLocator [compName]="compName" [uniqueKey]="'desktop_' + event.title + '_view'"
            (click)="!event.meta.selectOnTileClick ? activitySelected.emit(event) : null" class="constrainedContent"
            [ngClass]="{'multiday-month-view-event':event.meta.isMultiDay}">{{ event.title }}
            <button *ngIf="event.meta.isShowButton" #btn type="button" class="amcs-green-confirm" appAutomationLocator
              [compName]="compName" [uniqueKey]="uniqueKey">
              <span>{{event.meta.buttonText}}</span>
            </button>
          </span>
          <div
            *ngIf="showOptions && (event.meta.isViewable || event.meta.isEditable || event.meta.isDeletable || event.meta.isCompletable)"
            class="cal-event-actions">
            <a *ngIf="event.meta.isViewable" (click)="activitySelected.emit(event)" appAutomationLocator
              [compName]="compName" [uniqueKey]="'desktop_' + index + '_view'"><i class="far fa-eye fa-sm"></i></a>
            <a *ngIf="event.meta.isEditable" (click)="activityEdited.emit(event)" appAutomationLocator
              [compName]="compName" [uniqueKey]="'desktop_' + index + '_edit'"><i class="far fa-pencil fa-sm"></i></a>
            <a *ngIf="event.meta.isDeletable" (click)="activityDeleted.emit(event)" appAutomationLocator
              [compName]="compName" [uniqueKey]="'desktop_' + index + '_delete'"><i class="fas fa-trash fa-sm"></i></a>
            <a *ngIf="event.meta.isCompletable" (click)="activityCompleted.emit(event)" appAutomationLocator
              [compName]="compName" [uniqueKey]="'desktop_' + index + '_complete'"><i
                class="fas fa-check fa-sm"></i></a>
          </div>
          <i *ngIf="event.meta.isMultiDay" class="fas fa-repeat fa-sm multi-day-event-icon"></i>
        </a>
      </mat-nav-list>
    </div>
    <mat-nav-list class="displayEventsList seeMoreList" *ngIf="hasMoreEvents">
      <a class="seeMore" mat-list-item (click)="seeMore()" appAutomationLocator [compName]="compName"
        [uniqueKey]="'seeMore'">
        <span>
          {{
          isActiveDayIsOpen === true && day !== null && viewDate != null && day.date.getTime() === viewDate.getTime()
          ? ('shared.calendar.seeLess' | translate)
          : ('shared.calendar.seeMore' | translate: { no: hiddenEventsTotal })
          }}
        </span>
      </a>
    </mat-nav-list>
  </div>
</div>