@import 'sass/abstracts/_variables.scss';

app-amcs-calendar-desktop-cell {
  height: 100%;

  .cal-cell-top {
    cursor: default;
    max-width: 276px;
    height: 100%;
  }

  .fit-width {
    max-width: 333px;
  }

  .portlet {
    height: 100%;
    box-shadow: unset !important;
    background-color: unset !important;

    .cal-day-number {
      width: 10%;
    }

    .cellBody {
      padding: 20px 0 0 5px;

      .mat-nav-list.displayEventsList {
        .mat-list-item {
          width: 95%;
          background: $amcs-portlet-grey-base-color;
          border-radius: 3px !important;
        }
      }
    }

    .mat-nav-list.seeMoreList {
      bottom: 0;
      position: absolute;

      .seeMore {
        margin: 0 !important;
        border-left: unset !important;
        width: 100%;
        text-align: center;
        opacity: 0.7;

        .mat-list-item-content {
          padding: 0;
        }

        span {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }

  .contains-multiday-hovered-event {
    background-color: rgba($amcs-blue, 0.2) !important;
  }

  .constrainedContent.multiday-month-view-event {
    max-width: calc(100% - 13px);
  }

  .multi-day-event-icon {
    position: absolute;
    right: 6px;
    background-color: transparent;
    z-index: 5;
  }
}

.calendarEventViewOpenModal {
  .portlet {
    .portlet-title {
      .actions {
        a {
          color: $pallette-primary-color;
          text-decoration: none;
        }

        a:hover {
          color: lighten($pallette-primary-color, 10);
        }
      }
    }
  }
}

.cal-month-view {
  .cal-day-number {
    float: left;
    font-size: 1em;
    margin-top: 1px;
    margin-left: 4px;
    margin-bottom: 0;
  }
}

.cal-day-actions .tooltip {
  white-space: nowrap;
}

.cal-event-actions {
  background: $pallette-calender-onHover;
  -webkit-border-top-right-radius: 3px !important;
  -webkit-border-bottom-right-radius: 3px !important;
  -moz-border-radius-topright: 3px !important;
  -moz-border-radius-bottomright: 3px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-left: 1px solid #eee;
  display: block;
  padding: 3px 5px;
  position: absolute;
  right: 0;
  z-index: 10;
}

.cal-event-actions a {
  border-radius: 20px !important;
  color: $amcs-teal;
  float: left;
  margin: 0 3px;
  text-align: center;
  width: 19px;
  height: 19px;
}

.cal-event-actions a:hover {
  background: $pallette-calender-onHover;
}

.amcs-green-confirm {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 1px !important;
  margin-bottom: 0px !important;
  border-radius: 20px !important;
  background-color: $amcs-green-button-backgrond-color;
  color: $amcs-green-button-text-color;
  padding: 2px 12px 18px 12px;
  height: 20px;
  border: 0;
  align-content: center;
}