.html-legend {
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 8pt;

    .legend-base {
        padding: 0;
        margin-bottom: 8px;

        .legend-color-block {
            height: 20px;
            width: 35px;
            border-width: 3px;
            border-style: solid;
        }
    
        .legend-color-text {
            white-space: nowrap;
        }
    }
}