@import "sass/abstracts/_variables.scss";

div.date-range-filter-container {
  margin: 5px;
  text-align: right;
  padding: 0;
  position: relative;

  &.secondary-ui {
    div.btn:hover {
      color: #fff;
    }
  }

  div.btn {
    border: 0 !important;
    padding: 0 !important;
    box-shadow: unset !important;

    i {
      vertical-align: text-top;
    }

    span {
      font-weight: 300;
      font-size: 13px;
      font-family: "Nunito Sans", sans-serif;
    }
  }

  div.date-range-selector {
    box-shadow: 5px 5px $pallette-date-range-selector-shadow-colour;
    border: 1px solid $pallette-date-range-selector-border-colour;
    background-color: $amcs-white;

    &.secondary-ui {
      color: rgba(0, 0, 0, 0.87);
    }

    // align right edge of popup with right edge of parent
    right: 0;

    &.date-range-selector-right {
      right: -360px;
    }

    width: 180px;
    z-index: 9999;
    position: absolute;

    div.calendar1,
    div.calendar2 {
      margin-right: 4px;
      margin-left: 4px;
      float: left;
      width: 180px;

      .mat-calendar-header {
        padding-top: 0;
      }
    }

    div.ranges {
      margin: 4px;
      float: left;
      width: 160px;

      ul {
        margin: 5px;
        padding: 0;

        li {
          padding-right: 12px;
          padding-left: 12px;
          padding-bottom: 3px;
          padding-top: 3px;
          cursor: pointer;
          margin-bottom: 8px;
          background: $pallette-date-range-selector-list-item-bg-colour;
          color: $pallette-date-range-selector-list-item-colour;
          list-style: none;
        }

        li.active,
        li:hover {
          background: $pallette-date-range-selector-list-item-selected-bg-colour !important;
          color: $pallette-date-range-selector-list-item-selected-colour;
        }
      }

      div.range-inputs {
        margin: 5px;
      }
    }
  }

  div.date-range-selector-wide {
    width: 548px;
  }

  .is-disabled {
    cursor: not-allowed;
  }
}
