@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.loading-animation {
  text-align: center;

  .line {
    @include bounce-up(15px);

    &:nth-last-child(1) {
      animation: bounce-up .6s .1s linear infinite;
    }

    &:nth-last-child(2) {
      animation: bounce-up .6s .2s linear infinite;
    }

    &:nth-last-child(3) {
      animation: bounce-up .6s .3s linear infinite;
    }

    display: inline-block;
    background-color: #61C250;
    border-radius: 15px;
    height: 15px;
    width: 15px;
  }
}

div.dropdown-inbox-list {
  display: none;
  position: absolute;
  min-width: 685px;
  right: 0;
  top: 50px;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3);
  z-index: 2;

  .dropdown-inbox-loading {
    text-align: center;
  }

  &::before {
    position: absolute;
    top: -4px;
    right: 15px;
    display: inline-block !important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: $amcs-white;
    content: '';
    z-index: 1;
  }

  .dropdown-inbox-list-header {
    padding: 12px;
    background-color: $amcs-dropdown-toggle-header-background-color;
    font-size: 13px;
    font-family: "DIN Next", sans-serif;
    line-height: 1.1;

    span {
      margin-right: 4px;
      font-weight: 600;
      position: relative;
      top: 2px;

      &.bold {
        font-weight: 700 !important;
      }
    }

    a {
      position: relative;
      left: 75px;
      top: 2px;

      &:hover {
        background: initial;
      }
    }
  }

  .dropdown-inbox-list-body {
    list-style: none;
    background-color: $amcs-white;
    overflow: hidden;
    width: auto;
    padding-right: 0 !important;
    padding-left: 0;
    font-family: "Nunito Sans";
    overflow-y: auto;
    max-height: 275px;

    li {
      a {
        padding: 16px 9px 18px;
        border-bottom: 1px solid $amcs-dropdown-toggle-border-bottom-color;
        color: $amcs-settings-header-color;
        display: block;
        clear: both;
        font-weight: 300;
        line-height: 20px;
        font-size: 13px;
        text-decoration: none;

        &:hover {
          background-color: $amcs-dropdown-list-item-selected-color;
        }
      }

      .followupdate {
        color: $amcs-yellow;
      }

      .assignedtosysuserid {
        color: $amcs-blue;
      }

      .communicationgroupid {
        color: $amcs-blue;
      }

      .communicationfollowupstatusid {
        color: $amcs-green;
      }
    }
  }
}