@import 'sass/abstracts/variables';

.profile-usermenu ul li a,
.profile-usermenu ul li.active a {
  border-color: $amcs-blue;
  color: $amcs-blue;
}

.margin-right {
  margin-right: 20px;
}

.body-pad {
  padding: 20px;
}

.profile-sidebar {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.profile-content {
  overflow: hidden;
}

.profile-sidebar-portlet {
  padding: 30px 0 0 !important;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: $amcs-teal;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: $amcs-green;
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 7px;
}
.profile-usermenu {
  margin-top: 30px;
  padding-bottom: 20px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid $amcs-profile-usermenu-color;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: $amcs-profile-usermenu-list-link-color;
  font-size: 16px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 16px;
}

.profile-usermenu ul li a:hover {
  background-color: $amcs-profile-usermenu-hover-background-color;
  color: $amcs-profile-usermenu-hover-color;
}

.profile-usermenu ul li.active a {
  color: $amcs-profile-usermenu-hover-color;
  background-color: $amcs-profile-usermenu-active-color;
  border-left: 2px solid $amcs-profile-usermenu-hover-color;
  margin-left: -2px;
}

@media (max-width: 991px) {
  .profile-sidebar {
    float: none;
    width: 100% !important;
    margin: 0;
  }
  .profile-sidebar > .portlet {
    margin-bottom: 20px;
  }
  .profile-content {
    overflow: visible;
  }
}

.avatar-circle {
  width: 150px;
  height: 150px;
  background-color: $amcs-green;
  text-align: center;
  float: none;
  margin: 0 auto;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.initials {
  position: relative;
  top: 50px;
  font-size: 60px;
  line-height: 50px;
  color: $amcs-white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}
