<div class="nav-action-container">
  <div class="fav-actions" *ngIf="!mobileQuery.matches">
    <ng-container *ngFor="let actionItem of service.actionItems;let i = index">
      <a *ngIf="actionItem.isFavourite" class="fav-action-item" (click)="navigate(actionItem)"
        [tooltip]="actionItem.text" placement="bottom" appAutomationLocator [compName]="compName"
        [uniqueKey]="formControlName+'_'+uniqueKey+'_actionIcon_'+i">
        <i [ngClass]="actionItem.icon"></i>
      </a>
    </ng-container>
  </div>

  <div class="actions-dropdown" (clickOutside)="service.hideMoreActions()">
    <a class="more-actions context-nav-item" (click)="service.toggleMoreActions();" appAutomationLocator
      [compName]="compName" [uniqueKey]="formControlName+'_'+uniqueKey+'_moreActions'">
      <span *ngIf="!mobileQuery.matches">{{ moreActionsText }}</span>
      <i class="fad fa-chevron-down"></i>
    </a>
    <div class="dropdown" [ngClass]="{'dropdown-menu-open': service.isOpen}">
      <ul class="fav-actions-dropdown" role="menu">
        <li *ngFor="let actionItem of service.actionItems;let i = index" class="menu-item" role="menu-item">
          <a (click)="navigate(actionItem)" appAutomationLocator [compName]="compName"
            [uniqueKey]="formControlName+'_'+uniqueKey+'_actionText_'+i">
            <i [ngClass]="actionItem.icon"></i>
            <span>{{actionItem.text}}</span>
          </a>
          <div [ngClass]="actionItem.isFavourite ? 'star checked' : 'star'"
            (click)="service.toggleFavourite(actionItem)" appAutomationLocator [compName]="compName"
            [uniqueKey]="formControlName+'_'+uniqueKey+'_star_'+i">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>