@import "sass/abstracts/variables";

@media (max-width : 720px){
  div.nav-action-container {
    margin-top: -32px;
    margin-left: 30px;
  }
}

div.nav-action-container {
  float: right;
  > div {
    display: inline-flex;
  }

  div.fav-actions {
    a.fav-action-item {
      display: table-cell;
      height: 28px;
      width: 35.5px;
      text-align: center;
      border-right: 1px solid $amcs-actions-control-border-color;
      border-top: 1px solid $amcs-actions-control-border-color;
      border-bottom: 1px solid $amcs-actions-control-border-color;
      padding: 5px 7px 5px 7px;
      transition: all 0.3s ease-out;

      &:first-child {
        border-left: 1px solid $amcs-actions-control-border-color;
        border-radius: 3px 0 0 3px;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
      }

      &:only-child {
        border-radius: 3px 3px 3px 3px;
      }

      &:hover {
        background: $amcs-actions-control-bg-hover-color;
      }

      i {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        color: $amcs-actions-control-color;
      }
    }
  }

  div.actions-dropdown {
    margin-left: 10px;

    a.more-actions {
      display: table-cell;
      height: 28px;
      text-align: center;
      border: 1px solid $amcs-actions-control-border-color;
      border-radius: 3px 3px 3px 3px;
      padding: 5px 7px 5px 7px;
      color: $amcs-actions-control-color;
      font-family: "Nunito Sans", sans-serif;
      //font-size: 13px;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        background: $amcs-actions-control-bg-hover-color;
      }

      i {
        font-size: 12px;
        font-weight: 900;
        font-style: normal;
        vertical-align: middle;
        display: inline-block;
        line-height: 14px;
        width: 1.25em;
        text-align: center;
        font-family: 'Font Awesome 5 Pro';
      }
    }

    div.dropdown {
      display: none;
      position: absolute;
      background-color: $amcs-white;
      min-width: 160px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .22)!important;
      padding: 0;
      z-index: 1000;
      margin-top: 40px;
      right: 15px;
      border-radius: 3px!important;

      ul.fav-actions-dropdown {
        padding: 7px 0;
        margin: 0;

        li.menu-item {
          display: block;
          position: relative;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

          a {
            padding: 10px 15px;
            display: block;
            color: $amcs-teal;
            font-weight: 700;
            display: inline-block;
            text-decoration: none;

            i {
              margin-right: 12px;
              font-weight: 900;
              font-size: 100%;
            }
          }

          .star {
            padding-right: 15px;
            float: right;
            margin-top: 5px;
            cursor: pointer;
          }

          .star:before {
            font-family: "Font Awesome 5 Pro";
            content: "\f005";
            font-weight: normal;
            visibility: visible;
            font-size: 21px;
            color: $amcs-actions-control-fave-icon-color;
          }

          .star.checked:before {
            content: "\f005";
            font-weight: bold;
            color: $amcs-actions-control-fave-icon-selected-color;
          }

          // menu-item
          &:hover {
            background: $amcs-actions-control-bg-hover-color;
          }
        }
      }
    }

      div.dropdown.dropdown-menu-open {
        display: block;
      }
  }
}
