@import "sass/abstracts/variables";

app-amcs-timepicker {
  .form-group {
    padding-top: 0px;
  }

  .form-input-label {
    color: $amcs-form-input-label-colour;
  }

  .small-mode {
    margin: 0 !important;
    margin-bottom: 15px !important;
    padding-top: 0px !important;

    .bs-timepicker-field {
      width: 25px !important;
    }

    td>.btn {
      padding: 5px 5px 5px 5px !important;
      color: #fff;
      background-color: $amcs-primary-button-color;
      border-color: $amcs-primary-button-border-color;

      &:hover {
        background-color: $amcs-primary-button-hover-color;
        border-color: $amcs-primary-button-border-hover-color;
      }
    }
  }

}
