<app-amcs-inner-container-group>
  <!-- eslint-disable amcs-html-plugin/deprecated-tag-ban -->
  <app-amcs-container-tile *ngIf="!isChild; else noPortlet">
    <ng-container ngProjectAs="title">
      <div class="caption">
        <i [class]="titleIcon" *ngIf="titleIcon"></i>
        <span class="caption-subject bold uppercase"> {{tabService.title}}
        </span>
      </div>
    </ng-container>
    <ng-container ngProjectAs="body">
      <div class="{{customClass}}" [ngClass]="{'amcs-tab-padding': !noPadding}">
        <mat-tab-group [attr.mat-stretch-tabs]="stretchTabs" [(selectedIndex)]="tabService.currentTabIndex"
          [backgroundColor]="backgroundColor" (animationDone)="tileUiService.innerTilesChanged.next()"
          [dynamicHeight]="true" appAutomationLocator [compName]="compName" [uniqueKey]="'tabGroup'">
          <mat-tab *ngFor="let tab of tabService.tabs;let i=index" appAutomationLocator [compName]="compName"
            [uniqueKey]="'tab_'+i">
            <ng-template mat-tab-label>
              <div [ngClass]="{'error-text': tab.state.error }">
                <i *ngIf="tab.innerComponent.iconClass" class="{{tab.innerComponent.iconClass}}"></i>
                {{tab.innerComponent.heading}}
              </div>
            </ng-template>
            <div class="amcs-tab-body" [ngStyle]="{'min-height': tabService.tabContentHeight}">
              <ng-container [ngTemplateOutlet]="tab.content"></ng-container>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="form-actions">
        <app-amcs-save-button [compName]="compName" [uniqueKey]="'save'" *ngIf="!tabService.isReadOnlyMode"
          customClass="btn amcs-green" (click)="tabService.submit()">
          <span [translate]="'shared.stepper.save'">Save</span>
        </app-amcs-save-button>
        <app-amcs-button [compName]="compName" [uniqueKey]="'cancel'" customClass="btn btn-default pull-right"
          (click)="tabService.cancel()">
          <span [translate]="'shared.stepper.cancel'">Cancel</span>
        </app-amcs-button>
      </div>
    </ng-container>
  </app-amcs-container-tile>
  <ng-template #noPortlet>
    <div class="{{customClass}}" [ngClass]="{'amcs-tab-padding': !noPadding}">
      <mat-tab-group [attr.mat-stretch-tabs]="stretchTabs" [(selectedIndex)]="tabService.currentTabIndex"
        (animationDone)="tileUiService.innerTilesChanged.next()" [dynamicHeight]="true" appAutomationLocator
        [compName]="compName" [uniqueKey]="'tabGroup2'">
        <mat-tab *ngFor="let tab of tabService.tabs;let i=index" appAutomationLocator [compName]="compName"
          [uniqueKey]="'tab2_'+i">
          <ng-template mat-tab-label>
            <div [ngClass]="{'error-text': tab.state.error }">
              <i *ngIf="tab.innerComponent.iconClass" class="{{tab.innerComponent.iconClass}}"></i>
              {{tab.innerComponent.heading}}
            </div>
          </ng-template>
          <div class="amcs-tab-body" [ngStyle]="{'min-height': tabService.tabContentHeight}">
            <ng-container [ngTemplateOutlet]="tab.content"></ng-container>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-template>
</app-amcs-inner-container-group>
