@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

app-amcs-calendar {
  .noMargin {
    margin: 0 !important;
  }

  .calendarLoading {
    opacity: 0.5 !important;
  }

  .loading-animation {
    text-align: center;
    margin-top: 70px;
  }

  .line {
    display: inline-block;
    background-color: #61c250;
    border-radius: 15px;
    height: 15px;
    width: 15px;
  }

  .loading-animation .line {
    @include bounce-up(15px);
  }

  .loading-animation .line:nth-last-child(1) {
    animation: bounce-up 0.6s 0.1s linear infinite;
  }

  .loading-animation .line:nth-last-child(2) {
    animation: bounce-up 0.6s 0.2s linear infinite;
  }

  .loading-animation .line:nth-last-child(3) {
    animation: bounce-up 0.6s 0.3s linear infinite;
  }

  .portlet {
    @media (min-width: 992px) {
      .bodyColumnPadding {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }

      .portlet-body {
        padding: 0 10px 0 0;
      }
    }

    @media (max-width: 990px) {
      .mat-calendar-viewport {
        display: none;
      }
    }

    .hideOnView {
      display: none;
    }

    .bodyColumnPadding {
      padding-left: 0;
      padding-right: 0;
    }

    .pullLeft {
      float: left;
    }

    .pullRight {
      float: right;
    }

    .clearall {
      clear: both;
    }

    .portlet-title {
      display: block !important;
      background-color: #fff !important;
      border-bottom: unset;
      padding: 10px 5px 0 !important;
      margin-bottom: 0;

      .mobileEventSelection {
        padding-bottom: 15px;
        padding-top: 15px;
      }

      .eventText {
        color: #555;
      }

      .btn-group {
        vertical-align: unset;
      }

      .form-group.form-md-line-input {
        margin: unset;
        padding-top: unset;
      }

      .form-group {
        margin-bottom: unset;
      }

      i {
        -webkit-touch-callout: none;
        outline: none !important;
        width: 40px;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        height: 40px;
        user-select: none;
        cursor: pointer;
        padding-left: 10px;
        vertical-align: text-top;
      }

      h4.textAlign {
        padding-top: 5px;
        text-align: right;
      }

      h4 {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .portlet-body {
      padding: unset !important;

      .mat-selection-list {
        outline: none !important;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        user-select: none;
        border-top: 1px solid #eef1f5;
        padding-top: 0;

        .legendOption {
          border-left: 8px solid;
        }
      }

      .displayEventsList.mat-nav-list {
        width: 100%;
        padding-top: unset;

        .mat-list-item {
          font-size: 14px;
          border-left: 5px solid;

          .mat-list-item-content {
            padding: 0 5px;
            width: 100%;
            display: inline-grid;
          }

          .constrainedContent {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .actions {
    float: right;
  }

  div.search-box {
    border-bottom: 1px solid $amcs-grey;
    border-radius: 0;
    border: 0;
    height: 30px;

    input {
      background-color: transparent;
      padding-bottom: 10px;
      margin-bottom: 5px;
      margin-left: 10px;
      border: 0;
      padding-left: 20px;
      padding: 0;
    }

    i.fa-search {
      float: right;
      padding-right: 10px;
      cursor: pointer;
      top: -30px;
      z-index: 1;
      position: relative;
    }
  }

  div.search-box.multiple-filter {
    width: 100%;
  }

  .mat-select-panel {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .mat-list-item-disabled,
  .mat-option-disabled {
    display: none !important;
  }

  .multiple-filters {
    max-height: 550px !important ;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .cal-month-view {
    .displayEventsList.mat-nav-list {
      .mat-list-item {
        height: 25px;
        margin: 0 0 5px 3px;
      }
    }
  }
 
}

.cal-week-view,
.cal-day-view {
  .cal-event {
    color: $amcs-black;
    border: 0;
    background-color: transparent;
    .displayEventsList.mat-nav-list.mat-list-base {
      height: calc(100%);
      .mat-list-item {
        height: calc(100%);
        .constrainedContent {
          position: absolute;
          top: 3px;
          width: 100%;
        }
        .cal-event-actions {
          position: absolute;
          top: 3px;
        }
      }
    }
  }
}

.custom-option {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 130px !important;
}

.filters-title-row {
  padding: 10px;
}

.filters-title {
  padding-top: 4px;
}

.persist-switch {
  text-align: right;
}

.cal-day-view {
  .cal-all-day-events {
    .cal-event {
      padding: 0 5px;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 2px;
      height: 28px;
      line-height: 28px;
    }
  }
}

.cal-week-view .cal-event,
.cal-week-view .cal-header {
  overflow: visible !important;
}

a.filter-button {
  padding-right: 15px;
  text-decoration: none;

  i {
    color: $amcs-teal;
    vertical-align: middle;
  }

  i:hover {
    color: $amcs-blue;
  }

  i.fa-filter {
    font-weight: 400;
    font-size: 22px;
  }

  i.fa-filter.show-filter {
    font-weight: 900;
  }
}
