<div class="form-group form-md-line-input amcs-input"
  [ngClass]="{'has-error' : hasError, 'has-success' : !hasError && edited}" appAutomationLocator [compName]="compName"
  [uniqueKey]="formControlName+'_'+uniqueKey">
  <app-amcs-label-definition [isMandatory]="isMandatory" [isEditable]="isEditable" [isVisible]="isVisible"
    [showVisible]="showVisible"></app-amcs-label-definition>
  <label>
    <ng-content select="label"></ng-content>
  </label>
  <select class="form-control" #select [disabled]="isDisabled" [ngModel]="value" (ngModelChange)="writeValue($event)"
    [ngClass]="{'edited' : edited}" (blur)="onTouchedCallback()" appAutomationLocator [compName]="compName"
    [uniqueKey]="formControlName+'_'+uniqueKey+'_select'">
    <option [ngValue]="null" [disabled]="!isOptional" [selected]="true">{{selectTranslation}}</option>
    <ng-content select="options"></ng-content>
  </select>
</div>