<div
  #wrapper
  class="form-group form-md-line-input amcs-input"
  [class.has-error]="hasError"
  [class.has-success]="!hasError && edited"
  [class.checkbox]="type === 'checkbox'"
  [class.small-mode]="displayMode === FormControlDisplay.Small"
  [class.grid-mode]="displayMode === FormControlDisplay.Grid"
  [class.no-padding]="noPadding"
  [class.no-margin]="noMargin"
  [class.mobile-form-group]="isMobile"
>
  <div class="input-icon right" [ngSwitch]="type">
    <ng-container *ngSwitchCase="'checkbox'">
      <label class="mt-checkbox mt-checkbox-outline checkbox-label">
        <input
          #checkboxInput
          type="checkbox"
          [ngModel]="value"
          (ngModelChange)="writeValue($event)"
          [tooltip]="inputTooltip"
          [disabled]="isDisabled"
          [readonly]="isReadOnly"
          appAutomationLocator
          [compName]="compName"
          [uniqueKey]="formControlName + '_' + uniqueKey + '_chk'"
        />
        <span></span>
      </label>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <input
        #defaultInput
        class="form-control"
        container="body"
        type="{{ type }}"
        step="{{ step }}"
        autocomplete="{{ autocomplete }}"
        placeholder="{{ placeholder }}"
        placement="bottom"
        [class.edited]="edited"
        [class.number-input]="type === 'number'"
        [class.mobile-input]="isMobile"
        [class.mobile-error]="hasError && isMobile"
        maxlength="{{ maxLength }}"
        [min]="min"
        [takeFocus]="autoFocus"
        [tooltip]="inputTooltip"
        [disabled]="isDisabled"
        [ngModel]="value"
        [readonly]="isReadOnly"
        (ngModelChange)="writeValue($event)"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
        (keypress)="keyPressEvent($event)"
        appAutomationLocator
        [compName]="compName"
        [uniqueKey]="formControlName + '_' + uniqueKey + '_text'"
      />
    </ng-container>
    <ng-content select="errors"></ng-content>

    <ng-container *ngIf="isDefaultLabel; then defaultLabel; else customLabel"></ng-container>
    <ng-template #defaultLabel>
      <label [class.checkbox-label]="type === 'checkbox'" class="no-padding-left">
        <label [class.checkbox-label]="type === 'checkbox'" app-amcs-form-label [label]="label" [class]="labelClass" [isRequired]="isRequired"></label>
        <i *ngIf="addToolTipIcon" class="fa fa-question-circle tooltip-icon" aria-hidden="true"></i>
      </label>
    </ng-template>
    <ng-template #customLabel>
      <label [class]="labelClass"> <ng-content select="label"></ng-content> </label
    ></ng-template>
    <i *ngIf="icon === 'email'" class="fas fa-envelope form-control-icon"></i>
    <i *ngIf="icon === 'user'" class="fa fa-user form-control-icon"></i>
    <i *ngIf="icon === 'password'" class="fa fa-key form-control-icon"></i>
    <i
      *ngIf="enableClear"
      [class.has-search]="icon === 'search'"
      class="clear fa fa-times form-control-icon"
      (click)="writeValue(null)"
      appAutomationLocator
      [compName]="compName"
      [uniqueKey]="'clear'"
    ></i>
    <i *ngIf="icon === 'search'" class="fa fa-search form-control-icon"></i>
  </div>
</div>
