@import "sass/abstracts/variables";

app-amcs-input {
  .pad-left {
    padding-left: 5px !important;
  }

  .form-group.form-md-line-input > .input-icon.right .form-control.number-input {
    padding-right: 0px;
  }

  .form-group.form-md-line-input .clear.fa.fa-times.form-control-icon {
    cursor: pointer;
    &.has-search {
      left: unset;
      right: 30px;
    }
  }

  .checkbox {
    display: inline-block;
    position: relative;
    top: 5px;
  }

  .label-reduce-padding {
    padding: 3px;
  }

  .label-ten-padding {
    padding-left: 10px;
  }

  .no-label {
    margin: 0 !important;
    padding: 0 !important;
  }

  .no-label-first {
    margin: 0 !important;
  }

  .no-label-last {
    padding: 0 !important;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-margin {
    margin: 0 !important;
    margin-bottom: 0 !important;
  }

  .small-mode {
    margin: 0 !important;
    margin-bottom: 15px !important;
  }

  .grid-mode {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;

    &.checkbox {
      background-color: transparent;
    }
  }

  .removeDashBorder {
    border-bottom-style: solid !important;
    cursor: default !important;
    padding-right: 0 !important;
  }

  .no-padding-right {
    padding-right: 0 !important;
  }

  .no-padding-left {
    padding-left: 0 !important;
  }

  .mobile-input {
    height: 44px !important;
    border: 1px solid $amcs-form-input-border-color !important;
    border-radius: 3px !important;
    padding-left: 5px !important;
  }

  .mobile-error {
    border: 1px solid $amcs-form-input-error-color !important;
  }

  .mobile-form-group {
    margin-bottom: 15px !important;
  }

  .text-align-right {
    text-align: right;
    padding-right: 4px !important;
  }

  .height-40 {
    height: 40px !important;
  }

  .checkbox-label {
    vertical-align: middle;
    padding-left: 15px;
  }

  .tooltip-icon {
    color: black;
    padding-left:5px;
  }
}
