<app-amcs-inner-container-group>
  <app-amcs-mobile-stepper *ngIf="mobileQuery.matches; else desktopStepper" [compName]="compName"
    [hideParentTile]="hideParentTile" [lockStepper]="lockStepper" [lockStepperSave]="lockStepperSave">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </app-amcs-mobile-stepper>
  <ng-template #desktopStepper>
    <app-amcs-desktop-stepper [compName]="compName" [hideParentTile]="hideParentTile"
      [lockStepper]="lockStepper" [lockStepperSave]="lockStepperSave">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </app-amcs-desktop-stepper>
  </ng-template>

  <!-- Content needs to be used in either desktop or mobile so need this to re-use twice -->
  <ng-template #content>
    <ng-content></ng-content>
  </ng-template>
</app-amcs-inner-container-group>