<div class="form-group form-md-line-input amcs-input"
  [ngClass]="{'has-error' : hasError, 'has-success' : !hasError && edited}">
  <app-amcs-label-definition [isMandatory]="isMandatory" [isEditable]="isEditable" [isVisible]="isVisible"
    [showVisible]="showVisible"></app-amcs-label-definition>
  <label>
    <div>
      <ng-content select="label"></ng-content>
    </div>
  </label>
  <div class="input-icon right">
    <input #input maxlength="{{maxLength}}" step="{{step}}" type="{{type}}" autocomplete="{{autocomplete}}"
      placeholder="{{placeholder}}" [takeFocus]="autoFocus" class="form-control" [disabled]="isDisabled"
      [ngModel]="value" (ngModelChange)="writeValue($event)" [ngClass]="{'edited' : edited}"
      (blur)="onTouchedCallback()" [readonly]="isReadOnly" [min]="min" (keypress)="keyPressEvent($event)"
      appAutomationLocator [compName]="compName" [uniqueKey]="formControlName+'_'+uniqueKey"
      (mouseover)="showToolTip=true" (mouseout)="showToolTip=false">
    <app-amcs-tooltip-on-truncate *ngIf="showTruncateOnTooltip" [xOffset]="34" [text]="value"
      [isTooltipActive]="showToolTip" [hideText]="true">
    </app-amcs-tooltip-on-truncate>
    <ng-content select="errors"></ng-content>
  </div>
</div>