@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.loading-animation {
  text-align: center;
  position: relative;
  top: -3px;

  .line {
    @include bounce-up(4px);

    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    background-color: #fff;

    &:nth-last-child(1) {
      animation: bounce-up 0.6s 0.1s linear infinite;
    }

    &:nth-last-child(2) {
      animation: bounce-up 0.6s 0.2s linear infinite;
    }

    &:nth-last-child(3) {
      animation: bounce-up 0.6s 0.3s linear infinite;
    }
  }
}

.btn {
  margin: 5px;
}

.custom-tile-margin {
  margin: 1px 7px 0 0 !important;
}

.noMargin {
  margin: 0 !important;
}

.low-opacity {
  opacity: 0.65;
}

.margin-right-only {
  margin-right: 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.large-font {
  font-size: 14px !important;
}

.column-customiser {
  margin-left: 15px;
  margin-top: 15px;
}

.whitespace-normal {
  white-space: normal;
}

.tiny {
  width: 60px !important;
}

.small {
  width: 100px !important;
}

.medium {
  width: 150px !important;
}

.large {
  width: 200px !important;
}

:host >>> .tooltip-inner {
  background-color: $pallette-tertiary-color;
  color: $amcs-white;
}

.right {
  float: right;
}

.topMargin {
  margin-top: 20px;
}

.amcs-light-green {
  background-color: $pallette-tertiary-color;
  color: $amcs-white;
}

.amcs-grey-rounded {
  background-color: $amcs-grey-button-background-color;
  color: $amcs-grey-button-text-color;
}

:host >>> .tooltip.top .tooltip-arrow::before,
:host >>> .tooltip.top .tooltip-arrow {
  background-color: rgb(78, 133, 50);
}

.amcs-add-btn {
  display: inline-block;
  font-weight: 700 !important;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  background-color: #fdd14e;
  margin-left: 10px !important;
  box-shadow: unset !important;
  border-radius: 3px !important;
  line-height: 1.4 !important;
  font-size: 13px !important;
  padding: 4px 20px 2px !important;
}

.btn-style {
  background-color: #dceed0;
  border: 1px solid grey;
  text-transform: none !important;
}

.full-width {
  width: 100%;
}

.btn-login {
  margin: 0px;
  width: 100%;
  color: $amcs-white;
  border-width: 3px;
  border-color: $pallette-log-in-button;
  background-color: $pallette-log-in-button;
  border-radius: 3px !important;

  &:focus {
    border-color: $pallette-log-in-button-focus;
    background-color: $pallette-log-in-button-focus;
  }

  &:hover {
    border-color: $pallette-log-in-button-hover;
    background-color: $pallette-log-in-button-hover;
  }
}

.important-button {
  margin: 2px 0px 2px 0px !important;
  border-radius: 3px !important;
  padding: 4px 20px 2px !important;
  font-size: 13px !important;

  background-color: $amcs-green-button-backgrond-color;
  color: $amcs-green-button-text-color;

  &:hover {
    background-color: $amcs-green-button-background-color-hover;
  }
}

.mobile-btn {
  width: 100%;
  height: 46px;
  line-height: 20px !important;
  font-size: 20px !important;
  border-radius: 3px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.amcs-mobile-green {
  background-color: $amcs-green-button-backgrond-color;
  color: $amcs-green-button-text-color;
}

.amcs-mobile-blue {
  background-color: $amcs-primary-button-color;
  color: $amcs-white;
}

.amcs-mobile-red {
  background-color: $amcs-red;
  color: $amcs-white;
}

.amcs-mobile-grey {
  background-color: $amcs-grey-button-background-color !important;
  color: $amcs-grey-button-text-color !important;
}

.mobile-button.cancel {
  border: 1px solid $amcs-grey-button-background-color-hover !important;
  border-radius: 3px !important;
  background-color: $amcs-white;
}

.mobile-button.cancel,
.mobile-button.ok {
  padding: 6px 12px !important;
}

button.amcs-search-button-modal.btn {
  padding: 6px !important;
}

.no-max-width {
  max-width: initial !important;
}

.inner-tile-button {
  padding-top: 5px !important;
  padding-bottom: 4px !important;
}
