@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.portlet.box>.portlet-body {
  padding: 0;
}

.portlet.box.no-margin {
  margin: 0px;
}

.portlet-skeleton {
  .portlet-title {
    .portlet-skeleton-text-block {
      height: 10px;
      width: 120px !important;
      position: relative;
      top: 10px;
      background-color: #67BFF1;
    }
  }

  .portlet-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portlet-skeleton-body-load {
    width: 90px;
    height: 90px;
    border: 0;

    .square {
      position: absolute;
      height: 40px;
      width: 40px;
      background: $amcs-blue;
      opacity: 0.2;
    }

    .square-c {
      @include loading-animation();
      opacity: 0.8;
      height: 30px;
      width: 30px;
      animation: loading-animation 2s infinite ease-in-out;
    }

    .square-c.state2c {
      animation-delay: -1s;
    }
  }
}

.portlet.no-margin-bottom{
  margin-bottom: 0px !important;
}
