<app-amcs-inner-container-group>
  <div class="portlet box portlet-fit bordered blue portlet-skeleton {{ customClass }}"
    *ngIf="loading; else loadedTemplate">
    <div class="portlet-title" [ngStyle]="{ 'background-color': titleBackgroundColor }">
      <div class="caption portlet-skeleton-text-block"></div>
    </div>
    <div class="portlet-body" [ngStyle]="{ 'min-height': bodyMinHeight, 'background-color': bodyBackgroundColor }"
      [style.width.px]="bodyWidthpx">
      <!-- CSS animation taken from https://codepen.io/trungk18/pen/yJggrL -->
      <div class="portlet-skeleton-body-load">
        <div class="square square-c state1c"></div>
        <div class="square square-c state2c"></div>
      </div>
    </div>
  </div>
  <ng-template #loadedTemplate>
    <div class="portlet box portlet-fit bordered {{ customClass }}" appAutomationLocator [compName]="compName" [uniqueKey]="'custom-tile'"
      [ngClass]="{ 'portlet-form': isForm, blue: !isChild, grey: isChild }">
      <div class="portlet-title" [style.background-color]="titleBackgroundColor">
        <ng-container *ngIf="titleMenuTemplate != null">
          <ng-template [ngTemplateOutlet]="titleMenuTemplate" [ngTemplateOutletContext]="{ isMobile: isMobile }">
          </ng-template>
        </ng-container>
        <ng-container *ngIf="titleMenuTemplate === null">
          <ng-content select="title"></ng-content>
        </ng-container>
      </div>
      <div class="portlet-body" [ngStyle]="{ 'min-height': bodyMinHeight, 'background-color': bodyBackgroundColor }"
        [style.width.px]="bodyWidthpx">
        <ng-content select="body"></ng-content>
      </div>
    </div>
  </ng-template>
</app-amcs-inner-container-group>
