<div class="portlet box blue portlet-fit portlet-skeleton box" *ngIf="loading; else loadedTemplate" appAutomationLocator
  [compName]="compName" [uniqueKey]="div">
  <div class="portlet-title">
    <div class="caption portlet-skeleton-text-block">
    </div>
  </div>
  <div class="portlet-body">
    <!-- CSS animation taken from https://codepen.io/trungk18/pen/yJggrL -->
    <div class="portlet-skeleton-body-load">
      <div class="square square-c state1c"></div>
      <div class="square square-c state2c"></div>
    </div>
  </div>
</div>
<ng-template #loadedTemplate>
  <div class="portlet box blue portlet-fit">
    <div class="portlet-title">
      <div class="caption col-md-9 col-sm-9 col-xs-9">
        <span class="caption-subject bold uppercase">{{header}}</span>
        <a *ngIf="!expandedMode" class="caption-helper" (click)="subheaderSelected.emit($event)" appAutomationLocator
          [compName]="compName" [uniqueKey]="'subHeader'">{{subHeader}}</a>
        <span *ngIf="expandedMode" class="caption-helper">{{subHeader}}</span>
      </div>
      <div class="actions col-md-3 col-sm-3 col-xs-3 has-buttons">

        <app-amcs-button *ngFor="let button of buttons;let i=index" [compName]="compName" [uniqueKey]="'btn_'+i"
          [customClass]="getButtonClasses(button.caption, button.icon, button.link)" (click)="button.action()">
          <span>{{ button.caption }}</span>
          <i *ngIf="button.icon" class="fal {{button.icon}} fa-2x"></i>
        </app-amcs-button>

      </div>
    </div>
    <div class="portlet-body">
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>