<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="amcs" type="AMCS.Data.Configuration.ProjectConfigurationSection, AMCS.Data" allowLocation="true" allowDefinition="Everywhere" />
    <section name="amcs.serviceRoots" type="AMCS.Data.Configuration.ServiceRootsConfigurationSection, AMCS.Data" allowLocation="true" allowDefinition="Everywhere" />
    <section name="amcs.server" type="AMCS.Data.Server.Configuration.ServerConfigurationSection, AMCS.Data.Server" allowLocation="true" allowDefinition="Everywhere" />
    <section name="amcs.platform-framework" type="AMCS.PlatformFramework.Server.Configuration.PlatformFrameworkConfigurationSection, AMCS.PlatformFramework.Server" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="owin:appStartup" value="AMCS.ApiService.Startup" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <amcs
    projectId="AMCS"
    serviceRootName="PlatformFrameworkServiceRoot" />
  <amcs.serviceRoots>
    <add name="PlatformFrameworkServiceRoot" url="http://localhost:60047/" />
    <add name="CoreServiceRoot" url="http://localhost:26519/" />
  </amcs.serviceRoots>
  <!-- Set azureCompatibilityEnabled to `true` to enable runtime Azure compatibility translation, removing group_concat and GETDATE calls -->
  <!-- performanceMonitoringEnabled should always be false (change it and checkin if you see it set to true) as it's comes with overhead-->
  <!-- bulkCopyTimeout with a value of 0 indicates no limit; the bulk copy will wait indefinitely. -->
  <amcs.server
    dataAccessType="SQL"
    commandTimeout="240"
    commandTimeoutExtended="600"
    bulkCopyTimeout="600"
    performanceMonitoringEnabled="false"
    azureCompatibilityEnabled="false"
    dataSynchronizationDisabled="true"
    sessionExpiration="1.00:00:00"
    encryptionKey="supersecret!supersecret!"
    certificateSubjectName=""
    certificatePath=""
    applicationInsightsInstrumentationKey="" />
  <amcs.platform-framework
    neutralTimeZoneId="Europe/Dublin"
    tenantId="4C0FFDF1-CC0A-4C1F-A023-7B2C0354AE98" />
  <connectionStrings>
    <add name="PlatformFrameworkConnectionString" connectionString="Data Source=.;Initial Catalog=PlatformFrameworkDevelopment;User ID=sa;Password=T7axEiTYigXtE4ap/Z7Wbw==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5p] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
