@import "sass/abstracts/variables";

ul {
  &.top-level-list {
    border: 1px solid $amcs-grid-border-color;
    margin-left: 15px;
    margin-right: 15px;

    > li {
      display: flex;
      align-items: center;
      min-height: 54px;
      padding: 0 !important;

      &.mt-list-item.expandable {
        cursor: pointer;
      }

      &:nth-child(odd).alternate-row-color {
        background-color: $amcs-grid-row-stripe-color;
      }

      &:hover {
        &.mt-list-item.expandable {
          background-color: $amcs-grid-row-hover-color;
        }
      }

      &.header {
        background-color: $amcs-grid-header-color;
      }
    }

    > .selected-row {
      background-color: $amcs-grid-selected-row-color !important;
    }
  }
}

.caption {
  line-height: 30px !important;
}

.input-icon {
  i {
    color: $amcs-grey-button-background-color-hover !important;
    right: 7px !important;
    top: -3px !important;
  }

  input {
    height: 28px !important;
    border-radius: 0 !important;
  }
}

.align-right {
  text-align: right !important;
}

.no-border {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}

.no-selection-border {
  border-left: none !important;
}

.no-margin {
  margin: 0 !important;
}

.height-40 {
  > li {
    min-height: 40px !important;
  }
}
