@import "sass/abstracts/mixins";
.loading-animation {
    text-align: center;
    padding-top: 200px;
    height: 400px;
}

.line {
    display: inline-block;
    background-color: #61c250;
    border-radius: 15px;
    height: 15px;
    width: 15px;
}
.loading-animation .line {
    @include bounce-up(15px);
}

.loading-animation .line:nth-last-child(1) {
    animation: bounce-up 0.6s 0.1s linear infinite;
}

.loading-animation .line:nth-last-child(2) {
    animation: bounce-up 0.6s 0.2s linear infinite;
}

.loading-animation .line:nth-last-child(3) {
    animation: bounce-up 0.6s 0.3s linear infinite;
}
.buttonWrapper{
    padding-top: 15px;
}
