<div *ngIf="showFilter || showDeleted" class="grid-filters">
  <div class="row full-width" *ngIf="!headerTemplate">
    <div class="col-xs-9" *ngIf="showFilter">
      <ng-template [ngTemplateOutlet]="filterTemplate"></ng-template>
    </div>
    <div class="pull-right amcs-input checkbox" *ngIf="showDeleted">
      <label class="mt-checkbox mt-checkbox-outline checkbox-label">
        <input type="checkbox" appAutomationLocator (change)="showDeletedData($event)" [compName]="compName"
          [uniqueKey]="'showDeletedChk'" />
        <span></span>
      </label>
      <span class="pull-right show-delete-label" [translate]="'grid.showDeleted'">Show Deleted</span>
    </div>
  </div>
  <div class="full-width" *ngIf="headerTemplate && showFilter">
    <div class="col-xs-5 header-filter">
      <ng-template [ngTemplateOutlet]="headerTemplate"></ng-template>
    </div>
    <div class="col-xs-7 pull-right header-filter">
      <ng-template [ngTemplateOutlet]="filterTemplate"></ng-template>
    </div>
  </div>
</div>
<ng-template #filterTemplate>
  <div class="grid-filter-container" [ngClass]="{'reduced-margin-top': reducedMarginTop }" [class]="filterCustomClass"
    [style.flex-direction]="rightAlignFilter ? 'row-reverse' : 'row'">
    <div class="grid-filter-search-container" [style.margin-right]="additionalOptionsTemplate ? '10px' : '0'">
      <i class="far fa-search" aria-hidden="true"></i>
      <input type="text" class="form-control" appAutomationLocator [compName]="compName" [uniqueKey]="'filterText'"
        placeholder="{{ filterPlaceholder || ('grid.filterPlaceholder' | translate) }}" [ngModel]="filterText"
        (ngModelChange)="onFilterTextChanged($event)" />
    </div>
  </div>
  <div *ngIf="additionalOptionsTemplate" class="grid-select-filter" [style.flex]="rightAlignFilter ? '0 1 auto' : '1'">
    <ng-template [ngTemplateOutlet]="additionalOptionsTemplate"></ng-template>
  </div>
</ng-template>
<div class="amcs-form-grid loading" *ngIf="loading" [style.height.px]="gridHeight">
  <div class="amcs-flex-row amcs-grid-header-row">
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{ 'flex-basis': '4%' }"></div>

    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{ 'flex-basis': '23%' }">
      <div class="skeleton-text-block"></div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{ 'flex-basis': '23%' }">
      <div class="skeleton-text-block"></div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{ 'flex-basis': '23%' }">
      <div class="skeleton-text-block"></div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{ 'flex-basis': '23%' }">
      <div class="skeleton-text-block"></div>
    </div>
    <div class="amcs-flex-item amcs-grid-header-cell" [ngStyle]="{ 'flex-basis': '4%' }">
      <div class="skeleton-text-block small"></div>
    </div>
  </div>
  <div class="amcs-flex-row amcs-grid-row">
    <div class="portlet-skeleton portlet-body">
      <div class="portlet-skeleton-body-load">
        <div class="square square-c state1c"></div>
        <div class="square square-c state2c"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading" appAutomationLocator [compName]="compName" [uniqueKey]="'grid'"
  [class.horizontal-scroll]="allowHorizontalScroll" [style.height.px]="gridHeight" [style.height.vh]="gridViewHeight"
  [style.max-height]="gridMaxHeight" [ngClass]="{'vertical-scroll': allowVerticalScroll}">
  <div class="amcs-flex-row amcs-grid-header-row header-row" *ngIf="!hideHeaders"
    [ngClass]="{'sticky': allowVerticalScroll}" [class.tooltip-sticky]="applyStickyTooltipClass">
    <div *ngIf="rowDetailTemplate && currentViewport === Viewport.desktop"
      class="amcs-flex-item item-4 amcs-grid-header-cell"></div>
    <div *ngIf="mobileRowDetailTemplate && currentViewport === Viewport.mobile"
      class="amcs-flex-item item-4 amcs-grid-header-cell"></div>
    <div *ngIf="rowTemplate" class="amcs-flex-item item-4 amcs-grid-header-cell">
      <ng-template *ngIf="rowHeaderTemplate" [ngTemplateOutlet]="rowHeaderTemplate"></ng-template>
    </div>
    <div [hidden]="!showSelectedCheckbox" class="amcs-grid-header-cell selected-column"
      [style.width.px]="selectedCheckboxColumnWidth">
      <div class="form-group form-md-line-input amcs-input checkbox header-checkbox">
        <div [hidden]="!allowMultiSelect" class="input-icon right">
          <label class="mt-checkbox mt-checkbox-outline checkbox-label" [class.is-disabled]="isSelectAllDisabled">
            <input type="checkbox" appAutomationLocator [checked]="isAllSelected" (change)="toggleSelectAll()"
              [compName]="compName" [uniqueKey]="'isSelectedAll'" [disabled]="isSelectAllDisabled" />
            <span></span>
          </label>
        </div>
      </div>
    </div>

    <div *ngFor="let column of visibleColumns; let v=index" mwlResizable
      (resizeStart)="resizeHelper.onResizeStart($event.rectangle.width)"
      (resizing)="resizeHelper.onResizing(column, $event.rectangle.width)" draggable="true" (dragstart)="drag(column)"
      (dragover)="dragOver($event)" (drop)="drop(column)" [style.flex-basis.%]="column.widthPercentage"
      class="amcs-flex-item amcs-grid-header-cell">
      <img class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true }"
        *ngIf="!(currentViewport === Viewport.mobile)" appAutomationLocator [compName]="compName"
        [uniqueKey]="'resize_' + v" />
      <div class="header-text-truncator" [ngClass]="{
          'text-right': alignHeaderWithCell && column.align === GridColumnAlignment.end,
          'text-center': alignHeaderWithCell && column.align === GridColumnAlignment.center
        }" (click)="column.sortDisabled ? null : onSortClicked(column)" appAutomationLocator [compName]="compName"
        [uniqueKey]="'sort_' + v">

        <app-amcs-tooltip-on-truncate
          [ngClass]="{ 'header-text-align-right': alignHeaderWithCell && column.align === GridColumnAlignment.end, 'bold-text':column.isBold}"
          [text]="column.title" [truncateText]="truncateText"></app-amcs-tooltip-on-truncate>

        <div *ngIf="!column.sortDisabled" class="header-text"
          [ngClass]="{ 'sort-icon-align-right': column.align === GridColumnAlignment.start }">
          <a class="sort-link">
            <i *ngIf="column.sortedBy" class="fas fa-chevron-up"></i>
            <i *ngIf="column.sortedByDesc" class="fas fa-chevron-down"></i>
            <i *ngIf="!(column.sortedBy || column.sortedByDesc)" class="fal fa-chevron-up"></i>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="actionColumnTemplate != null" class="amcs-grid-header-cell action-column"
      [style.width.px]="actionColumnWidth" [style.min-width.px]="actionColumnWidth"
      [style.max-width.px]="actionColumnWidth">
      <app-amcs-grid-action-column-header *ngIf="actionColumnHeaderOptions" [compName]="compName"
        [options]="actionColumnHeaderOptions">
      </app-amcs-grid-action-column-header>
    </div>
  </div>

  <!-- Top Totals for columns -->
  <div *ngIf="totalsHeaderConfig != null && filteredData && filteredData.length > 0"
    class="amcs-flex-row amcs-grid-row amcs-grid-total-row amcs-grid-row-disabled header-summary-row"
    [ngClass]="{'sticky': allowVerticalScroll}" [class.tooltip-sticky]="applyStickyTooltipClass">
    <div *ngIf="rowDetailTemplate && currentViewport === Viewport.desktop"
      class="amcs-flex-item item-4 amcs-grid-cell amcs-grid-expander-cell"></div>
    <div *ngIf="mobileRowDetailTemplate && currentViewport === Viewport.mobile"
      class="amcs-flex-item item-4 amcs-grid-cell amcs-grid-expander-cell"></div>
    <ng-container *ngFor="let column of visibleColumns; let first = first; let v = index">
      <div class="amcs-flex-item amcs-grid-cell" [ngClass]="{
          'amcs-grid-cell-right-align': column.align === GridColumnAlignment.end,
          'amcs-grid-cell-center-align': column.align === GridColumnAlignment.center
        }" [style.flex-basis.%]="column.widthPercentage">
        <ng-container *ngIf="first">
          <h5 class="monetary-header-title">{{ totalsHeaderConfig.title }}</h5>
        </ng-container>
        <ng-container *ngIf="column.includeInTopTotal">
          <ng-container [ngSwitch]="column.topTotalType">
            <ng-container *ngSwitchCase="ColumnType.text">
              <span appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_headerColumnTextTotal_' + i">{{topColumnTotals[column.key]}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.currency">
              <span class="currency-column" appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_headerColumnCurrencyTotal'">
                {{formatCurrencyValue(topColumnTotals[column.key], column.currencyCode, column.noOfDecimalPlaces)}}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.weight">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_headerRowWeight_' + i"
                class="currency-column">
                {{ topColumnTotals[column.key] | number: column.noOfDecimalPlaces }}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.shortDateTime">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_headerRowShortDateTime_' + i">
                {{ topColumnTotals[column.key] | localizedDate: 'shortDate' }}
                {{ topColumnTotals[column.key] | localizedDate: 'shortTime' }}
              </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span>{{ topColumnTotals[column.key] }}</span>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <div *ngIf="actionColumnTemplate != null"
      class="amcs-grid-cell btn-group dropdown amcs-grid-cell-row-actions action-column"
      [style.width.px]="actionColumnWidth" [style.min-width.px]="actionColumnWidth"
      [style.max-width.px]="actionColumnWidth"></div>
  </div>

  <div *ngIf="(!filteredData || filteredData.length < 1) && noDataTemplate" class="amcs-flex-row amcs-grid-row">
    <div class="amcs-flex-item amcs-grid-cell">
      <ng-container [ngTemplateOutlet]="noDataTemplate"></ng-container>
    </div>
  </div>

  <ng-container *ngFor="let row of filteredData; let last = last; let i = index">
    <div #rowDiv [tooltip]="row.tooltipText" [tooltipEnable]="!!row.tooltipText" [id]="row.id"
      class="amcs-flex-row amcs-grid-row" (click)="onRowClicked(row)" appAutomationLocator [compName]="compName"
      [uniqueKey]="'row_' + i" [ngClass]="{
          'amcs-grid-row-selected': !disableSelection && row.isSelected,
          'amcs-grid-row-disabled': disableSelection,
          'cell-remove-borders': removeCellBorders,
          'amcs-grid-row-highlighted': row.rowHighlighted,
          'amcs-grid-row-highlight-red-text': row.rowTextHighlighted,
          'amcs-grid-row-error': row.isRowStateError,
          'center-row-vertically': centerRowVertically,
          'row-error': row.rowWithError,
          'amcs-grid-color-red': row.rowHasNegativeValue || row.colorTypeId === GridRowColorEnum.red,
          'amcs-grid-color-green': row.colorTypeId === GridRowColorEnum.green,
          'amcs-grid-color-blue': row.colorTypeId === GridRowColorEnum.blue,
          'amcs-grid-color-yellow': row.colorTypeId === GridRowColorEnum.yellow,
          'amcs-grid-color-orange': row.colorTypeId === GridRowColorEnum.orange
        }" [ngStyle]="{
          height:
            this.currentViewport === Viewport.mobile && this.mobileRowHeight
              ? this.mobileRowHeight
              : this.desktopRowHeight
              ? this.desktopRowHeight
              : null}">
      <div *ngIf="rowDetailTemplate && currentViewport === Viewport.desktop"
        class="amcs-flex-item item-4 amcs-grid-cell amcs-grid-expander-cell">
        <i class="fa" (click)="onExpandRowClicked(row)"
          [ngClass]="{ 'fa-chevron-down': row.id !== expandedRowId, 'fa-chevron-up': row.id === expandedRowId }"
          aria-hidden="true" appAutomationLocator [compName]="compName" [uniqueKey]="'rowSelect_' + i"></i>
      </div>
      <div *ngIf="mobileRowDetailTemplate && currentViewport === Viewport.mobile"
        class="amcs-flex-item item-4 amcs-grid-cell amcs-grid-expander-cell">
        <i class="fa" (click)="onExpandRowClicked(row)"
          [ngClass]="{ 'fa-chevron-down': row.id !== expandedRowId, 'fa-chevron-up': row.id === expandedRowId }"
          aria-hidden="true" appAutomationLocator [compName]="compName" [uniqueKey]="'rowExpand_' + i"></i>
      </div>
      <div class="amcs-flex-item item-4 amcs-grid-cell" *ngIf="rowTemplate">
        <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{ row: row, index: i }">
        </ng-container>
      </div>
      <div [hidden]="!showSelectedCheckbox" class="amcs-grid-cell amcs-grid-cell-row-actions selected-column"
        [style.width.px]="selectedCheckboxColumnWidth" [ngClass]="{'center-checkbox-vertically': showSelectedCheckbox }"
        (click)="$event.stopPropagation()" appAutomationLocator [uniqueKey]="'row_' + i + '_div_isSelected'"
        [compName]="compName">
        <div class="input-icon right" [class.is-disabled]="row.isSelectDisabled ?? false">
          <label class="mt-checkbox mt-checkbox-outline checkbox-label"
            [class.is-disabled]="row.isSelectDisabled ?? false">
            <input type="checkbox" [(ngModel)]="row.isSelected" appAutomationLocator [compName]="compName"
              [uniqueKey]="'row_' + i + '_isSelected'" (ngModelChange)="onIsSelectedChanged(row)"
              [disabled]="row.isSelectDisabled ?? false" />
            <span [class.radiobutton]="radioButtonOverride" [ngClass]="{'select-error' : hasSelectionError}"
              appAutomationLocator [uniqueKey]="'row_' + i + '_span_isSelected'" [compName]="compName"></span>
          </label>
        </div>
      </div>
      <ng-container *ngFor="let column of visibleColumns;let v=index">
        <div class="amcs-flex-item amcs-grid-cell" [ngClass]="{
              'amcs-grid-cell-right-align': column.align === GridColumnAlignment.end,
              'amcs-grid-cell-center-align': column.align === GridColumnAlignment.center,
              'bold-text': column.isBold,
              'amcs-grid-color-red': column.cellColors[i] === GridCellColorEnum.red,
              'amcs-grid-color-green': column.cellColors[i] === GridCellColorEnum.green
            }" [style.flex-basis.%]="column.widthPercentage">
          <ng-container [ngSwitch]="column.type">
            <ng-container *ngSwitchCase="ColumnType.text">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowText_' + i">{{
                row[column.key] | glossary }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.superScript">
              <span>{{ row[column.key] | glossary
                }}<sup class="superscript superscript-green badge" *ngIf="row.rowHighlighted" appAutomationLocator
                  [compName]="compName" [uniqueKey]="v + '_rowSuperScript_' + i">{{ column.superScriptText
                  }}</sup></span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.conditionalLink">
              <span *ngIf="!row.displayLink(); else displayLink">{{ row[column.key] }}</span>
              <ng-template #displayLink>
                <a (click)="!disableSelection ? onLinkClicked(column.key, row) : null" appAutomationLocator
                  [compName]="compName" [uniqueKey]="v + '_rowConditionLink_' + i">{{ row[column.key] | glossary }}</a>
              </ng-template>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.link">
              <a [ngClass]="{ 'amcs-grid-row-highlight-red-text': row.rowTextHighlighted }"
                (click)="!disableSelection ? onLinkClicked(column.key, row) : null" appAutomationLocator
                [compName]="compName" [uniqueKey]="v + '_rowLink_' + i">{{ row[column.key] | glossary}}</a>
              <sup *ngIf="column.superScriptTextPropertyName" class="superscript badge" [ngClass]="{
                    'superscript-green': row.superscriptColour === GridSuperscriptColour.green,
                    'superscript-yellow': row.superscriptColour === GridSuperscriptColour.yellow
                  }">
                {{ row[column.superScriptTextPropertyName] }}</sup>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.enumeration">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowEnumeration_' + i">{{
                row[column.key] | gridEnumeration: column.enumerations
                }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.popover">
              <ng-container *ngIf="row.showMore">
                {{ row[column.key] }}
                <a (click)="onPopoverClicked(row)" [popover]="popoverTemplate" placement="right" [outsideClick]="true"
                  container="body" [translate]="'grid.viewMore'" appAutomationLocator [compName]="compName"
                  [uniqueKey]="v + '_rowViewMore_' + i">View More</a>
              </ng-container>
              <ng-container *ngIf="!row.showMore && popoverTemplate">
                <a (click)="onPopoverClicked(row)" [popover]="popoverTemplate" placement="left" [outsideClick]="true"
                  containerClass="selector-popover" container="body" appAutomationLocator [compName]="compName"
                  [uniqueKey]="v + '_rowShowMore_' + i">
                  <span *ngIf="!column.currencyCode">{{ row[column.key] }}</span>
                  <span *ngIf="column.currencyCode">
                    {{formatCurrencyValue(row[column.key], column.currencyCode, column.noOfDecimalPlaces)}}
                  </span></a>
              </ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="ColumnType.email">
              <a href="mailto:{{ row[column.key] }}" appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_rowEmail_' + i">{{ row[column.key] }}</a>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.boolean">
              <i class="fa fa-check green-tick" aria-hidden="true" *ngIf="row[column.key]" appAutomationLocator
                [compName]="compName" [uniqueKey]="v + '_rowBool_' + i"></i>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.currency">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowCurrecy_' + i"
                class="currency-column">
                {{formatCurrencyValue(row[column.key], column.currencyCode, column.noOfDecimalPlaces)}}
                <sup *ngIf="row.additionalPrice" appAutomationLocator [compName]="compName"
                  [uniqueKey]="v + '_additionalPrice_' + i">{{ column.superScriptText }}</sup>
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.weight">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowWeight_' + i"
                class="currency-column">
                {{ row[column.key] | number: column.noOfDecimalPlaces }}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.numericInput">
              <app-amcs-input [compName]="compName" [uniqueKey]="v + '_rowInput_' + i" type="number"
                [(ngModel)]="row[column.key]" [displayMode]="displayMode" (click)="event$.stopPropagation()">
              </app-amcs-input>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.shortDate">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowShortDate_' + i">{{
                row[column.key] | localizedDate: 'shortDate'
                }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.shortDateTime">
              <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_rowShortDateTime_' + i">{{
                row[column.key] | localizedDate: 'shortDate' }}
                {{ row[column.key] | localizedDate: 'shortTime' }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.truncatedText">
              <app-amcs-tooltip-on-truncate [manualResize]="column.tooltipManualResizeSubject"
                [text]="row[column.key] | glossary">
              </app-amcs-tooltip-on-truncate>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.truncatedDateTime">
              <app-amcs-tooltip-on-truncate [manualResize]="column.tooltipManualResizeSubject" [text]="row[column.key]">
              </app-amcs-tooltip-on-truncate>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.template">
              <ng-container [ngTemplateOutlet]="column.template"
                [ngTemplateOutletContext]="{ row: row, tooltipManualResizeSubject: column.tooltipManualResizeSubject }">
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.selectInput">
              <app-amcs-select [compName]="compName" [uniqueKey]="v + '_rowSelect_' + i" [(ngModel)]="row[column.key]"
                [options]="column.selectItems" [displayMode]="displayMode" (change)="onValueChanged(row.id, column.key)"
                (click)="event$.stopPropagation()">
              </app-amcs-select>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.rateNumber">
              <span class="currency-column" appAutomationLocator [compName]="compName"
                [uniqueKey]="v + '_rowRate_' + i">{{
                row[column.key] | number: '.4-4' | minusToParenthesis
                }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="ColumnType.number">
              <span>{{ row[column.key] | numberFormatter }}</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span>{{ row[column.key] | glossary }}</span>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>

      <div *ngIf="actionColumnTemplate != null"
        class="amcs-grid-cell btn-group dropdown amcs-grid-cell-row-actions action-column"
        [style.width.px]="actionColumnWidth" [style.min-width.px]="actionColumnWidth"
        [style.max-width.px]="actionColumnWidth" (click)="onActionClicked()" appAutomationLocator [compName]="compName"
        [uniqueKey]="'rowAction_' + i" [ngClass]="{'center-actions-vertically': centerRowVertically}">
        <ng-container *ngIf="!row.removeRowActionTemplate" [ngTemplateOutlet]="actionColumnTemplate"
          [ngTemplateOutletContext]="{ row: row, index: i }">
        </ng-container>
      </div>
    </div>

    <!-- Totals for columns -->
    <div class="amcs-flex-row amcs-grid-row amcs-grid-total-row footer-summary-row"
      *ngIf="last && totalsFooterConfig != null" [ngClass]="{
      'amcs-grid-row-disabled': disableSelection,
      'sticky': allowVerticalScroll }" [class.tooltip-sticky]="applyStickyTooltipClass">
      <div *ngIf="rowDetailTemplate && currentViewport === Viewport.desktop"
        class="amcs-flex-item item-4 amcs-grid-cell amcs-grid-expander-cell"></div>
      <div *ngIf="mobileRowDetailTemplate && currentViewport === Viewport.mobile"
        class="amcs-flex-item item-4 amcs-grid-cell amcs-grid-expander-cell"></div>
      <ng-container *ngFor="let column of visibleColumns; let first = first; let v = index">
        <div class="amcs-flex-item amcs-grid-cell" [ngClass]="{
            'amcs-grid-cell-right-align': column.align === GridColumnAlignment.end,
            'amcs-grid-cell-center-align': column.align === GridColumnAlignment.center
          }" [style.flex-basis.%]="column.widthPercentage">
          <ng-container *ngIf="first">
            <h5 class="monetary-footer-title">{{ totalsFooterConfig.title }}</h5>
          </ng-container>
          <ng-container *ngIf="column.includeInTotal">
            <ng-container [ngSwitch]="column.type">
              <ng-container *ngSwitchCase="ColumnType.text">
                <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_footerColumnTextTotal_' + i">{{
                  columnTotals[column.key]
                  }}</span>
              </ng-container>
              <ng-container *ngSwitchCase="ColumnType.currency">
                <span class="currency-column" appAutomationLocator [compName]="compName"
                  [uniqueKey]="v + '_footerColumnCurrencyTotal'">
                  {{formatCurrencyValue(columnTotals[column.key], column.currencyCode, column.noOfDecimalPlaces)}}
                  <sup *ngIf="row.additionalPrice" appAutomationLocator [compName]="compName"
                    [uniqueKey]="v + '_footerAdditionalPrice_' + i">{{ column.superScriptText }}</sup>
                </span>
              </ng-container>
              <ng-container *ngSwitchCase="ColumnType.weight">
                <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_footerRowWeight_' + i"
                  class="currency-column">
                  {{ row[column.key] | number: column.noOfDecimalPlaces }}
                </span>
              </ng-container>
              <ng-container *ngSwitchCase="ColumnType.shortDateTime">
                <span appAutomationLocator [compName]="compName" [uniqueKey]="v + '_footerRowShortDateTime_' + i">
                  {{ columnTotals[column.key] | localizedDate: 'shortDate' }}
                  {{ columnTotals[column.key] | localizedDate: 'shortTime' }}
                </span>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <span>{{ columnTotals[column.key] }}</span>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
      <div *ngIf="actionColumnTemplate != null"
        class="amcs-grid-cell btn-group dropdown amcs-grid-cell-row-actions action-column"
        [style.width.px]="actionColumnWidth" [style.min-width.px]="actionColumnWidth"
        [style.max-width.px]="actionColumnWidth"></div>
    </div>

    <ng-container *ngIf="rowDetailTemplate && currentViewport === Viewport.desktop && row.id === expandedRowId">
      <div (@expandAndCollapse.done)="tileUiService.innerTilesChanged.next()" [@expandAndCollapse]
        class="amcs-flex-row amcs-grid-expanded-row">
        <div class="portlet-skeleton portlet-body" *ngIf="detailsLoading; else loadedTemplate">
          <div class="portlet-skeleton-body-load">
            <div class="square square-c state1c"></div>
            <div class="square square-c state2c"></div>
          </div>
        </div>
        <div class="details-container" [ngClass]="{ 'hide-content': detailsLoading }">
          <ng-template #loadedTemplate [ngTemplateOutlet]="rowDetailTemplate"
            [ngTemplateOutletContext]="{ row: row, index: i }">
          </ng-template>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="mobileRowDetailTemplate && currentViewport === Viewport.mobile && row.id === expandedRowId">
      <div (@expandAndCollapse.done)="tileUiService.innerTilesChanged.next()" [@expandAndCollapse]
        class="amcs-flex-row amcs-grid-expanded-row">
        <div class="portlet-skeleton portlet-body" *ngIf="detailsLoading; else loadedTemplate">
          <div class="portlet-skeleton-body-load">
            <div class="square square-c state1c"></div>
            <div class="square square-c state2c"></div>
          </div>
        </div>
        <div class="details-container" [ngClass]="{ 'hide-content': detailsLoading }">
          <ng-template #loadedTemplate [ngTemplateOutlet]="mobileRowDetailTemplate"
            [ngTemplateOutletContext]="{ row: row, index: i }">
          </ng-template>
        </div>
      </div>
    </ng-container>
  </ng-container>

</div>

<div *ngIf="includePaging" class="amcs-flex-row amcs-grid-footer-row" [class]="customFooterClass">
  <div class="amcs-grid-footer-cell">
    <mat-paginator [length]="totalItemCount" [pageSize]="pageSize" [hidePageSize]="true" [pageIndex]="pageIndex"
      (page)="onPageChanged($event.pageIndex)" appAutomationLocator [compName]="compName" [uniqueKey]="'paging'">
    </mat-paginator>
  </div>
</div>